@use './mixins' as *;

.sb {
  &-chart {
    &-line {
      width: 100%;
      height: 400px;

      .echart {
        width: 100%;
        height: 400px;
      }
      &-tooltip {
        width: 158px;
        color: var(--chart-line-tooltip-color);
        &__title {
          margin-bottom: 8px;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 16.8px */
          letter-spacing: -0.3px;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            margin: 0;
            padding: 0;
            p {
              display: flex;
              align-items: center;
              gap: 5px;
              margin: 0;
              span {
                min-width: 8px;
                width: 8px;
                height: 8px;
                border-radius: 8px;
              }
              strong {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 16.8px */
                letter-spacing: -0.3px;
              }
            }
            > span {
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 12px solid var(--chart-line-tooltip-background);
          pointer-events: none;
        }
      }
    }
    &-doughnut {
      width: 100%;
      height: 147px;

      .echart {
        width: 100%;
        height: 147px;
      }
    }
    &-stackedbar {
      width: 100%;
      height: 72px;
      .echart {
        width: 100%;
        height: 72px;
      }
    }
    &-gauge {
      width: 100%;
      height: 120px;

      overflow: hidden;
      .echart {
        width: 100%;
        height: 240px;
      }
    }
  }
}
