@use './mixins' as *;

.sb {
  &-chart {
    &-line {
      width: 100%;
      height: 400px;

      .echart {
        width: 100%;
        height: 400px;
      }
      &-tooltip {
        width: 158px;
        color: var(--chart-line-tooltip-color);
        &__title {
          margin-bottom: 8px;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 16.8px */
          letter-spacing: -0.3px;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            margin: 0;
            padding: 0;
            p {
              display: flex;
              align-items: center;
              gap: 5px;
              margin: 0;
              span {
                min-width: 8px;
                width: 8px;
                height: 8px;
                border-radius: 8px;
              }
              strong {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 16.8px */
                letter-spacing: -0.3px;
              }
            }
            > span {
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 12px solid var(--chart-line-tooltip-background);
          pointer-events: none;
        }
      }
    }
    &-doughnut {
      width: 100%;
      height: 147px;

      .echart {
        width: 100%;
        height: 147px;
      }
      &--lg {
        width: 100%;
        height: 200px;

        .echart {
          width: 100%;
          height: 200px;
        }
      }
    }
    &-doughnut02 {
      width: 100%;
      height: 194px;

      .echart {
        width: 100%;
        height: 194px;
      }
    }
    &-stackedbar {
      width: 100%;
      height: 72px;
      .echart {
        width: 100%;
        height: 72px;
      }
    }
    &-stackedbar02 {
      width: 100%;
      height: 72px;
      .echart {
        width: 100%;
        height: 72px;
      }
    }
    &-gauge {
      width: 100%;
      height: 120px;

      overflow: hidden;
      .echart {
        width: 100%;
        height: 240px;
      }
    }
    &-bar {
      width: 100%;
      height: 154px;

      overflow: hidden;
      .echart {
        width: 100%;
        height: 154px;
      }
    }
    &-segment {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 40px;
      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 80px;
        padding: 0 10px;
        &__value {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          letter-spacing: -0.4px;
        }
        &__percent {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
        &__bar {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          gap: 4px;
        }
        &__segments {
          width: 100%;
          height: 4px;
          border-radius: 2px;
          transition: background-color 0.3s ease;
          background-color: var(--chart-segment-segments-color);
        }
        &__legend {
          display: flex;
          align-items: center;
          gap: 4px;
          color: var(--chart-segment-legend-color);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 16.8px */
          letter-spacing: -0.3px;
          &::before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            display: none;
          }
        }
        &.color-primary {
          color: var(--chart-segment-primary);
        }
        &.color-primary & {
          &__segments {
            &.active {
              background-color: var(--chart-segment-primary);
            }
          }
          &__legend {
            &::before {
              background-color: var(--chart-segment-primary);
            }
          }
        }
        &.color-success {
          color: var(--chart-segment-success);
        }
        &.color-success & {
          &__segments {
            &.active {
              background-color: var(--chart-segment-success);
            }
          }
          &__legend {
            &::before {
              background-color: var(--chart-segment-success);
            }
          }
        }
        &.color-secondary {
          color: var(--chart-segment-secondary);
        }
        &.color-secondary & {
          &__segments {
            &.active {
              background-color: var(--chart-segment-secondary);
            }
          }
          &__legend {
            &::before {
              background-color: var(--chart-segment-secondary);
            }
          }
        }
        &.color-info {
          color: var(--chart-segment-info);
        }
        &.color-info & {
          &__segments {
            &.active {
              background-color: var(--chart-segment-info);
            }
          }
          &__legend {
            &::before {
              background-color: var(--chart-segment-info);
            }
          }
        }
        &.color-warn {
          color: var(--chart-segment-warn-text);
        }
        &.color-warn & {
          &__segments {
            &.active {
              background-color: var(--chart-segment-warn);
            }
          }
          &__legend {
            &::before {
              background-color: var(--chart-segment-warn);
            }
          }
        }
        &.color-danger {
          color: var(--chart-segment-danger);
        }
        &.color-danger & {
          &__segments {
            &.active {
              background-color: var(--chart-segment-danger);
            }
          }
          &__legend {
            &::before {
              background-color: var(--chart-segment-danger);
            }
          }
        }
        &.color-contrast {
          color: var(--chart-segment-contrast);
        }
        &.color-contrast & {
          &__segments {
            &.active {
              background-color: var(--chart-segment-contrast);
            }
          }
          &__legend {
            &::before {
              background-color: var(--chart-segment-contrast);
            }
          }
        }
      }
      &--icon & {
        &-item {
          &__legend {
            &::before {
              display: block;
            }
          }
        }
      }
      &--large {
        gap: 24px;
      }
    }
  }
}
