@use './mixins' as *;

.sb {
  &-community {
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    &-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &-sort {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }
  &-qna {
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      &-item {
        width: 100%;
        padding: 40px;
        border-radius: 30px;
        background: var(--Gray-00_FFFFFF, #fff);
        &__head {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
        }
        &__title {
          color: var(--primary-500_00B1BD, var(--primary-500_00B1BD, #00b1bd));
        }
        &__date {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-left: 10px;
          color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));

          /* PC/Pretendard JP/Body/Small */

          font-size: var(--Font-Body-Medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
          &::before {
            content: '';
            display: block;
            width: 1px;
            height: 12px;
            border-radius: 99px;
            background: var(--Gray-300_D1D6DD, #d1d6dd);
          }
        }
        &__badge {
          margin-left: auto;
        }
        &__menu {
          margin-left: 5px;
        }
        &__content {
          color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));

          font-size: var(--Font-Body-Large, 16px);
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          letter-spacing: -0.4px;
          @include text-clamp(3, 25.6);
        }
      }
    }
    &-write {
      &-category {
        .sb-radio {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          &-item {
            position: relative;
            display: flex;
            align-items: center;
            height: 36px;
            padding: 8px 12px;
            border-radius: 999px;
            border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
            .p-radiobutton {
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 0;
              opacity: 0;
            }
            label {
              display: flex;
              align-items: center;
              gap: 5px;
              color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
              text-align: center;
              font-size: var(--Font-Button-Small, 14px);
              font-style: normal;
              font-weight: 700;
              letter-spacing: -0.35px;
            }
          }
        }
      }
      .sb-caution {
        margin-top: 30px;
      }
    }
    &-view {
      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
        h5 {
          color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
        }
      }
      &__title {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      &__meta {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      &__date {
        color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
        font-size: var(--Font-Body-Medium, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.35px;
      }
      &__menu {
        display: flex;
        align-items: center;
      }
      &__body {
        .sb-attachment {
          margin-top: 24px;
        }
      }
      &__contents {
        color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
        font-size: var(--Font-Body-Large, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.4px;
      }
      &__attachment {
      }
      &-answer {
        margin-top: 32px;
        padding: 32px;
        border-radius: 16px;
        background: var(--Gray-50_F9FBFC, #f9fbfc);
        &__head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 8px;
        }
        &__author {
          color: var(--Gray-600_495666, var(--Gray-600_495666, #454f5b));
          font-size: var(--Font-Heading-Small, 16px);
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          letter-spacing: -0.4px;
        }
        &__date {
          color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
          font-size: var(--Font-Body-Medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
        &__content {
          color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));

          /* PC/Pretendard JP/Body/Large-long */
          font-family: var(--Font-Family-Pretendard-JP, 'Pretendard JP');
          font-size: var(--Font-Body-Large, 16px);
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          letter-spacing: -0.4px;
        }
      }
    }
  }
  &-notice {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      &-item {
        display: block;
        padding: 40px;
        border-radius: 30px;
        background: var(--Gray-00_FFFFFF, #fff);
        text-decoration: none;
        &__badge {
          margin-bottom: 10px;
        }
        &__title {
          color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
          @include text-clamp(2, 28);
        }
        &__foot {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
        }
      }
      &-button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
    }

    &-view {
      padding: 40px;
      border-radius: 30px;
      background: var(--Gray-00_FFFFFF, #fff);
    }
  }
  &-faq {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      &-item {
        display: block;
        padding: 40px;
        border-radius: 30px;
        border: none;
        background: var(--Gray-00_FFFFFF, #fff);
        text-decoration: none;
        &__badge {
          margin-bottom: 10px;
        }
        &__title {
          color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
          @include text-clamp(2, 28);
        }
        &__foot {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
        }
      }
      &-button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
    }

    &-view {
      padding: 40px;
      border-radius: 30px;
      background: var(--Gray-00_FFFFFF, #fff);
    }
  }
  &-story {
    &-list {
      &-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        border-radius: 30px;
        background: var(--Gray-00_FFFFFF, #fff);
        a {
          display: flex;
          flex-direction: column;
          gap: 20px;
          text-decoration: none;
        }
        &__head {
          display: flex;
        }
        &__thumb {
          width: 48px;
          height: 48px;
          margin-right: 20px;
          background: url(../icons/profile/default.svg);
          border-radius: 48px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          height: 48px;
          p {
            margin: 0;
            color: var(
              --primary-500_00B1BD,
              var(--primary-500_00B1BD, #00b1bd)
            );
            text-align: center;

            /* PC/Pretendard JP/Body/Large-Bold */
            font-family: var(--Font-Family-Pretendard-JP, 'Pretendard JP');
            font-size: var(--Font-Body-Large, 16px);
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
          span {
            color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));

            /* PC/Pretendard JP/Body/Small */
            font-family: var(--Font-Family-Pretendard-JP, 'Pretendard JP');
            font-size: var(--Font-Body-Medium, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
          }
        }
        &__menu {
          margin-left: auto;
        }
        &__title {
          margin: 0 0 0 68px;
          color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
          @include text-clamp(2, 28);
        }
        &__contents {
          margin: 0 0 0 68px;
          color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
          font-size: var(--Font-Body-Large, 16px);
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          letter-spacing: -0.4px;
          @include text-clamp(3, 25.6);
        }
        &__image {
          margin: 0 0 0 68px;
          img {
            width: 160px;
            height: 160px;
            border-radius: 16px;
            object-fit: cover;
          }
        }
        &__foot {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    &-view {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30px;
      border-radius: 30px;
      background: var(--Gray-00_FFFFFF, #fff);
      &__head {
        display: flex;
      }
      &__thumb {
        width: 48px;
        height: 48px;
        margin-right: 20px;
        background: url(../icons/profile/default.svg);
        border-radius: 48px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 48px;
        p {
          margin: 0;
          color: var(--primary-500_00B1BD, var(--primary-500_00B1BD, #00b1bd));
          text-align: center;

          /* PC/Pretendard JP/Body/Large-Bold */
          font-family: var(--Font-Family-Pretendard-JP, 'Pretendard JP');
          font-size: var(--Font-Body-Large, 16px);
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          letter-spacing: -0.4px;
        }
        span {
          color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));

          /* PC/Pretendard JP/Body/Small */
          font-family: var(--Font-Family-Pretendard-JP, 'Pretendard JP');
          font-size: var(--Font-Body-Medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
      }
      &__menu {
        margin-left: auto;
      }
      &__title {
        margin: 0 0 0 68px;
        color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
        @include text-clamp(2, 28);
      }
      &__contents {
        margin: 0 0 0 68px;
        color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
        font-size: var(--Font-Body-Large, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.4px;
        @include text-clamp(3, 25.6);
      }
      &__image {
        margin: 0 0 0 68px;
        img {
          width: 160px;
          height: 160px;
          border-radius: 16px;
          object-fit: cover;
        }
      }
      &__foot {
        display: flex;
        justify-content: flex-end;
      }
    }
    &-write {
      padding: 40px;
      border-radius: 32px;
      background: var(--Gray-00_FFFFFF, #fff);
      &__title {
        margin-bottom: 32px;
        color: var(--primary-500_00B1BD, var(--primary-500_00B1BD, #00b1bd));
      }
      &-form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        &-item {
          > label {
            display: block;
            margin-bottom: 8px;
            color: var(--Gray-700_38414F, var(--Gray-700_38414F, #38414f));
            font-size: var(--Font-Heading-Small, 16px);
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
        }
      }
      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 40px;
      }
    }
  }
}
