@use './mixins' as *;

.sb {
  &-community {
    &-head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &__title {
        margin-bottom: 40px;
        h4 {
          color: var(--title-color);
        }
      }
    }
    &-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &-sort {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
    @media screen and (max-width: $BreakpointMd) {
      &-head {
        justify-content: flex-end;
        &__title {
          display: none;
        }
      }
      &-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 24px;
        .sb-searchbar {
          width: 100%;
        }
      }
      &-sort {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 12px;
      }
    }
  }
  &-qna {
    &-list {
      &-item {
        width: 100%;
        padding: 40px;
        border-radius: 30px;
        background: var(--community-list-item-background);
        &__head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          &-start,
          &-end {
            display: flex;
            align-items: center;
          }
        }
        &__title {
          color: var(--community-list-item-title-color);
        }
        &__date {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-left: 8px;
          color: var(--community-list-item-date-color);
          font-size: var(--Font-Body-Medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
          &::before {
            content: '';
            display: block;
            width: 1px;
            height: 12px;
            border-radius: 99px;
            background: var(--community-list-item-divider-color);
          }
        }
        &__badge {
        }
        &__menu {
          display: flex;
          margin-left: 8px;
        }
        &__content {
          display: block;
          width: 100%;
          padding: 0;
          background: none;
          border: none;
          color: var(--contents-color);
          text-align: left;
          font-size: var(--Font-Body-Large, 16px);
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          letter-spacing: -0.4px;
          @include text-clamp(3, 25.6);
        }
      }
    }
    &-write {
      &-category {
        .sb-radio {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          &-item {
            .p-radiobutton {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: auto;
              height: auto;
              z-index: 10;
              .p-radiobutton-input {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: auto;
                height: auto;
                border-radius: 999px;
                border: none;
                opacity: 0;
              }
              .p-radiobutton-box {
                display: none;
              }
              &-checked {
                .p-radiobutton-input {
                  background-color: var(--primary-500_00B1BD, #00b1bd);
                  border-color: var(--primary-500_00B1BD, #00b1bd);
                  color: #fff;
                  opacity: 1;
                }
              }
              &-checked ~ label {
                border-color: var(--primary-500_00B1BD, #00b1bd);
                color: #fff;
                svg {
                  color: #fff;
                }
              }
            }
            label {
              position: relative;
              z-index: 20;
              display: flex;
              align-items: center;
              gap: 5px;
              height: 32px;
              padding: 4px 12px;
              border-radius: 999px;
              border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
              color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
              text-align: center;
              font-size: var(--Font-Button-Small, 14px);
              font-style: normal;
              font-weight: 700;
              letter-spacing: -0.35px;
            }
          }
        }
      }
      .sb-caution {
        margin-top: 30px;
      }
    }
    &-view {
      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
        h5 {
          color: var(--contents-color);
        }
      }
      &__title {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      &__meta {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      &__date {
        color: var(--qna-view-answer-color);
        font-size: var(--Font-Body-Medium, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.35px;
      }
      &__menu {
        display: flex;
        align-items: center;
      }
      &__body {
        .sb-attachment {
          margin-top: 24px;
        }
      }
      &__contents {
        color: var(--contents-color);
        font-size: var(--Font-Body-Large, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.4px;
        overflow: hidden;
        img {
          display: block;
          max-width: 100%;
        }
      }
      &__attachment {
      }
      &-answer {
        margin-top: 32px;
        padding: 32px;
        border-radius: 16px;
        background: var(--qna-view-answer-background);

        &__head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 8px;
        }
        &__author {
          color: var(--qna-view-answer-author-color);
          font-size: var(--Font-Heading-Small, 16px);
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          letter-spacing: -0.4px;
        }
        &__date {
          color: var(--qna-view-answer-date-color);
          font-size: var(--Font-Body-Medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
        &__content {
          color: var(--qna-view-answer-content-color);
          font-size: var(--Font-Body-Large, 16px);
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          letter-spacing: -0.4px;
        }
      }
    }
    @media screen and (max-width: $BreakpointMd) {
      &-list {
        .masonry-column {
          gap: 12px !important;
        }
        &-item {
          padding: 20px;
          border-radius: 24px;
          &__head {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 13px;
            margin-bottom: 16px;
            &-start {
              width: 100%;
            }
            &-end {
              width: 100%;
              justify-content: space-between;
            }
          }
          &__date {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-left: 8px;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 16.9px */
            letter-spacing: -0.325px;
            &::before {
              display: none;
            }
          }
          &__menu {
            display: flex;
            margin-left: 8px;
          }
          &__content {
            display: block;
            padding: 0;
            background: none;
            border: none;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 22.5px */
            letter-spacing: -0.5px;
            @include text-clamp(2, 22.5);
          }
        }
      }
      &-write {
        position: relative;
        padding: 24px 0 20px;
        &-category {
          .sb-radio {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            &-item {
              .p-radiobutton {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                opacity: 0;
                &-checked ~ label {
                  background-color: var(--primary-500_00B1BD, #00b1bd);
                  border-color: var(--primary-500_00B1BD, #00b1bd);
                  color: #fff;
                }
              }
              label {
                position: relative;
                display: flex;
                align-items: center;
                gap: 5px;
                height: 32px;
                padding: 4px 12px;
                border-radius: 999px;
                border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
                color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
                text-align: center;
                font-size: var(--Font-Button-Small, 14px);
                font-style: normal;
                font-weight: 700;
                letter-spacing: -0.35px;
              }
            }
          }
        }
        .sb-caution {
          margin-top: 30px;
        }
      }
      &-view {
        &__head {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          margin-bottom: 16px;
        }
        &__title {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 13px;
        }
        &__meta {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        &__date {
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%; /* 16.9px */
          letter-spacing: -0.325px;
        }
        &__menu {
          display: flex;
          align-items: center;
        }
        &__body {
          .sb-attachment {
            margin-top: 16px;
          }
        }
        &__contents {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
          letter-spacing: -0.35px;
        }
        &-answer {
          margin-top: 24px;
          padding: 20px;
          &__head {
            margin-bottom: 12px;
          }
          &__author {
            font-size: var(--Font-Heading-Small, 16px);
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
          &__date {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 16.9px */
            letter-spacing: -0.325px;
          }
          &__content {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
            letter-spacing: -0.35px;
          }
        }
      }
    }
  }
  &-notice {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      &-item {
        display: block;
        padding: 32px;
        border-radius: 32px;
        background: var(--community-list-item-background);
        text-decoration: none;
        &__head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 8px;
        }
        &__badge {
          display: flex;
          gap: 5px;
        }
        &__date {
          display: flex;
          align-items: center;
          color: var(--community-list-item-date-color);
          text-align: right;
          font-size: var(--Font-Body-Medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
        &__title {
          height: 56px;
          margin-bottom: 8px;
          color: var(--contents-color);
          @include text-clamp(2, 28);
        }
        &__attachment {
          display: flex;
          justify-content: flex-end;
        }
      }
      &-button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
    }
    &-view {
      padding: 40px;
      border-radius: 30px;
      background: var(--community-view-background);
      &__head {
        margin-bottom: 32px;
      }
      &__badge {
        margin-bottom: 8px;
      }
      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        h5 {
          color: var(--contents-color);
        }
      }
      &__date {
        color: var(--notice-view-date-color);
        font-size: var(--Font-Body-Medium, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.35px;
      }
      &__contents {
        color: var(--contents-color);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 28.8px */
        letter-spacing: -0.45px;
        overflow: hidden;
        img {
          display: block;
          max-width: 100%;
        }
      }
      .sb-attachment {
        margin-top: 32px;
      }
      &__button {
        display: flex;
        justify-content: center;
        margin-top: 32px;
      }
    }
    @media screen and (max-width: $BreakpointMd) {
      &-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        &-item {
          display: block;
          padding: 20px 20px 28px 20px;
          border-radius: 24px;
          text-decoration: none;
          &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
          }
          &__badge {
            display: flex;
            gap: 5px;
          }
          &__date {
            display: flex;
            align-items: center;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 16.9px */
            letter-spacing: -0.325px;
          }
          &__title {
            height: auto;
            margin-bottom: 0;
            @include text-clamp(2, 28);
          }
          &__attachment {
            display: none;
          }
        }
        &-button {
          display: flex;
          justify-content: center;
          margin-top: 30px;
        }
      }
      &-view {
        margin: -80px -20px -40px;
        padding: 80px 20px 28px 20px;
        border-radius: 0;
        min-height: 100vh;
        &__head {
          margin-bottom: 24px;
        }
        &__badge {
          margin-bottom: 12px;
        }
        &__title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 12px;
        }
        &__date {
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%; /* 16.9px */
          letter-spacing: -0.325px;
        }
        &__contents {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 22.5px */
          letter-spacing: -0.5px;
        }
        .sb-attachment {
          margin-top: 24px;
        }
        &__button {
          display: none;
        }
      }
    }
  }
  &-faq {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      &-item {
        display: block;
        padding: 32px;
        border-radius: 32px;
        background: var(--community-list-item-background);
        border: 0;
        text-align: left;
        &__badge {
          margin-bottom: 8px;
        }
        &__title {
          height: 56px;
          color: var(--contents-color);
          @include text-clamp(2, 28);
        }
        &__foot {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: 8px;
        }
      }
      &-button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
    }

    &-view {
      padding: 0;
      &__badge {
        margin-bottom: 32px;
      }
      &__title {
        display: flex;
        gap: 10px;
        margin-bottom: 32px;
        color: var(--title-color);
      }
      &__q {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        width: 32px;
        height: 32px;
        border-radius: 999px;
        background: var(--faq-view-q-background);
        color: var(--faq-view-q-color);
        font-size: var(--Font-Heading-Medium, 20px);
      }
      &__a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        width: 32px;
        height: 32px;
        border-radius: 999px;
        background: var(--faq-view-a-background);
        color: var(--faq-view-a-color);
        font-size: var(--Font-Heading-Medium, 20px);
      }
      &__text {
        display: flex;
        gap: 10px;
        padding: 24px;
        border-radius: 16px;
        background: var(--faq-view-text-background);
        color: var(--faq-view-text-color);
        font-size: var(--Font-Body-Large, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.4px;
        overflow: hidden;
        img {
          display: block;
          max-width: 100%;
        }
        a {
          color: var(--faq-view-text-color);
          text-decoration: none;
        }
        ol,
        ul {
          margin: 0;
          padding: 2px 0 0 20px;
        }
      }
    }

    @media screen and (max-width: $BreakpointMd) {
      &-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        &-item {
          display: block;
          padding: 20px 20px 28px 20px;
          border-radius: 24px;
          border: 0;
          text-align: left;
          &__badge {
            margin-bottom: 12px;
          }
          &__title {
            height: auto;
            @include text-clamp(2, 23.4);
          }
          &__foot {
            display: none;
          }
        }
        &-button {
          display: flex;
          justify-content: center;
          margin-top: 30px;
        }
      }

      &-view {
        padding: 0;
        &__badge {
          margin-bottom: 16px;
        }
        &__title {
          display: flex;
          gap: 8px;
          margin-bottom: 20px;
        }
        &__q {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 24px;
          width: 24px;
          height: 24px;
          border-radius: 999px;
          text-align: center;
          font-size: var(--Font-Heading-Small, 16px);
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 20.8px */
          letter-spacing: -0.4px;
        }
        &__a {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 24px;
          width: 24px;
          height: 24px;
          margin: 0 auto;
          border-radius: 999px;
          text-align: center;
          font-size: var(--Font-Heading-Small, 16px);
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 20.8px */
          letter-spacing: -0.4px;
        }
        &__text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 24px;
          border-radius: 16px;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 22.5px */
          letter-spacing: -0.5px;
          ol,
          ul {
            margin: 0;
            padding: 2px 0 0 20px;
          }
        }
      }
    }
  }
  &-board {
    &-list {
      &-item {
        padding: 30px;
        border-radius: 32px;
        background: var(--community-list-item-background);
        a {
          display: block;
          text-decoration: none;
        }
        &__head {
          display: flex;
          align-items: center;
          margin-bottom: 16px;
        }
        &__thumb {
          width: 48px;
          height: 48px;
          margin-right: 16px;
          border-radius: 48px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          height: 48px;
          p {
            margin: 0;
            color: var(--community-list-item-title-color);
            text-align: center;
            font-size: var(--Font-Body-Large, 16px);
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
          span {
            color: var(--community-list-item-date-color);
            font-size: var(--Font-Body-Medium, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
          }
        }
        &__menu {
          margin-left: auto;
        }
        &__title {
          margin: 0 0 8px 64px;
          color: var(--contents-color);
          @include text-clamp(2, 28);
        }
        &__contents {
          margin: 0 0 16px 64px;
          color: var(--contents-color);
          font-size: var(--Font-Body-Large, 16px);
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          letter-spacing: -0.4px;
          @include text-clamp(3, 25.6);
        }
        &__image {
          display: flex;
          margin: 0 0 16px 64px;
          img {
            width: 160px;
            height: 160px;
            border-radius: 16px;
            object-fit: cover;
          }
        }
        &__foot {
          display: flex;
          margin-left: 64px;
        }
      }
    }
    &-view {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 40px;
      border-radius: 32px;
      background: var(--community-view-background);
      overflow: hidden;

      img {
        display: block;
        max-width: 100%;
      }
      &__head {
        display: flex;
      }
      &__thumb {
        width: 48px;
        height: 48px;
        margin-right: 10px;
        border-radius: 48px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 48px;
        p {
          margin: 0;
          color: var(--story-view-name-color);
          text-align: center;
          font-size: var(--Font-Body-Large, 16px);
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          letter-spacing: -0.4px;
        }
        span {
          color: var(--story-view-date-color);
          font-size: var(--Font-Body-Medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
      }
      &__menu {
        margin-left: auto;
      }
      &__title {
        color: var(--contents-color);
      }
      &__contents {
        color: var(--contents-color);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 28.8px */
        letter-spacing: -0.45px;
        p {
          margin: 0;
        }
      }
      &__image {
        margin: 0 0 0 68px;
        img {
          width: 160px;
          height: 160px;
          border-radius: 16px;
          object-fit: cover;
        }
      }
      &__foot {
        display: flex;
      }
      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
      }
    }
    &-write {
      padding: 40px;
      border-radius: 32px;
      background: var(--community-view-background);
      &__title {
        margin-bottom: 32px;
        color: var(--story-write-title-color);
      }
      &-form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        &-item {
          > label {
            display: block;
            margin-bottom: 8px;
            color: var(--story-write-form-item-label-color);

            font-size: var(--Font-Heading-Small, 16px);
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
        }
      }
      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 40px;
        .p-button {
          min-width: 160px;
        }
      }
    }
    &-report {
      .p-select {
        margin-bottom: 16px;
      }
      &__button {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        .p-button {
          min-width: 160px;
        }
      }
    }
    @media screen and (max-width: $BreakpointMd) {
      &-list {
        .masonry-column {
          gap: 12px !important;
        }
        &-item {
          padding: 20px 20px 28px 20px;
          border-radius: 24px;
          a {
            display: block;
            text-decoration: none;
          }
          &__head {
            display: flex;
            align-items: flex-start;
            margin-bottom: 8px;
          }
          &__thumb {
            display: none;
          }
          &__name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: auto;
            p {
              margin: 0 0 4px 0;
              text-align: center;
              font-size: var(--Font-Body-Large, 16px);
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
            }
            span {
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%; /* 16.9px */
              letter-spacing: -0.325px;
            }
          }
          &__menu {
            margin-left: auto;
          }
          &__title {
            margin: 0 0 12px 0;
            @include text-clamp(2, 23.4);
          }
          &__contents {
            margin: 0 0 16px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 22.5px */
            letter-spacing: -0.5px;
            @include text-clamp(3, 22.5);
          }
          &__image {
            display: flex;
            margin: 0 0 16px 0;
            img {
              width: 100%;
              height: auto;
              border-radius: 12px;
              object-fit: cover;
            }
          }
          &__foot {
            display: flex;
            margin-left: 0;
          }
        }
      }
      &-view {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: -80px -20px 0;
        padding: 80px 20px 28px 20px;
        border-radius: 0;
        overflow: hidden;
        &__head {
          display: flex;
          margin-bottom: -12px;
        }
        &__thumb {
          display: none;
        }
        &__name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          height: auto;
          p {
            margin: 0 0 4px 0;
            text-align: center;
            font-size: var(--Font-Body-Large, 16px);
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
          span {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 16.9px */
            letter-spacing: -0.325px;
          }
        }
        &__menu {
          margin-left: auto;
        }
        &__title {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 26px */
          letter-spacing: -0.5px;
        }
        &__contents {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 22.5px */
          letter-spacing: -0.5px;
          p {
            margin: 0;
          }
        }
        &__image {
          margin: 0 0 0 68px;
          img {
            width: 160px;
            height: 160px;
            border-radius: 16px;
            object-fit: cover;
          }
        }
        &__foot {
          display: flex;
        }
        &__button {
          display: none;
        }
      }
      &-write {
        margin: -80px -20px -40px;
        padding: 80px 20px 20px 20px;
        border-radius: 0;
        overflow: hidden;
        &__title {
          margin-bottom: 32px;
        }
        &-form {
          display: flex;
          flex-direction: column;
          gap: 32px;
          &-item {
            > label {
              display: block;
              margin-bottom: 12px;
              font-size: var(--Font-Heading-Small, 16px);
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
            }
          }
        }
        &__button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          margin-top: 32px;
          .p-button {
            width: 100%;
          }
        }
      }
      &-report {
        .p-select {
          margin-bottom: 8px;
        }
        &__button {
          display: flex;
          justify-content: center;
          margin-top: 16px;
          .p-button {
            min-width: auto;
          }
        }
      }
    }
  }
}
