@use './mixins' as *;

.sb {
  &-company {
    overflow: hidden;
    &-keyvisual {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 450px;
      margin: 180px 0 180px 0;
      &__title {
        position: relative;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        h1 {
          &:first-child {
            margin-right: 77px;
          }
          &:last-child {
            margin-left: 169px;
            margin-right: 60px;
          }
        }
      }
      &__video {
        position: relative;
        display: flex;
        width: 450px;
        height: 60px;
        margin-bottom: 20px;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
        overflow: hidden;

        video {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 592px;
          height: 333px;
          transform: translate(-50%, -50%);
        }
      }
      &__background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        svg {
          width: 1514px;
          height: 450px;
        }
      }
      @media screen and (max-width: 1800px) {
        &__title {
          h1 {
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 65px */
            letter-spacing: -1.25px;
            &:first-child {
              margin-right: 40px;
            }
            &:last-child {
              margin-left: 80px;
              margin-right: 80px;
            }
          }
        }
      }
    }
    &-text {
      padding: 60px 0 178px 0;
      text-align: center;
      &__title {
        margin: 0 0 100px 0;
        svg {
          width: 1075px;
          height: 209px;
        }
      }
      &__contents {
        h4 {
          margin-top: 16px;
          color: var(--Text_Light-400---eaplanation, #9aa3af);
          strong {
            color: var(--Gray-Black, #000);
          }
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
    &-introduce {
      padding: 120px 0;
      background: var(--Gray-50, #f9fbfc);
      &-about {
        display: flex;
        max-width: 1480px;
        margin: 0 auto 120px;
        &__title {
          min-width: 504px;
          h6 {
            color: var(--Text_Light-400---eaplanation, #9aa3af);
          }
        }
        &__contents {
          h5 {
            color: var(--Text_Light-900---mian, #1b1f27);
          }
        }
      }
      &-whatwedo {
        position: relative;
        display: flex;
        max-width: 1480px;
        margin: 0 auto;
        &__title {
          position: relative;
          min-width: 504px;
          h6 {
            color: var(--Text_Light-400---eaplanation, #9aa3af);
          }
        }
        &__contents {
          width: 100%;
          h5 {
            color: var(--Text_Light-900---mian, #1b1f27);
          }
        }
        &-list {
          border-top: 1px solid var(--Gray-300, #d1d6dd);
          &-item {
            padding: 40px 0 31px 0;
            border-bottom: 1px solid var(--Gray-300, #d1d6dd);
            h4 {
              color: #000;
            }
            p {
              margin: 24px 0 0 0;
              color: #000;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 25.2px */
              letter-spacing: -0.45px;
            }
            &__icon {
              position: absolute;
              top: 138px;
              left: -504px;
              opacity: 0;
              visibility: hidden;
              transition: all 1s ease;
              .ico01 {
                height: 362px;
              }
              .ico02,
              .ico03,
              .ico04 {
                height: 352px;
              }
            }
            h4,
            p {
              transition: all 0.2s ease;
            }
            &.active {
              h4,
              p {
                color: #ff6114;
              }
            }
            &.active & {
              &__icon {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          @media screen and (min-width: 1440px) {
            .swiper {
              overflow: visible;
              position: static !important;
            }
            .swiper-wrapper {
              position: static !important;
              display: block !important;
              transform: none !important;
              height: auto !important;
            }
            .swiper-slide {
              position: static !important;
              width: auto !important;
              opacity: 1 !important;
              transform: none !important;
              height: auto !important;
              pointer-events: all !important;
              &:first-child {
                .sb-company-introduce-whatwedo-list-item {
                  padding-top: 32px;
                }
              }
            }
          }
        }
        &-button {
          display: none;
        }
      }
      @media screen and (max-width: 1800px) {
        &-about {
          max-width: 100%;
          padding: 0 40px;
          &__title {
            min-width: 464px;
          }
        }
        &-whatwedo {
          max-width: 100%;
          padding: 0 40px;
          &__title {
            min-width: 464px;
          }
          &-list {
            &-item {
              &__icon {
                left: -464px;
              }
            }
          }
        }
      }
    }
    &-foot {
      position: relative;
      padding: 0 0 200px 0;
      background: var(--Gray-50, #f9fbfc);
      &__video {
        position: relative;
        z-index: 20;
        width: 384px;
        height: 384px;
        margin: 0 auto 125px;
        video {
          width: 100%;
          height: 100%;
        }
      }
      &__contents {
        position: relative;
        z-index: 20;
        text-align: center;
        h4 {
          margin-bottom: 60px;
          color: #000;
        }
        .p-button {
          background-color: #ff6114;
          border-color: #ff6114;
        }
      }
      &__line {
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        svg {
          width: 1919px;
          height: 890px;
        }
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 5;
        bottom: -1600px;
        left: 50%;
        width: 2434px;
        height: 2434px;
        background-color: #fff;
        border-radius: 2434px;
        transform: translateX(-50%);
      }
    }
    @include breakpoint {
      &-keyvisual {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: auto;
        margin: 32px 0 0 0;
        &__title {
          position: relative;
          z-index: 20;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 82px;
          margin: 0;
          h1 {
            &:first-child {
              margin-right: 77px;
            }
            &:last-child {
              margin-left: 169px;
              margin-right: 60px;
            }
          }
        }
        &__video {
          position: relative;
          display: flex;
          width: 120px;
          height: 16px;
          margin: 0;
          box-shadow: 0 5.333px 10.667px 0 rgba(0, 0, 0, 0.15);

          video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 157.867px;
            height: 88.8px;
            transform: translate(-50%, -50%);
          }
        }
        &__background {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          svg {
            height: 116px;
          }
        }
        @media screen and (max-width: 1800px) {
          &__title {
            h1 {
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 33.6px */
              letter-spacing: -0.6px;
              &:first-child {
                margin: 0;
              }
              &:last-child {
                margin: 0;
              }
            }
          }
        }
      }
      &-text {
        padding: 120px 0;
        text-align: center;
        &__title {
          margin: 0 0 60px 0;
          svg {
            width: 260px;
            height: 50px;
          }
        }
        &__contents {
          h4 {
            margin-top: 16px;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 28px */
            letter-spacing: -0.5px;
          }
        }
      }
      &-introduce {
        padding: 80px 0;
        background: var(--Gray-50, #f9fbfc);
        &-about {
          display: flex;
          flex-direction: column;
          gap: 32px;
          max-width: 100%;
          margin: 0 auto 80px;
          &__title {
            min-width: 504px;
            h6 {
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
            }
          }
          &__contents {
            h5 {
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
              span {
                display: block;
                margin-top: 16px;
                &:first-child {
                  margin-top: 0;
                }
              }
            }
          }
        }
        &-whatwedo {
          display: flex;
          flex-direction: column;
          gap: 32px;
          max-width: 100%;
          margin: 0 auto 80px;
          &__title {
            min-width: 504px;
            h6 {
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
            }
          }
          &__contents {
            width: 100%;
            h5 {
              color: var(--Text_Light-900---mian, #1b1f27);
            }
          }
          &-list {
            border: none;
            &-item {
              padding: 0;
              background: var(--Gray-50, #f9fbfc);
              border: none;
              h4 {
                color: #000;
              }
              p {
                margin: 20px 0 0 0;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.4px;
                word-break: keep-all;
              }
              &__icon {
                position: relative;
                top: auto;
                left: auto;
                opacity: 1;
                visibility: visible;
                transition: all 1s ease;
                text-align: center;
                margin-bottom: 32px;
                .ico01,
                .ico02,
                .ico03,
                .ico04 {
                  width: 200px;
                  height: auto;
                }
              }
              h4,
              p {
                transition: all 0.2s ease;
              }
              &.active {
                h4,
                p {
                  color: var(--Gray-Black, #000);
                }
              }
              &.active & {
                &__icon {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
            @media screen and (min-width: 1440px) {
              .swiper {
                overflow: visible;
                position: static !important;
              }
              .swiper-wrapper {
                position: static !important;
                display: block !important;
                transform: none !important;
              }
              .swiper-slide {
                position: static !important;
                width: auto !important;
                opacity: 1 !important;
                transform: none !important;
                height: auto !important;
                pointer-events: all !important;
                &:first-child {
                  .sb-company-introduce-whatwedo-list-item {
                    padding-top: 32px;
                  }
                }
              }
            }
          }
          &-button {
            display: flex;
            justify-content: flex-end;
            margin-top: 24px;
            .sb-swiper-controls {
              gap: 8px;
              .p-button {
                width: 48px;
                height: 48px;
                background: var(--Gray-100, #f4f5f7);
                svg {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }
        @media screen and (max-width: 1800px) {
          &-about {
            max-width: 100%;
            padding: 0 20px;
            &__title {
              min-width: 100%;
            }
          }
          &-whatwedo {
            max-width: 100%;
            padding: 0 20px;
            &__title {
              min-width: 100%;
            }
            &-list {
              &-item {
                &__icon {
                  left: auto;
                }
              }
            }
          }
        }
      }
      &-foot {
        position: relative;
        padding: 0 0 40px 0;
        &__video {
          position: relative;
          z-index: 20;
          width: 160px;
          height: 160px;
          margin: 0 auto 66px;
          video {
            width: 100%;
            height: 100%;
          }
        }
        &__contents {
          position: relative;
          z-index: 20;
          text-align: center;
          h4 {
            margin-bottom: 32px;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 28px */
            letter-spacing: -0.5px;
          }
          .p-button {
            width: auto !important;
          }
        }
        &__line {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 10;
          svg {
            width: 1440px;
            height: auto;
          }
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          z-index: 5;
          bottom: -400px;
          left: 50%;
          width: 746px;
          height: 746px;
          border-radius: 746px;
          transform: translateX(-50%);
        }
      }
    }
  }
  &-service {
    overflow: hidden;
    &-word {
      position: relative;
      padding: 80px 8% 100px;
      z-index: 20;
      &-head {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &-item {
          display: flex;
          align-items: center;
          gap: 8px;
          h2,
          h4 {
            color: var(--Text_Light-300---disabled, #d1d6dd);
          }
        }
      }
      &-title {
        position: relative;
        z-index: 20;
        margin-top: 253px;
        h1 {
          margin-bottom: 40px;
        }
      }
      &-background {
        position: absolute;
        bottom: 120px;
        right: 0;
        z-index: 10;
        width: 1920px;
        height: 312px;
        background: url(./../images/service/word-background.svg) no-repeat 50%
          50%;
      }
    }
    &-dashboard {
      padding: 100px 8%;
    }
    &-introduce {
      padding: 100px 8%;
      background: var(--bg_50_EFF1F4, #eff1f4);
      img {
        width: 1520px;
      }
    }
    &-loadmap {
      padding: 100px 8%;
      &__title {
        margin-bottom: 120px;
      }
      &-list {
        display: flex;
        justify-content: center;
        gap: 10%;
        padding: 56px 0 32px 0;
        &-item {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          gap: 16px;
          min-width: 240px;
          &__chart {
            position: relative;
            z-index: 50;
            width: 240px;
            height: 240px;
            border-radius: 240px;
            background: var(--Gray-00, #fff);

            /* light/Shadow 2 */
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
          }
          &__tooltip {
            position: absolute;
            top: 0;
            left: 50%;
            display: flex;
            align-items: center;
            min-height: 42px;
            padding: 10px 20px;
            border-radius: 20px;
            background: var(--ai-tooltip-background);
            transform: translate(-50%, calc(-100% - 12px));
            p {
              margin: 0;
              color: var(--ai-tooltip-color);

              font-size: var(--Font-Heading-Small, 16px);
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
              white-space: noWrap;
            }
            &:after {
              content: '';
              position: absolute;
              bottom: -7px;
              left: 50%;
              display: block;
              width: 14px;
              height: 9px;
              background-color: var(--ai-tooltip-background);
              clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
              transform: translateX(-50%);
            }
          }
          &__line {
            position: absolute;
            top: 102px;
            right: 50%;
            z-index: 10;
          }
          &.level02 {
            .ico-profile-level-line {
              color: var(--color-level1);
            }
          }
          &.level03 {
            .ico-profile-level-line {
              color: var(--color-level2);
            }
          }
          &.level04 {
            .ico-profile-level-line {
              color: var(--color-level3);
            }
          }
          &.active ~ .sb-report-analyze-level-list-item {
            .ico-profile-level-line {
              color: var(--report-analyze-level-line-color);
            }
          }

          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              display: flex;
              align-items: center;
              gap: 5px;
              margin: 8px 0 0 0;
              padding: 0;

              color: var(--report-analyze-level-list-text-color);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 1; /* 22.4px */
              letter-spacing: -0.4px;
              .ico-system-check-s {
                color: var(--report-analyze-level-list-text-color);
              }
              &.active {
                color: var(--report-analyze-level-list-active-text-color);
                .ico-system-check-s {
                  color: var(--color-primary);
                }
              }
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
    &-ecosystem {
      padding: 100px 8%;
    }
    &-global {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: 100vh;
      padding: 100px 8%;

      &__background01 {
        position: absolute;
        top: -72px;
        right: -220px;
        width: 757px;
        height: 757px;
        border-radius: 757px;
        opacity: 0.12;
        background: linear-gradient(150deg, #3adde9 13.07%, #8385fc 85.54%);
        filter: blur(100px);
      }
      &__background02 {
        position: absolute;
        bottom: -152px;
        left: -220px;
        width: 712px;
        height: 712px;
        border-radius: 712px;
        opacity: 0.25;
        background: linear-gradient(
          150deg,
          rgba(251, 142, 149, 0.9) 13.07%,
          rgba(131, 133, 252, 0) 85.54%
        );
        filter: blur(100px);
      }
    }
    &-foot {
      position: relative;
      height: 542px;
      padding: 100px 8%;
      &__title {
        position: relative;
        z-index: 20;
        margin-bottom: 60px;
        text-align: center;
        h1 {
          color: var(--Text_dark-00---mian, var(--Gray-00_FFFFFF, #fff));
        }
        p {
          margin: 20px 0 0 0;
          color: var(--Text_dark-00---mian, var(--Gray-00_FFFFFF, #fff));
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 28px */
          letter-spacing: -0.5px;
        }
      }
      &__button {
        position: relative;
        z-index: 20;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
      }
      &__background {
        position: absolute;
        left: 50%;
        bottom: -1892px;
        z-index: 10;
        transform: translateX(-50%);
        width: 2434px;
        height: 2434px;
        border-radius: 2434px;
        background: var(
          --Gradation-03,
          linear-gradient(91deg, #3adde9 0%, #8385fc 100%)
        );
      }
    }
  }
  &-privacypolicy {
    padding: 40px 8%;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px;
    }
    &-index {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 40px;
      padding: 40px;
      border-radius: 16px;
      background: var(--Gray-100, #f4f5f7);
      &-item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          &::before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 4px;
            background: var(--Text_Light-500---sub, #6a7381);
          }
          p {
            margin: 0;
            color: var(--Text_Light-500---sub, #6a7381);

            /* Body/Large-Bold */

            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
        }
      }
    }
    &-contents {
      display: flex;
      flex-direction: column;
      gap: 40px;
      color: var(--policy-contents-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.4px;
      p {
        margin: 16px 0 0 0;
        &:first-child {
          margin-top: 0;
        }
      }
      a {
        text-decoration: underline;
      }
    }
    &-section {
      h6 {
        margin-bottom: 24px;
        padding: 0 8px;
        border-left: 4px solid var(--color-primary);
        color: var(--title-color);
      }
    }
    &-list {
      margin-top: 24px;
      ul,
      ol {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin: 0;
          padding: 0;
        }
      }
      ol {
        gap: 16px;
      }
      ul {
        gap: 4px;
        margin-top: 5px;
      }
      &__title {
        display: flex;
        gap: 4px;
        color: var(--policy-contents-list-title-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.4px;
        p {
          margin: 0;
        }
      }
      ul {
        li {
          position: relative;
          padding: 0 0 0 25px;
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            left: 10px;
            min-width: 3px;
            width: 3px;
            height: 3px;
            border-radius: 3px;
            background-color: var(--policy-contents-list-title-color);
          }
        }
      }
    }
    &-table {
      margin-top: 24px;
      table {
        border-collapse: collapse;
        thead {
          th {
            height: 62px;
            padding: 10px;
            background: var(--policy-contents-table-background);

            color: var(--policy-contents-table-color);

            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
        }
        tbody {
          td {
            height: 60px;
            padding: 10px;
            color: var(--policy-contents-table-color);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
            border-bottom: 1px dashed var(--policy-contents-table-border-color);
          }
          tr {
            &:last-child {
              td {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    &-foot {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid var(--policy-contents-foot-border-color);
      p {
        margin: 0;
        color: var(--policy-contents-foot-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
      }
    }
    &__infotext {
      margin-top: 32px;
      color: var(--policy-contents-infotext-color);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 16.8px */
      letter-spacing: -0.3px;
    }
    @include breakpoint {
      padding: 46px 20px 32px;
      &-title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;
        padding: 0 0 12px 0;
        h4 {
          width: 100%;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 28px */
          letter-spacing: -0.5px;
        }
      }
      &-index {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 28px;
        padding: 20px;
        border-radius: 16px;
        &-item {
          display: flex;
          flex-direction: column;
          gap: 12px;
          a {
            p {
              margin: 0;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
            }
          }
        }
      }
      &-contents {
        display: flex;
        flex-direction: column;
        gap: 28px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
        letter-spacing: -0.35px;
      }
      &-section {
        h6 {
          margin-bottom: 16px;
          padding: 0 6px;
          border-left: 4px solid var(--color-primary);
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 25.2px */
          letter-spacing: -0.45px;
        }
      }
      &-list {
        margin-top: 20px;
        ul,
        ol {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin: 0;
            padding: 0;
          }
        }
        ol {
          gap: 20px;
        }
        ul {
          gap: 8px;
          margin-top: 8px;
        }
        &__title {
          display: flex;
          gap: 4px;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
        ul {
          li {
            position: relative;
            padding: 0 0 0 20px;
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 9px;
              left: 8px;
              min-width: 3px;
              width: 3px;
              height: 3px;
              border-radius: 3px;
            }
          }
        }
      }
      &-table {
        margin-top: 24px;
        table {
          border-collapse: collapse;
          word-break: break-all;
          thead {
            th {
              height: 42px;
              padding: 4px;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
          }
          tbody {
            td {
              height: 67px;
              padding: 8px;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
          }
        }
      }
      &-foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 28px;
        padding-top: 28px;
        p {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
      }
    }
  }
  &-servicepolicy {
    padding: 40px 8%;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px;
    }
    &-index {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
      margin-bottom: 40px;
      padding: 40px;
      border-radius: 16px;
      background: var(--Gray-100, #f4f5f7);
      &-item {
        dl {
          margin: 0;
          padding: 0;
          dt {
            margin: 0;
            padding: 0;
            a {
              display: flex;
              align-items: center;
              padding: 0 8px;
              border-left: 4px solid var(--Gray-500, #6a7381);
              color: var(--Text_Light-500---sub, #6a7381);
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
            }
          }
          dd {
            margin: 8px 0 0 0;
            padding: 0;
            ul {
              display: flex;
              flex-direction: column;
              gap: 8px;
              margin: 0;
              padding: 0;
              list-style: none;
              li {
                position: relative;
                margin: 0;
                padding: 0;
                a {
                  display: flex;
                  min-height: 26px;
                  padding: 0 0 0 25px;
                  color: var(--Text_Light-500---sub, #6a7381);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 160%; /* 25.6px */
                  letter-spacing: -0.4px;
                  &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 12px;
                    left: 10px;
                    min-width: 3px;
                    width: 3px;
                    height: 3px;
                    border-radius: 3px;
                    background-color: #1b1f27;
                  }
                }
              }
            }
          }
        }
      }
    }
    &-contents {
      display: flex;
      flex-direction: column;
      gap: 40px;
      color: var(--policy-contents-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.4px;
      p {
        margin: 0;
      }
      a {
        text-decoration: underline;
      }
    }
    &-section {
      h5 {
        padding: 0 8px;
        border-left: 4px solid var(--color-primary);
        color: var(--title-color);
      }
      h6 {
        margin-bottom: 16px;
        color: var(--title-color);
      }
    }
    &-list {
      margin: 16px 0 0 8px;
      ul,
      ol {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin: 0;
          padding: 0;
        }
      }
      ol {
        gap: 16px;
      }
      ul {
        gap: 4px;
        margin-top: 5px;
      }
      &__title {
        display: flex;
        gap: 12px;
        color: var(--policy-contents-list-title-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.4px;
        strong {
          font-weight: 400;
        }
        p {
          margin: 0;
        }
      }
      ul {
        margin: 4px 0 0 16px;
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;
          > strong {
            font-weight: 400;
          }
        }
      }
      ul.sb-servicepolicy-list__dot {
        margin: 4px 0 0 16px;
        li {
          position: relative;
          padding: 0 0 0 20px;
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 11px;
            left: 8px;
            min-width: 3px;
            width: 3px;
            height: 3px;
            border-radius: 3px;
            background-color: var(--policy-contents-list-title-color);
          }
        }
      }
    }
    @include breakpoint {
      padding: 46px 20px 32px;
      &-title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;
        padding: 0 0 12px 0;
        h4 {
          width: 100%;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 28px */
          letter-spacing: -0.5px;
        }
      }
      &-index {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-bottom: 28px;
        padding: 24px 20px;
        border-radius: 16px;
        &-item {
          dl {
            dt {
              a {
                display: flex;
                align-items: center;
                min-height: 22px;
                padding: 0 8px;
                border-left: 2px solid var(--Gray-500, #6a7381);
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 19.6px */
                letter-spacing: -0.35px;
              }
            }
            dd {
              ul {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                  position: relative;
                  margin: 0;
                  padding: 0;
                  a {
                    display: flex;
                    min-height: 20px;
                    padding: 0 0 0 22px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 19.6px */
                    letter-spacing: -0.35px;
                    &::before {
                      content: '';
                      display: block;
                      position: absolute;
                      top: 10px;
                      left: 10px;
                      min-width: 3px;
                      width: 3px;
                      height: 3px;
                      border-radius: 3px;
                      background-color: #1b1f27;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &-contents {
        display: flex;
        flex-direction: column;
        gap: 28px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
        letter-spacing: -0.35px;
      }
      &-section {
        h5 {
          margin-bottom: -8px;
          padding: 0 8px;
          border-left: 4px solid var(--color-primary);
        }
        h6 {
          margin-bottom: 16px;
        }
      }
      &-list {
        margin: 20px 0 0 4px;
        ul,
        ol {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin: 0;
            padding: 0;
          }
        }
        ol {
          gap: 16px;
        }
        ul {
          gap: 4px;
          margin-top: 5px;
        }
        &__title {
          display: flex;
          gap: 12px;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 22.4px */
          letter-spacing: -0.35px;
          strong {
            font-weight: 400;
          }
          p {
            margin: 0;
          }
        }
        ul {
          margin: 4px 0 0 16px;
          li {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            > strong {
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
