@use './mixins' as *;

.ico {
  //snb
  &-snb {
    &-home {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-menu-close {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-menu-open {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-logout {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-document {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-chart {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-chat {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
  }

  //arrow
  &-arrow {
    &-small-up {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-small-down {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-small-right {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-small-left {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-small-up-left {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-small-up-right {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-small-down-right {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-small-down-left {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-achevron-down {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-achevron-left {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-achevron-right {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-achevron-up {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-up {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-down {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-right {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-600);
    }
    &-left {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-600);
    }
    &-up-left {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-up-right {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-down-right {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-down-left {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-500);
    }
    &-bent-arrow {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-600);
    }
  }

  //system
  &-system {
    &-delete {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-200);
    }
    &-close {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-plus {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-dotmenu {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-download {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
      @include breakpoint {
        min-width: 16px;
        width: 16px;
        height: 16px;
      }
    }
    &-setting {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-refresh {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
      @include breakpoint {
        min-width: 20px;
        width: 20px;
        height: 20px;
      }
    }
    &-check {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-edit {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
      @include breakpoint {
        min-width: 20px;
        width: 20px;
        height: 20px;
      }
    }
    &-paperclip {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-bell-on {
      min-width: 25px;
      width: 25px;
      height: 25px;
      color: var(--p-gray-400);
    }
    &-bell-off {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-star {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-trash {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
      @include breakpoint {
        min-width: 20px;
        width: 20px;
        height: 20px;
      }
    }
    &-filecheck {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-search {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-user {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-link {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-globe {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-mode-dark {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-mode-light {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-calendar {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-eye-open {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-eye-closed {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-report {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-like {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-message {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-share {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-message-circle {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-clock {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-umbrella {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-cloud {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-sun {
      min-width: 25px;
      width: 25px;
      height: 25px;
      color: var(--p-gray-400);
    }
    &-information-circle {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-alert-circle {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-block {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-face-happy {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-face-neutral {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-face-sad {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-face-wink {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-smile {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-profile {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-card {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-document {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-login {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-menu {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-trend-up {
      min-width: 16px;
      width: 16px;
      height: 16px;
      color: var(--p-gray-400);
    }
    &-trend-down {
      min-width: 16px;
      width: 16px;
      height: 16px;
      color: var(--p-gray-400);
    }
    &-sent {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-website-check {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-edit-message {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-delivery-box {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-kakaotalk {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-mail {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-copy {
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-400);
    }
    &-up {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
    &-down {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
  }

  //action
  &-action {
    &-score {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-gray-200);
    }
    &-score-half {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-orange-500);
    }
    &-score-full {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      color: var(--p-orange-500);
    }
    &-favorite {
      display: block;
      min-width: 16px;
      width: 16px;
      height: 16px;
      color: var(--p-gray-400);
    }
    &-favorite-full {
      display: block;
      min-width: 16px;
      width: 16px;
      height: 16px;
      color: var(--p-primary-500);
    }
    &-swich {
      display: block;
      min-width: 16px;
      width: 16px;
      height: 16px;
      color: var(--p-gray-400);
    }
    &-switch-up {
      display: block;
      min-width: 16px;
      width: 16px;
      height: 16px;
      color: var(--p-primary-500);
    }
    &-switch-down {
      display: block;
      min-width: 16px;
      width: 16px;
      height: 16px;
      color: var(--p-primary-500);
    }
  }

  //gonfalon
  &-gonfalon {
    &-jp,
    &-us,
    &-cn,
    &-kr {
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
  }

  //illustration
  &-illustration {
    &-check-circle {
      width: 64px;
      height: 64px;
      --path-color-1: var(--p-green-600);
      --path-color-2: var(--p-green-300);
    }
    &-smile {
      min-width: 80px;
      width: 80px;
      height: 80px;
      --path-color-1: var(--ico-illustration-smile-color1);
      --path-color-2: var(--ico-illustration-smile-color2);
    }
    &-frown {
      min-width: 80px;
      width: 80px;
      height: 80px;
      --path-color-1: var(--ico-illustration-frown-color1);
      --path-color-2: var(--ico-illustration-frown-color2);
    }
  }

  //ai
  &-ai {
    &-pc {
      display: block;
      min-width: 72px;
      width: 72px;
      height: 69px;
    }
    &-mo {
      display: block;
      min-width: 49px;
      width: 49px;
      height: 51px;
    }
  }

  //social
  &-social {
    &-facebook {
      svg {
        display: block;
        min-width: 58px;
        width: 58px;
        height: 58px;
        --path-color-1: #38414f;
        --path-color-2: #f4f5f7;
      }
    }
    &-x {
      svg {
        display: block;
        min-width: 58px;
        width: 58px;
        height: 58px;
        --path-color-1: #38414f;
        --path-color-2: #f4f5f7;
      }
    }
    &-kakaotalk {
      svg {
        display: block;
        min-width: 58px;
        width: 58px;
        height: 58px;
        --path-color-1: #38414f;
        --path-color-2: #f4f5f7;
      }
    }
    &-naverblog {
      svg {
        display: block;
        min-width: 58px;
        width: 58px;
        height: 58px;
        --path-color-1: #38414f;
        --path-color-2: #f4f5f7;
      }
    }
    &-copy {
      svg {
        display: block;
        min-width: 58px;
        width: 58px;
        height: 58px;
        --path-color-1: #38414f;
        --path-color-2: #f4f5f7;
      }
    }
  }

  //profile
  &-profile {
    &-lv {
      width: 48px;
      height: 48px;
    }
    &-default {
      width: 48px;
      height: 48px;
      --path-color-1: var(--p-gray-300);
      --path-color-2: #eaecf1;
    }
  }

  //etc
  &-etc-comment-delete {
    min-width: 20px;
    width: 20px;
    height: 20px;
    color: var(--p-gray-600);
  }
}

.p-dark {
  .ico {
    //action
    &-action {
      &-score {
        color: var(--p-gray-200);
      }
      &-score-half {
        color: var(--p-orange-500);
      }
      &-score-full {
        color: var(--p-orange-500);
      }
      &-favorite {
        color: var(--p-gray-400);
      }
      &-favorite-full {
        color: var(--p-primary-300);
      }
      &-swich {
        color: var(--p-gray-400);
      }
      &-switch-up {
        color: var(--p-primary-500);
      }
      &-switch-down {
        color: var(--p-primary-500);
      }
    }

    //illustration
    &-illustration {
      &-check-circle {
        --path-color-1: var(--p-green-600);
        --path-color-2: var(--p-green-300);
      }
    }

    //social
    &-social {
      &-facebook {
        svg {
          --path-color-1: var(--p-gray-400);
          --path-color-2: var(--p-gray-600);
        }
      }
      &-x {
        svg {
          --path-color-1: var(--p-gray-400);
          --path-color-2: var(--p-gray-600);
        }
      }
      &-kakaotalk {
        svg {
          --path-color-1: var(--p-gray-400);
          --path-color-2: var(--p-gray-600);
        }
      }
      &-naverblog {
        svg {
          --path-color-1: var(--p-gray-400);
          --path-color-2: var(--p-gray-600);
        }
      }
      &-copy {
        svg {
          --path-color-1: var(--p-gray-400);
          --path-color-2: var(--p-gray-600);
        }
      }
    }

    //profile
    &-profile-default {
      --path-color-1: var(--p-gray-600);
      --path-color-2: #6a7381;
    }
  }
}
