.ico {
  &-24-block {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../icons/24/block.svg) no-repeat 50% 50%;
  }
  &-24-report {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../icons/24/report.svg) no-repeat 50% 50%;
  }
  &-24-edit {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../icons/24/edit.svg) no-repeat 50% 50%;
  }
  &-24-trash {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../icons/24/trash.svg) no-repeat 50% 50%;
  }

  //nuxt icon
  &-16-paperclip {
    width: 16px;
    height: 16px;
    color: #9aa3af;
  }
  &-16-login {
    width: 16px;
    height: 16px;
    color: #9aa3af;
  }
  &-16-smiley-happy {
    width: 16px;
    height: 16px;
    color: #9aa3af;
  }
  &-16-profile {
    width: 16px;
    height: 16px;
    color: #9aa3af;
  }
  &-16-card {
    width: 16px;
    height: 16px;
    color: #9aa3af;
  }
  &-16-alert-circle {
    width: 16px;
    height: 16px;
    color: #9aa3af;
  }
  &-16-document {
    width: 16px;
    height: 16px;
    color: #9aa3af;
  }
  &-24-search {
    width: 24px;
    height: 24px;
    color: #6a7381;
  }
  &-24-globe {
    width: 24px;
    height: 24px;
    color: #6a7381;
  }
  &-24-bellon {
    width: 24px;
    height: 24px;
    color: #6a7381;
  }
  &-24-download {
    width: 24px;
    height: 24px;
    color: #9aa3af;
  }
  &-24-message {
    width: 24px;
    height: 24px;
    color: #9aa3af;
  }
  &-24-share {
    width: 24px;
    height: 24px;
    color: #9aa3af;
  }
  &-24-like {
    width: 24px;
    height: 24px;
    color: #9aa3af;
  }
  &-24-back {
    width: 24px;
    height: 24px;
    color: #454f5b;
  }
  &-24-plus {
    width: 24px;
    height: 24px;
    color: #6a7381;
  }
  &-24-down {
    width: 24px;
    height: 24px;
    color: #454f5b;
  }
  &-24-up-right {
    width: 24px;
    height: 24px;
    color: #9aa3af;
  }
  &-32-dotmenu {
    width: 32px;
    height: 32px;
    color: #9aa3af;
  }
}
