@use './mixins' as *;

.ico {
  &-24-block {
    display: block;
    min-width: 24px;
    width: 24px;
    height: 24px;
    background: url(../icons/24/block.svg) no-repeat 50% 50%;
    background-size: cover;
    @media screen and (max-width: $BreakpointMd) {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }
  }
  &-24-report {
    display: block;
    min-width: 24px;
    width: 24px;
    height: 24px;
    background: url(../icons/24/report.svg) no-repeat 50% 50%;
    background-size: cover;
    @media screen and (max-width: $BreakpointMd) {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }
  }
  &-24-edit {
    display: block;
    min-width: 24px;
    width: 24px;
    height: 24px;
    background: url(../icons/24/edit.svg) no-repeat 50% 50%;
    background-size: cover;
    @media screen and (max-width: $BreakpointMd) {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }
  }
  &-24-trash {
    display: block;
    min-width: 24px;
    width: 24px;
    height: 24px;
    background: url(../icons/24/trash.svg) no-repeat 50% 50%;
    background-size: cover;
    @media screen and (max-width: $BreakpointMd) {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }
  }
  &-24-delete {
    display: block;
    min-width: 24px;
    width: 24px;
    height: 24px;
    background: url(../icons/24/delete.svg) no-repeat 50% 50%;
  }

  //nuxt icon
  &-16-paperclip {
    min-width: 16px;
    width: 16px;
    height: 16px;
    color: var(--p-gray-400);
  }
  &-16-login {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
  &-16-smile {
    min-width: 16px;
    width: 16px;
    height: 16px;
    color: var(--p-gray-400);
  }
  &-16-profile {
    min-width: 16px;
    width: 16px;
    height: 16px;
    color: var(--p-gray-400);
  }
  &-16-card {
    min-width: 16px;
    width: 16px;
    height: 16px;
    color: var(--p-gray-400);
  }
  &-16-alert-circle {
    min-width: 16px;
    width: 16px;
    height: 16px;
    color: var(--p-gray-400);
  }
  &-16-document {
    min-width: 16px;
    width: 16px;
    height: 16px;
    color: var(--p-gray-400);
  }

  &-20-delete {
    min-width: 20px;
    width: 20px;
    height: 20px;
    --path-color-1: var(--p-gray-400);
    --path-color-2: var(--p-gray-200);
  }
  &-20-comment-delete {
    min-width: 20px;
    width: 20px;
    height: 20px;
    color: var(--p-gray-600);
  }
  &-24-paperclip {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: var(--p-gray-400);
  }

  &-24-download {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: var(--p-gray-400);
    @media screen and (max-width: $BreakpointMd) {
      min-width: 16px;
      width: 16px;
      height: 16px;
    }
  }

  &-24-back {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: #454f5b;
    @media screen and (max-width: $BreakpointMd) {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }
  }
  &-24-plus {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: #6a7381;
  }
  &-24-down {
    min-width: 24px;
    width: 24px;
    height: 24px;
    @media screen and (max-width: $BreakpointMd) {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }
  }
  &-24-up-right {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: var(--p-gray-400);
  }

  &-24-comment-check {
    min-width: 24px;
    width: 24px;
    height: 24px;

    color: var(--primary-500_00B1BD, var(--primary-500_00B1BD, #00b1bd));
  }

  &-100-smile {
    min-width: 100px;
    width: 100px;
    height: 100px;
    --path-color-1: var(--p-gray-300);
    --path-color-2: var(--p-gray-400);
    @media screen and (max-width: $BreakpointMd) {
      min-width: 80px;
      width: 80px;
      height: 80px;
    }
  }
  &-100-frown {
    min-width: 100px;
    width: 100px;
    height: 100px;
    --path-color-1: var(--p-gray-300);
    --path-color-2: var(--p-gray-400);
    @media screen and (max-width: $BreakpointMd) {
      min-width: 80px;
      width: 80px;
      height: 80px;
    }
  }

  //
  //여기서부터 새로
  &-24-search {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
  &-24-globe {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: #6a7381;
  }
  &-24-bell-on {
    min-width: 25px;
    width: 25px;
    height: 25px;
    color: var(--p-gray-500);
  }
  &-24-menu {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: var(--p-gray-500);
  }
  &-24-arrow-right {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: #454f5b;
  }
  &-24-header-back {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: var(--p-gray-800);
  }
  &-24-refresh {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: #454f5b;
    @media screen and (max-width: $BreakpointMd) {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }
  }

  //32
  &-32-like {
    min-width: 32px;
    width: 32px;
    height: 32px;
    color: var(--p-gray-400);
    &.active {
      color: #00b1bd;
    }
    @media screen and (max-width: $BreakpointMd) {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
  }
  &-32-message {
    min-width: 32px;
    width: 32px;
    height: 32px;
    color: var(--p-gray-400);
    @media screen and (max-width: $BreakpointMd) {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
  }
  &-32-share {
    min-width: 32px;
    width: 32px;
    height: 32px;
    color: var(--p-gray-400);
    @media screen and (max-width: $BreakpointMd) {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
  }
  &-32-dotmenu {
    min-width: 32px;
    width: 32px;
    height: 32px;
    color: var(--p-gray-400);
    @media screen and (max-width: $BreakpointMd) {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
  }
  &-profile-default {
    width: 48px;
    height: 48px;
    --path-color-1: var(--p-gray-300);
    --path-color-2: #eaecf1;
  }
}

.ico {
  &-social-facebook {
    svg {
      display: block;
      min-width: 58px;
      width: 58px;
      height: 58px;
      --path-color-1: #38414f;
      --path-color-2: #f4f5f7;
    }
  }
  &-social-x {
    svg {
      display: block;
      min-width: 58px;
      width: 58px;
      height: 58px;
      --path-color-1: #38414f;
      --path-color-2: #f4f5f7;
    }
  }
  &-social-kakaotalk {
    svg {
      display: block;
      min-width: 58px;
      width: 58px;
      height: 58px;
      --path-color-1: #38414f;
      --path-color-2: #f4f5f7;
    }
  }
  &-social-naverblog {
    svg {
      display: block;
      min-width: 58px;
      width: 58px;
      height: 58px;
      --path-color-1: #38414f;
      --path-color-2: #f4f5f7;
    }
  }
  &-social-copy {
    svg {
      display: block;
      min-width: 58px;
      width: 58px;
      height: 58px;
      --path-color-1: #38414f;
      --path-color-2: #f4f5f7;
    }
  }
}

.p-dark {
  .ico {
    &-20-delete {
      --path-color-1: var(--p-gray-400);
      --path-color-2: var(--p-gray-800);
    }
    &-20-comment-delete {
      color: var(--p-gray-400);
    }
    &-24-header-back {
      color: var(--p-gray-00);
    }
    &-24-bell-on {
      color: var(--p-gray-00);
    }
    &-24-menu {
      color: var(--p-gray-00);
    }
    &-100-smile {
      --path-color-1: var(--p-gray-600);
      --path-color-2: var(--p-gray-600);
    }
    &-profile-default {
      --path-color-1: var(--p-gray-600);
      --path-color-2: #6a7381;
    }
    &-social-facebook {
      svg {
        --path-color-1: var(--p-gray-400);
        --path-color-2: var(--p-gray-600);
      }
    }
    &-social-x {
      svg {
        --path-color-1: var(--p-gray-400);
        --path-color-2: var(--p-gray-600);
      }
    }
    &-social-kakaotalk {
      svg {
        --path-color-1: var(--p-gray-400);
        --path-color-2: var(--p-gray-600);
      }
    }
    &-social-naverblog {
      svg {
        --path-color-1: var(--p-gray-400);
        --path-color-2: var(--p-gray-600);
      }
    }
    &-social-copy {
      svg {
        --path-color-1: var(--p-gray-400);
        --path-color-2: var(--p-gray-600);
      }
    }
  }
}
