@use 'sass:math';

$BreakpointMd: 1439px;

:root,
:host {
  --scroll-thumb-color-background: var(--p-gray-00);
  --scroll-thumb-color: var(--p-gray-300);
  --scroll-hover-thumb-color: var(--p-gray-400);
  &.p-dark {
    --scroll-thumb-color: var(--p-gray-700);
    --scroll-hover-thumb-color: var(--p-gray-600);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin breakpoint {
  // 1. 미디어 쿼리는 언제나 가능
  @media screen and (max-width: $BreakpointMd) {
    @content;
  }

  // 2. 클래스 대응
  @if & {
    // 부모 선택자가 있는 경우 (ex: .sb 내부)
    .breakpoint-mo & {
      @content;
    }
  } @else {
    // 부모 선택자가 없는 Top-level인 경우
    .breakpoint-mo {
      @content;
    }
  }
}

@mixin text-clamp($lines: 2, $line-height: false) {
  display: -webkit-box;
  overflow: hidden;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  word-break: break-all;
  @if $line-height {
    max-height: $line-height * $lines * 1rem;
  }
}

@mixin custom-scrollbar(
  $width: 6px,
  $thumb-color: var(--scroll-thumb-color),
  $hover-color: var(--scroll-hover-thumb-color),
  $bg-color: transparent
) {
  // 스크롤바 기본 크기
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg-color;
  }

  // 기본 상태: 완전히 투명 (안 보임)
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid transparent;
  }

  /* ==================== 핵심: Hover 시 스크롤바 나타나게 ==================== */
  &:hover::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
  }

  /* thumb에 직접 hover했을 때 */
  &::-webkit-scrollbar-thumb:hover {
    background-color: $hover-color;
  }

  /* Safari 버그 대응용 (필요하면 사용) */
  &:hover {
    --scroll-fix: ; // 빈 custom property로 style 재계산 강제
  }
}

@mixin custom-scrollbar-blur(
  $height: 50px,
  $bg-color: var(--scroll-blur-background)
) {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $height;

    background: linear-gradient(180deg, transparent 0%, #{$bg-color} 100%);
    backdrop-filter: blur(0.5px);
    pointer-events: none;
    z-index: 50;
  }
}

@mixin custom-scrollbar-vertical-blur(
  $width: 50px,
  $bg-color: var(--scroll-blur-background)
) {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $width;
    background: linear-gradient(90deg, transparent 0%, #{$bg-color} 100%);
    backdrop-filter: blur(0.5px);
    pointer-events: none;
    z-index: 50;
    @include breakpoint {
      width: 40px;
    }
  }
}
