@use 'sass:math';

$BreakpointMd: 1024px;

@mixin text-clamp($lines: 2, $line-height: false) {
  display: -webkit-box;
  overflow: hidden;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  word-break: break-all;
  @if $line-height {
    max-height: $line-height * $lines * 1rem;
  }
}

@mixin custom-scrollbar(
  $width: 12px,
  $thumb-color: #c8c8c8,
  $hover-color: #afafaf,
  $bg-color: #fff
) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    // $width / 2 대신 math.div 사용
    border-radius: math.div($width, 2);
    border: 4px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $hover-color;
  }
}
