@use './mixins' as *;

.sb {
  &-popover {
    &-search-history {
      position: relative;
      &-layer {
        position: absolute;
        top: 24px;
        right: 0;
        z-index: 50;
        background: var(--p-popover-background);
        border: 1px solid var(--p-popover-border-color);
        border-radius: var(--p-popover-border-radius);
        box-shadow: var(--p-popover-shadow);
        color: var(--p-popover-color);
        margin-block-start: var(--p-popover-gutter);
        will-change: transform;
        color: var(--p-popover-color);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.3px;
        line-height: 140%;
        padding: 16px;

        width: 292px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transform: translateY(-6px) scale(0.98);
        transform-origin: top left;

        transition:
          opacity 0.18s ease,
          transform 0.18s ease,
          visibility 0.18s step-end;

        will-change: opacity, transform;
      }
      &.active {
        > .p-button {
          .ico-arrow-achevron-down {
            transform: rotate(180deg);
          }
        }
      }
      &.active & {
        &-layer {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;

          transform: translateY(0) scale(1);

          transition:
            opacity 0.18s ease,
            transform 0.18s ease,
            visibility 0s step-start;
        }
      }

      &-layer {
        &::before,
        &::after {
          display: none;
        }
      }
      &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        strong {
          color: var(--title-color);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
      }
      &-body {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 306px;
        overflow: auto;
        @include custom-scrollbar();
        &-item {
          padding: 12px;
          border-radius: 8px;
          background: var(--popover-search-history-list-item-background);
          &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4px;
            span {
              color: var(--popover-search-history-list-head-color);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
              @include text-clamp(1);
            }
            .ico-system-close {
              min-width: 20px;
              width: 20px;
              height: 20px;
            }
          }
          &-body {
            display: flex;
            align-items: center;
            min-height: 24px;
            gap: 4px;
            p {
              margin: 0;
              color: var(--popover-search-history-list-body-color);
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
              @include text-clamp(1);
            }
          }
          &-foot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;
            span {
              color: var(--popover-search-history-list-foot-color);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
          }
        }
      }
      &-nodata {
        padding: 40px 0;
        color: var(--popover-search-history-list-nodata-color);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
      }
    }
    &-analyze {
      width: 480px;
      &::before,
      &::after {
        display: none;
      }
      .p-popover-content {
        padding: 16px;
      }
      &__title {
        margin-bottom: 20px;
        color: var(--popover-analyze-title);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
      }
      &-list {
        margin-bottom: 20px;
        dl {
          display: flex;
          align-items: center;
          gap: 8px;
          margin: 0;
          padding: 16px 10px;
          border-bottom: 1px dashed
            var(--popover-analyze-list-item-border-color);
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }
          dt {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
            &::after {
              content: '';
              width: 1px;
              height: 12px;
              border-radius: 99px;
              background: var(--popover-analyze-list-item-border-color);
            }
          }
          dd {
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 0;
            padding: 0;
            svg {
              min-width: 16px;
              width: 16px;
              height: 16px;
            }
            p {
              margin: 0;
              overflow: hidden;
              color: var(--popover-analyze-list-item-text-color);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
              @include text-clamp(1);
            }
          }
        }
      }
      &-propose {
        border-radius: 8px;
        background: var(--popover-analyze-propose-background);
        @include custom-scrollbar-blur();
        &::after {
          height: 30px;
        }
        &.is-scroll-end {
          &::after {
            opacity: 0;
            visibility: hidden;
          }
        }
        &-scroll {
          max-height: 230px;
          padding: 20px;
          overflow: auto;
          @include custom-scrollbar();
        }
        &__title {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-bottom: 20px;
          color: var(--popover-analyze-propose-title-color);
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          letter-spacing: -0.4px;
        }
        dl {
          margin: 0 0 20px 0;
          padding: 0 0 20px 0;
          border-bottom: 1px dashed
            var(--popover-analyze-propose-section-border-color);
          &:last-child {
            margin: 0;
            padding: 0;
            border-bottom: none;
          }
          dt {
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 0;
            padding: 0;
            p {
              margin: 0;
              color: var(--popover-analyze-propose-subtitle-color);
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 1;
              letter-spacing: -0.35px;
            }
          }
          dd {
            margin: 0;
            padding: 0;
          }
        }
        &-item {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-top: 12px;
          padding: 10px 12px;
          border-radius: 8px;
          background: var(--popover-analyze-propose-item-background);
          box-shadow: var(--popover-analyze-propose-item-boxshadow);
          p {
            margin: 0;
            color: var(--popover-analyze-propose-item-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
            @include text-clamp(2, 19.6);
          }
          .p-button {
            min-width: 40px;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    &-tag {
      width: 448px;
      @include breakpoint {
        display: none;
      }
      &::before,
      &::after {
        display: none;
      }
      .p-popover-content {
        padding: 16px;
      }
      &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        &__title {
          display: flex;
          align-items: center;
          gap: 4px;
          color: var(--popover-tag-head-title-color);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
        p {
          margin: 0;
          color: var(--popover-tag-head-text-color);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 16.8px */
          letter-spacing: -0.3px;
        }
      }
      &-list {
        &-item {
          display: flex;
          align-items: flex-start;
          gap: 20px;
          padding: 10px 12px;
          border-radius: 8px;
          background: var(--popover-tag-list-item-background);
          p {
            margin: 0;
            color: var(--popover-tag-list-item-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 22.4px */
            letter-spacing: -0.35px;
            @include text-clamp(5, 22.4);
          }
          .p-button {
            min-width: 40px;
            width: 40px;
            height: 40px;
            color: var(--popover-tag-list-item-icon-color);
          }
        }
      }
    }
    &-sourcing {
      width: 400px;
      border: none;
      margin-left: -134px;

      &::before,
      &::after {
        display: none;
      }
      .p-popover-content {
        padding: 0;
      }
      .sb-ktrend-view-product-list-item,
      .sb-trend-sourcing-result-list-item {
        padding: 20px;
        background: none;
        &__thumb {
          min-width: 100px;
          width: 100px;
          height: 100px;
        }
        &__text {
          p {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 4px;
            span {
              &:after {
                display: none;
              }
            }
          }
        }
        &__link {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-wrap: wrap;
          margin: 12px 0 0 0;
          span {
            display: flex;
            align-items: center;
            a {
              color: var(--trend-sourcing-result-item-text-color);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
              text-decoration: underline;
            }
            &:after {
              content: '';
              display: block;
              width: 1px;
              height: 12px;
              margin: 0 8px;
              border-radius: 99px;
              background: var(--trend-sourcing-result-item-text-border-color);
            }
            &:last-child {
              &::after {
                display: none;
              }
            }
          }
        }
      }
      @include breakpoint {
        width: 124px;
        border: none;
        margin-left: -50px;
        border-radius: 8px;

        &::before,
        &::after {
          display: none;
        }
        .p-popover-content {
          padding: 0;
        }
        .sb-ktrend-view-product-list-item,
        .sb-trend-sourcing-result-list-item {
          padding: 12px;
          background: none;

          &__thumb {
            min-width: 60px;
            width: 60px;
            height: 60px;
          }
          &__contents {
            flex-direction: column;
            align-items: flex-start;
          }
          &__text {
            p {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 4px;
              span {
                &:after {
                  display: none;
                }
              }
            }
          }
          &__link {
            display: none;
          }
        }
      }
    }
    &-chart {
      width: 448px;
      @include breakpoint {
        display: none;
      }
      &::before,
      &::after {
        display: none;
      }
      .p-popover-content {
        padding: 16px;
      }
    }
    &-search-recent {
      position: absolute;
      top: 68px;
      left: 0;
      z-index: 50;
      background: var(--p-popover-background);
      border: 1px solid var(--p-popover-border-color);
      border-radius: var(--p-popover-border-radius);
      box-shadow: var(--p-popover-shadow);
      color: var(--p-popover-color);
      will-change: transform;
      color: var(--p-popover-color);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.3px;
      line-height: 140%;
      padding: 24px 24px 28px 24px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      min-width: 700px;
      width: 700px;
      transform: translateY(-6px) scale(0.98);
      transform-origin: top left;

      transition:
        opacity 0.18s ease,
        transform 0.18s ease,
        visibility 0.18s step-end;

      will-change: opacity, transform;

      border-radius: 32px;
      &-history {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed var(--p-gray-300);
        &-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          strong {
            color: var(--Text_Light-900---mian, #1b1f27);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
        }
        &-body {
          > p {
            margin: 0;
            padding: 40px 20px;
            color: var(--Text_Light-400---eaplanation, #9aa3af);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
        }
      }
      &-popular {
        display: flex;
        align-items: center;
        min-height: 32px;
        gap: 20px;
        &__title {
          color: var(--Text_Light-900---mian, #1b1f27);
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          letter-spacing: -0.4px;
        }
      }
      @media screen and (max-width: 1800px) {
        min-width: 520px;
        width: 520px;
      }
      @include breakpoint {
        top: 56px;
        left: 20px;
        min-width: auto;
        width: 100%;
        width: calc(100% - 40px);
        padding: 16px;
        border-radius: 16px;
        &-history {
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px dashed var(--p-gray-300);
          &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            strong {
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
            }
          }
          &-body {
            > p {
              margin: 0;
              padding: 24px 16px;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
            }
          }
        }
        &-popular {
          display: flex;
          align-items: center;
          min-height: 20px;
          gap: 20px;
          &__title {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
          }
        }
      }
    }
  }
  &-dialog {
    &-bottom {
      display: flex;
      align-items: flex-end !important;
      .p-dialog {
        width: 100%;
        border-radius: 24px 24px 0 0;
      }
    }
    &-loading {
      min-width: 320px;
      width: 320px;
      height: 290px;
      padding: 0;
      border-radius: 16px;
      background: var(--dialog-loading-background);
      border-color: var(--dialog-loading-background);
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
      .p-dialog-header {
        display: none;
      }
      .p-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
      }
      @keyframes bounceLogo {
        0%,
        100% {
          transform: translateY(4px);
          animation-timing-function: ease-out; /* 올라갈 때 서서히 감속 */
        }
        50% {
          transform: translateY(-4px); /* 점프 높이 */
          animation-timing-function: ease-in; /* 내려올 때 서서히 가속 */
        }
      }
      .ico-logo-loading {
        width: 80px;
        height: 80px;
        animation: bounceLogo 0.8s infinite alternate ease-in-out;
      }
      &__text {
        width: 100%;
        margin-top: auto;
        p {
          margin: 0;
          color: var(--dialog-loading-color);
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 25.2px */
          letter-spacing: -0.45px;
        }
        span {
          display: block;
          margin-top: 8px;
          color: var(--dialog-loading-color);
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
      }
    }
    &-schedule {
      &-head {
        display: flex;
        align-items: center;
        gap: 14px;
        h3 {
          color: var(--dialog-schedule-head-title-color);
        }
        p {
          margin: 12px 0 0 0;
          color: var(--dialog-schedule-head-text-color);
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          letter-spacing: -0.4px;
        }
      }
      &-body {
        margin-top: 40px;
        ul {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            width: 100%;
            padding: 16px 0;
            border-bottom: 1px dashed var(--dialog-schedule-body-border-color);
            &:first-child {
              padding-top: 0;
            }
            &:last-child {
              padding-bottom: 0;
              border-bottom: none;
            }
            &.color-info {
              .sb-dialog-schedule-body__title {
                &::before {
                  background-color: var(--planner-dot-info);
                }
              }
            }
            &.color-success {
              .sb-dialog-schedule-body__title {
                &::before {
                  background-color: var(--planner-dot-success);
                }
              }
            }
            &.color-danger {
              .sb-dialog-schedule-body__title {
                &::before {
                  background-color: var(--planner-dot-danger);
                }
              }
            }
            &.color-secondary {
              .sb-dialog-schedule-body__title {
                &::before {
                  background-color: var(--planner-dot-secondary);
                }
              }
            }
            &.color-warn {
              .sb-dialog-schedule-body__title {
                &::before {
                  background-color: var(--planner-dot-warn);
                }
              }
            }
            &.color-primary {
              .sb-dialog-schedule-body__title {
                &::before {
                  background-color: var(--planner-dot-primary);
                }
              }
            }
            &.color-contrast {
              .sb-dialog-schedule-body__title {
                &::before {
                  background-color: var(--planner-dot-contrast);
                }
              }
            }
          }
        }
        &__title {
          display: flex;
          align-items: center;
          gap: 8px;
          p {
            margin: 0;
            color: var(--dialog-schedule-body-title-color);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
          &::before {
            content: '';
            display: block;
            min-width: 8px;
            width: 8px;
            height: 8px;
            border-radius: 8px;
          }
          .p-button {
            min-width: 24px;
            width: 24px;
            height: 24px;
            border-radius: 8px;
            background: var(--dialog-schedule-body-button-background);
            &:hover {
              background: var(--dialog-schedule-body-button-background);
            }
            .ico-system-edit {
              min-width: 16px;
              width: 16px;
              height: 16px;
              color: var(--dialog-schedule-body-button-color);
            }
            .ico-system-delete {
              color: var(--dialog-schedule-body-button-background);
            }
          }
        }
        &__button {
          display: flex;
          align-items: center;
          gap: 4px;
        }
        &__text {
          p {
            position: relative;
            display: flex;
            margin: 6px 0 0 0;
            padding: 0 0 0 16px;
            color: var(--dialog-schedule-body-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 8px;
              left: 0;
              width: 8px;
              height: 1px;
              background: var(--dialog-schedule-body-text-color);
            }
          }
        }
      }
      @include breakpoint {
        &-head {
          display: flex;
          align-items: center;
          gap: 14px;
          p {
            margin: 12px 0 0 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
          }
        }
        &-body {
          margin-top: 20px;

          &__title {
            display: flex;
            align-items: center;
            gap: 8px;
            p {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
            }
          }
          &__button {
            display: flex;
            align-items: center;
            gap: 4px;
          }
          &__text {
            p {
              position: relative;
              display: flex;
              margin: 4px 0 0 0;
              padding: 0 0 0 16px;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
          }
        }
      }
      @media screen and (min-width: 1440px) {
        min-width: 600px;
        width: 600px;
        border: none;
        .p-dialog-header {
          padding: 0;
        }
        .p-dialog-content {
          padding: 40px 40px 0 40px;
        }
        .p-dialog-header-actions {
          position: absolute;
          top: 24px;
          right: 24px;
        }
        &-mask {
          background: none !important;
        }
      }
    }
    &-memowrite {
      &-form {
        &-item {
          display: flex;
          gap: 16px;
          margin-bottom: 16px;
          padding-bottom: 16px;
          border-bottom: 1px dashed var(--dialog-memowrite-border-color);
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
          > label {
            display: flex;
            align-items: center;
            min-width: 100px;
            height: 48px;
            color: var(--dialog-memowrite-label-color);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
        }
      }
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 32px;
      }
      @include breakpoint {
        &-form {
          &-item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 24px;
            padding-bottom: 24px;
            &:last-child {
              margin-bottom: 0;
              padding-bottom: 0;
            }
            > label {
              height: auto;
            }
          }
        }
        &-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          margin-top: 32px;
        }
      }
    }
    &-marketing {
      &__text {
        margin-bottom: 32px;
        color: var(--dialog-marketing-text-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.4px;
      }
      &__button {
        display: flex;
        justify-content: center;
        margin-top: 32px;
      }
      @include breakpoint {
        &__text {
          margin-bottom: 24px;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 22.4px */
          letter-spacing: -0.35px;
        }
        .sb-checkbox {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        &__button {
          margin-top: 24px;
        }
      }
    }
    &-notification {
      .p-dialog-title {
        width: calc(100% - 40px);

        .p-button {
          margin-left: auto;

          .ico-system-setting {
            color: var(--dialog-notification-head-ico-color);
          }
        }
      }
      &-body {
        padding: 24px 0;
      }
      &-text {
        display: flex;
        justify-content: flex-end;
        padding: 12px 0 24px 0;
        p {
          margin: 0;
          color: var(--dialog-notification-text-color);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 16.8px */
          letter-spacing: -0.3px;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &-item {
          display: block;
          padding: 20px 20px 28px 20px;
          border-radius: 24px;
          background: var(--dialog-notification-list-item-background);
          &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 12px 0;
            p {
              margin: 0;
              color: var(--dialog-notification-list-item-text-color);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
          }
          &__title {
            color: var(--dialog-notification-list-item-title-color);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 25.2px */
            letter-spacing: -0.45px;
            @include text-clamp(2, 25.2);
          }
        }
      }
      &-button {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        .ico-arrow-achevron-right {
          min-width: 20px;
          width: 20px;
          height: 20px;
        }
      }
    }
    &-extension-write {
      .p-dialog-title {
        margin-bottom: 24px;
      }
      &__text {
        margin-bottom: 32px;
        color: var(--title-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
      }
      &-form {
        &-item {
          display: flex;
          gap: 16px;
          margin-bottom: 16px;
          padding-bottom: 16px;
          border-bottom: 1px dashed var(--dialog-memowrite-border-color);
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
          > label {
            display: flex;
            align-items: center;
            min-width: 100px;
            height: 48px;
            color: var(--dialog-memowrite-label-color);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
        }
      }
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 32px;
      }
      &-search {
        width: 100%;
        &-head {
          .sb-input {
            width: 100%;
          }
        }
        &-body {
          margin-top: 8px;
          padding: 24px 24px 0 24px;
          border-radius: 16px;
          border: 1px solid var(--dialog-extension-write-body-border-color);

          .sb-nodata {
            padding: 40px 0 60px 0;
            .ico-illustration-smile {
              --path-color-1: var(--ico-illustration-smile-color3);
              --path-color-2: var(--ico-illustration-smile-color4);
            }
            .ico-illustration-frown {
              --path-color-1: var(--ico-illustration-frown-color3);
              --path-color-2: var(--ico-illustration-frown-color4);
            }
            p {
              color: var(--p-gray-400);
            }
          }
        }
        &-list {
          @include custom-scrollbar-blur();
          &.is-scroll-end {
            &::after {
              opacity: 0;
              visibility: hidden;
            }
          }
          &-scroll {
            max-height: 240px;
            overflow: auto;
            @include custom-scrollbar();
          }
          &-item {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;

            &__thumb {
              min-width: 100px;
              width: 100px;
              height: 100px;
              border-radius: 16px;
              overflow: hidden;
              cursor: pointer;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &__contents {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 24px;
              width: 100%;
              cursor: pointer;
              p {
                margin: 0 0 8px 0;
                color: var(--title-color);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.4px;
                @include text-clamp(2, 22.4);
              }
              strong {
                color: var(--title-color);
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 19.6px */
                letter-spacing: -0.35px;
              }
              .p-button {
                min-width: 24px;
                .ico-system-delete {
                  color: var(--dialog-notification-list-item-button-color);
                }
              }
            }
            &__input {
              display: flex;
              flex-direction: column;
              gap: 8px;
              padding-left: 20px;
              border-left: 1px dashed
                var(
                  --dialog-extension-write-search-list-item-input-border-color
                );
              strong {
                color: var(
                  --dialog-extension-write-search-list-item-input-text-color
                );
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.4px;
              }
              .sb-input {
                width: 120px;
              }
            }
          }
          &--modify & {
            &-scroll {
              max-height: 338px;
              margin-bottom: 24px;
            }
          }
        }
        &-button {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 10px 0;
          border-top: 1px solid
            var(--dialog-extension-write-search-button-border-color);
        }
      }
      @include breakpoint {
        &-form {
          &-item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 24px;
            padding-bottom: 24px;
            &:last-child {
              margin-bottom: 0;
              padding-bottom: 0;
            }
          }
        }
        &-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          margin-top: 32px;
        }
      }
    }
    &-feedback {
      .sb-textarea {
        margin-top: 16px;
      }
    }
    &-keyword {
      .sb-caution {
        margin-top: 24px;
      }
      .sb-chip {
        .sb-checkbox-item {
          label {
            span {
              color: var(--dialog-keyword-label-color);

              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              letter-spacing: -0.35px;
              strong {
                color: var(--dialog-keyword-label-strong-color);
              }
            }
          }
        }
      }
      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
      }
    }
    &-workspace {
      .p-dialog-title {
        margin-bottom: 32px;
      }
      &__text {
        margin-bottom: 32px;
        color: var(--title-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
      }
      &-form {
        &-item {
          display: flex;
          gap: 16px;
          margin-bottom: 16px;
          padding-bottom: 16px;
          border-bottom: 1px dashed var(--dialog-memowrite-border-color);
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
          > label {
            display: flex;
            align-items: center;
            min-width: 100px;
            height: 48px;
            color: var(--dialog-memowrite-label-color);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
        }
      }
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 32px;
      }
      &-member {
        width: 100%;
      }
      &-member & {
        &-form {
          &-item {
            gap: 8px;
            margin-bottom: 0;
            border: none;
            &__input {
              width: 100%;
            }
          }
          .sb-input {
            width: 100%;
          }
          .p-select {
            min-width: 190px;
          }
        }
      }
      @include breakpoint {
        &-form {
          &-item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 24px;
            padding-bottom: 24px;
            &:last-child {
              margin-bottom: 0;
              padding-bottom: 0;
            }
          }
        }
        &-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          margin-top: 32px;
        }
      }
    }
  }
}

.p-dialog .sb-planner-app-head-checkbox .sb-checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding-top: 20px;
}
