@use './mixins' as *;

.sb {
  &-popover {
    &-search-history {
      position: relative;
      &-layer {
        position: absolute;
        top: 24px;
        right: 0;
        z-index: 50;
        background: var(--p-popover-background);
        border: 1px solid var(--p-popover-border-color);
        border-radius: var(--p-popover-border-radius);
        box-shadow: var(--p-popover-shadow);
        color: var(--p-popover-color);
        margin-block-start: var(--p-popover-gutter);
        will-change: transform;
        color: var(--p-popover-color);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.3px;
        line-height: 140%;
        padding: 16px;

        width: 292px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transform: translateY(-6px) scale(0.98);
        transform-origin: top left;

        transition:
          opacity 0.18s ease,
          transform 0.18s ease,
          visibility 0.18s step-end;

        will-change: opacity, transform;
      }
      &.active {
        > .p-button {
          .ico-arrow-achevron-down {
            transform: rotate(180deg);
          }
        }
      }
      &.active & {
        &-layer {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;

          transform: translateY(0) scale(1);

          transition:
            opacity 0.18s ease,
            transform 0.18s ease,
            visibility 0s step-start;
        }
      }

      &-layer {
        &::before,
        &::after {
          display: none;
        }
      }
      &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        strong {
          color: var(--title-color);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
      }
      &-body {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 306px;
        overflow: auto;
        @include custom-scrollbar();
        &-item {
          padding: 12px;
          border-radius: 8px;
          background: var(--popover-search-history-list-item-background);
          &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4px;
            span {
              color: var(--popover-search-history-list-head-color);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
              @include text-clamp(1);
            }
            .ico-system-close {
              min-width: 20px;
              width: 20px;
              height: 20px;
            }
          }
          &-body {
            display: flex;
            align-items: center;
            min-height: 24px;
            gap: 4px;
            p {
              margin: 0;
              color: var(--popover-search-history-list-body-color);
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
              @include text-clamp(1);
            }
          }
          &-foot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;
            span {
              color: var(--popover-search-history-list-foot-color);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
          }
        }
      }
      &-nodata {
        padding: 40px 0;
        color: var(--popover-search-history-list-nodata-color);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
      }
    }
    &-analyze {
      width: 480px;
      &::before,
      &::after {
        display: none;
      }
      .p-popover-content {
        padding: 16px;
      }
      &__title {
        margin-bottom: 20px;
        color: var(--popover-analyze-title);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
      }
      &-list {
        margin-bottom: 20px;
        dl {
          display: flex;
          align-items: center;
          gap: 8px;
          margin: 0;
          padding: 16px 10px;
          border-bottom: 1px dashed
            var(--popover-analyze-list-item-border-color);
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }
          dt {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
            &::after {
              content: '';
              width: 1px;
              height: 12px;
              border-radius: 99px;
              background: var(--popover-analyze-list-item-border-color);
            }
          }
          dd {
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 0;
            padding: 0;
            svg {
              min-width: 16px;
              width: 16px;
              height: 16px;
            }
            p {
              margin: 0;
              overflow: hidden;
              color: var(--popover-analyze-list-item-text-color);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
              @include text-clamp(1);
            }
          }
        }
      }
      &-propose {
        padding: 20px;
        border-radius: 8px;
        background: var(--popover-analyze-propose-background);
        &__title {
          display: flex;
          align-items: center;
          gap: 4px;
          color: var(--popover-analyze-propose-title-color);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
        &-item {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-top: 12px;
          padding: 10px 12px;
          border-radius: 8px;
          background: var(--popover-analyze-propose-item-background);
          box-shadow: var(--popover-analyze-propose-item-boxshadow);
          p {
            margin: 0;
            color: var(--popover-analyze-propose-item-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
            @include text-clamp(2, 19.6);
          }
          .p-button {
            min-width: 40px;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
  &-dialog {
    &-loading {
      min-width: 320px;
      width: 320px;
      height: 290px;
      padding: 0;
      border-radius: 16px;
      background: var(--Gray-00, #fff);
      /* light/Shadow 3 */
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
      .p-dialog-header {
        display: none;
      }
      .p-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
      }
      &__text {
        width: 100%;
        margin-top: auto;
        p {
          margin: 0;
          color: var(--Text_Light-900---mian, #1b1f27);
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 25.2px */
          letter-spacing: -0.45px;
        }
        span {
          display: block;
          margin-top: 8px;
          color: var(--Text_Light-900---mian, #1b1f27);
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
      }
    }
  }
}
