@use './mixins' as *;

.sb {
  &-popover {
    &-search-history {
      width: 260px;
      padding: 4px 0;
      &-layer {
        &::before,
        &::after {
          display: none;
        }
      }
      &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        strong {
          color: var(--title-color);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
      }
      &-body {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 306px;
        overflow: auto;
        @include custom-scrollbar();
        &-item {
          padding: 12px;
          border-radius: 8px;
          background: var(--search-history-list-item-background);
          &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4px;
            span {
              color: var(--search-history-list-head-color);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
              @include text-clamp(1);
            }
            .ico-system-close {
              min-width: 20px;
              width: 20px;
              height: 20px;
            }
          }
          &-body {
            display: flex;
            align-items: center;
            min-height: 24px;
            gap: 4px;
            p {
              margin: 0;
              color: var(--search-history-list-body-color);
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
              @include text-clamp(1);
            }
          }
          &-foot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;
            span {
              color: var(--search-history-list-foot-color);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
          }
        }
      }
      &-nodata {
        padding: 40px 0;
        color: var(--search-history-list-nodata-color);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
      }
    }
  }
}
