@use './mixins' as *;

.sb {
  &-report {
    min-width: 1275px;
    &-head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 40px;
      &__title {
        margin-bottom: 16px;
        h5 {
          color: var(--title-color);
        }
      }
    }
    &-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &-sort {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
    @include breakpoint {
      &-head {
        justify-content: flex-end;
        &__title {
          display: none;
        }
      }
      &-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 24px;
        .sb-searchbar {
          width: 100%;
        }
      }
      &-sort {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 12px;
      }
    }
  }
  &-report {
    &-contents {
      &-head {
        padding: 40px;
        h4 {
          color: var(--title-color);
        }
      }
    }
    &-summary {
      &-head {
        &-list {
          ul {
            margin: 0;
            padding: 30px 0 0 0;
            list-style: none;
            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 0 32px 0;
              padding: 0 0 32px 0;
              border-bottom: 1px dashed
                var(--report-summary-head-list-border-color);
              &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
              }
              p {
                margin: 0;
                color: var(--report-summary-head-list-text-color);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.4px;
              }
            }
          }
          &__number {
            display: flex;
            align-items: flex-end;
            gap: 4px;
            h5 {
              position: relative;
              top: -2px;
              color: var(--title-color);
            }
          }
        }
      }
      &-section {
        margin-top: 20px;
        padding: 40px;
        background: var(--report-background);
        border-radius: 32px;
        &:first-child {
          margin-top: 0;
        }
        &-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 32px;
          h5 {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--title-color);
          }
          p {
            margin: 0;
            color: var(--report-summary-section-head-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
          }
        }
        &-grid {
          overflow: hidden;
          .grid {
            margin-right: -6px;
            margin-left: -6px;
            margin-top: -6px;
            margin-bottom: -6px;
            > [class*='col'] {
              padding: 6px;
              .grid {
                height: 100%;
              }
              dl {
                height: 100%;
                margin: 0;
                padding: 32px;
                border-radius: 16px;
                background: var(--report-summary-section-item-background);
                &.large {
                  padding: 40px;
                }
                dt {
                  margin: 0 0 10px 0;
                  padding: 0;
                  color: var(--report-summary-section-item-title-color);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 140%; /* 22.4px */
                  letter-spacing: -0.4px;
                  h5 {
                    color: var(--title-color);
                  }
                }
                dd {
                  height: 100%;
                  margin: 0;
                  padding: 0;
                }
              }
            }
            ~ .grid {
              margin-top: 6px;
            }
          }
        }
      }
      &-chart {
        margin-bottom: 40px;
        &-head {
          display: flex;
          justify-content: flex-end;
          margin: 0 0 8px 0;
          p {
            margin: 0;
            color: var(--report-summary-chart-head-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
          }
        }
      }
      &-number {
        display: flex;
        align-items: flex-end;
        gap: 4px;
        h4 {
          color: var(--title-color);
        }
        h5 {
          position: relative;
          top: -2px;
          color: var(--title-color);
        }
      }
      &-chart-stackedbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .sb-chart-stackedbar {
          width: 800px;
        }
      }
      &-product {
        display: flex;
        &-item {
          position: relative;
          width: 100%;
          margin-right: 40px;
          padding-right: 40px;
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0px;
            bottom: 0;
            width: 1px;
            height: 100%;
            background-image: linear-gradient(
              to bottom,
              var(--report-summary-product-item-border-color) 50%,
              /* 1. 전체 높이의 50%(4px)만큼 색을 채움 */ rgba(255, 255, 255, 0)
                0%
            );
            background-position: top;
            background-size: 1px 8px; /* 2. 너비 1px, 높이 10px (이 10px이 점 사이의 간격) */
            background-repeat: repeat-y; /* 3. 세로로 반복 */
          }
          &:last-child {
            margin-right: 0;
            padding-right: 0;
            &:after {
              display: none;
            }
          }
          .sb-chart-segment {
            padding: 16px 20px;
          }
        }
        &-list {
          width: 100%;
          margin-top: 20px;
          &-head {
            margin-bottom: 8px;
            color: var(--report-summary-product-list-head-color);
            text-align: right;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
          &-body {
            @include custom-scrollbar-blur();
            &.is-scroll-end {
              &::after {
                opacity: 0;
                visibility: hidden;
              }
            }
          }
          &-scroll {
            height: 520px;
            overflow: auto;
            @include custom-scrollbar();
          }
          &-item {
            display: block;
            margin-top: 8px;
            padding: 20px;
            border-radius: 16px;
            background: var(--report-summary-product-list-item-background);
            &:first-child {
              margin-top: 0;
            }
            &-body {
              display: flex;
              align-items: center;
              gap: 20px;
            }
            &-foot {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              dl {
                display: flex;
                align-items: center;
                gap: 0;
                margin: 0 24px 0 0;
                padding: 0;
                &::after {
                  content: '';
                  display: block;
                  width: 1px;
                  height: 12px;
                  margin-left: 24px;
                  border-radius: 99px;
                  background: var(--sales-product-list-item-foot-border-color);
                }
                dt {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  margin: 0 8px 0 0;
                  padding: 0;
                  overflow: hidden;
                  color: var(--sales-product-list-item-foot-title-color);
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%; /* 19.6px */
                  letter-spacing: -0.35px;
                }
                dd {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  margin: 0;
                  padding: 0;
                  p {
                    margin: 0;
                    color: var(--sales-product-list-item-foot-text-color);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 16.8px */
                    letter-spacing: -0.3px;
                  }
                }
              }
              .ico-arrow-achevron-down {
                min-width: 20px;
                width: 20px;
                height: 20px;
                color: var(--sales-product-list-item-foot-icon-color);
              }
              .p-button {
                &.active {
                  .ico-arrow-achevron-down {
                    transform: rotate(180deg);
                  }
                }
              }
            }
            &__thumb {
              min-width: 100px;
              width: 100px;
              height: 100px;
              border-radius: 16px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &__title {
              color: var(--report-summary-product-list-title-color);
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
              @include text-clamp(2, 22.4);
            }
            &__price {
              display: flex;
              align-items: center;
              gap: 12px;
              margin-top: 12px;
              color: var(--report-summary-product-list-price-color);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
              .ico-arrow-right {
                min-width: 20px;
                width: 20px;
                height: 20px;
                color: var(--report-summary-product-list-icon-color);
              }
            }
            &__text {
              margin-top: 4px;
              color: var(--report-summary-product-list-text-color);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: -0.3px;
            }
            &__number {
              display: flex;
              align-items: center;
              gap: 8px;
              margin-bottom: 12px;
              p {
                margin: 0;
                overflow: hidden;
                color: var(--report-summary-product-list-number-color);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 19.6px */
                letter-spacing: -0.35px;
              }
            }
          }
          &-foot {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
          }
        }
      }
      &-cs {
        dl {
          dt {
            margin-bottom: 4px !important;
          }
        }
      }
      .sb-banner {
        margin-top: 40px;
      }
    }

    &-history {
      &-result {
        padding: 40px;
        border-radius: 32px;
        background: var(--report-background);
      }
      &-chart {
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1px dashed var(--report-history-chart-border-color);
        &-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 32px;
          h5 {
            color: var(--title-color);
          }
          dl {
            display: flex;
            align-items: center;
            gap: 24px;
            margin: 0;
            padding: 0;
            dt {
              margin: 0;
              padding: 0;
              color: var(--report-history-chart-head-title-color);
              text-align: right;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
            }
            dd {
              display: flex;
              align-items: center;
              gap: 24px;
              margin: 0;
              padding: 0;
              p {
                margin: 0;
                color: var(--report-history-chart-head-text-color);
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.4px;
              }
            }
          }
        }
        &-menu {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &__tab {
            display: flex;
            align-items: center;
            gap: 12px;
            p {
              margin: 0;
              color: var(--report-history-chart-menu-text-color);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 19.6px */
              letter-spacing: -0.35px;
            }
          }
          &__label {
            display: flex;
            align-items: center;
            gap: 20px;
            p {
              display: flex;
              align-items: center;
              gap: 4px;
              margin: 0;
              color: var(--report-history-chart-menu-label-color);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 1;
              letter-spacing: -0.3px;
            }
          }
        }
      }
      &-bna {
        &-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 32px;
          h5 {
            color: var(--title-color);
          }
        }
        &-menu {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 32px;
          padding: 0 12px;
          &__date {
            display: flex;
            align-items: center;
            gap: 24px;
            strong {
              min-width: 90px;
              color: var(--report-history-bna-menu-date-title-color);
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
            }
          }
          p {
            margin: 0;
            color: var(--report-history-bna-menu-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
          }
        }
        &-list {
          display: flex;
          gap: 12px;
          &-item {
            width: 100%;
            padding: 40px;
            border-radius: 16px;
            background: var(--report-history-bna-list-item-background);
            &-head {
              margin-bottom: 32px;
              h5 {
                color: var(--title-color);
              }
              p {
                margin: 8px 0 0 0;
                color: var(--report-history-bna-list-item-head-text-color);
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.4px;
              }
            }
            &-body {
              display: flex;
              gap: 12px;
              margin-bottom: 32px;
            }
            &-chart {
              display: flex;
              gap: 12px;
              width: 100%;
              dl {
                width: 100%;
                margin: 0;
                padding: 20px;
                border-radius: 16px;
                background: var(
                  --report-history-bna-list-item-chart-background
                );
                dt {
                  display: flex;
                  flex-direction: column;
                  gap: 4px;
                  margin: 0 0 20px 0;
                  padding: 0;
                  h6 {
                    color: var(
                      --report-history-bna-list-item-chart-title-color
                    );
                  }
                  p {
                    margin: 0;
                    color: var(--report-history-bna-list-item-chart-text-color);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 19.6px */
                    letter-spacing: -0.35px;
                  }
                }
                dd {
                  margin: 0;
                  padding: 0;
                  ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                      display: flex;
                      flex-direction: column;
                      gap: 4px;
                      margin: 0 0 20px 0;
                      padding: 0 0 20px 0;
                      border-bottom: 1px dashed
                        var(
                          --report-history-bna-list-item-chart-item-border-color
                        );
                      &:last-child {
                        margin: 0;
                        padding: 0;
                        border: none;
                      }
                      p {
                        margin: 0;
                        color: var(
                          --report-history-bna-list-item-chart-item-text-color
                        );
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%; /* 22.4px */
                        letter-spacing: -0.4px;
                      }
                      h6 {
                        color: var(
                          --report-history-bna-list-item-chart-title-color
                        );
                      }
                    }
                  }
                }
                &.active {
                  border: 1px solid var(--color-primary);
                  dt {
                    h6 {
                      color: var(--color-primary);
                    }
                  }
                  dd {
                    ul {
                      li {
                        color: var(--color-primary);
                        h6 {
                          color: var(--color-primary);
                        }
                      }
                    }
                  }
                }
              }
            }
            &-foot {
              display: flex;
              align-items: center;
              justify-content: space-between;
              h6 {
                color: var(--title-color);
              }
              &__price {
                display: flex;
                align-items: center;
                gap: 4px;
                h5 {
                  color: var(--report-history-bna-list-item-foot-price-color);
                }
                span {
                  color: var(--report-history-bna-list-item-foot-price-color);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 140%; /* 22.4px */
                  letter-spacing: -0.4px;
                }
              }
            }
            &-button {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 20px;
            }
          }
        }
      }
      &-date {
        margin-top: 20px;
        padding: 40px 0;
        border-radius: 32px;
        background: var(--report-background);
        h5 {
          color: var(--title-color);
        }
        &-title {
          padding: 0 40px 32px;
        }
        &-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 52px 32px;
          border-bottom: 1px solid var(--report-history-date-head-border-color);
          &__date {
            display: flex;
            align-items: center;
            gap: 24px;
            strong {
              min-width: 90px;
              color: var(--report-history-date-head-date-title-color);
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%;
              letter-spacing: -0.4px;
            }
          }
          p {
            margin: 0;
            color: var(--report-history-date-head-date-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
          }
        }
        &-body {
          &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;

            p {
              margin: 0;
              color: var(--report-history-date-body-head-text-color);
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
            }
          }
          &-section {
            padding: 32px 40px;
            border-bottom: 1px solid
              var(--report-history-date-body-section-border-color);
            &:last-child {
              border-bottom: none;
            }
          }
        }
        &-list {
          display: flex;
          gap: 20px;
          padding: 32px 0 32px 20px;
          border-bottom: 1px dashed
            var(--report-history-date-body-list-border-color);
          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }
          &__title {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 4px;
            min-width: 86px;
            strong {
              color: var(--report-history-date-body-list-title-color);
              font-size: 16px;
              font-style: normal;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
            }
          }
          &__contents {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
          &-item {
            display: flex;
            gap: 40px;
            padding: 20px;
            border-radius: 16px;
            width: 100%;
            background: var(--report-history-date-body-list-item-background);
            display: none;
            &:first-child {
              display: flex;
            }
            &__product {
              width: 100%;
            }
            &__contents {
              display: flex;
              align-items: center;
              gap: 20px;
              margin-bottom: 12px;
            }
            &__thumb {
              min-width: 100px;
              width: 100px;
              height: 100px;
              margin: 6px 0 0 0;
              border-radius: 16px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &__text {
              p {
                margin: 0;
                color: var(--report-history-date-body-list-item-text-color);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 16.8px */
                letter-spacing: -0.3px;
              }
            }
            &__title {
              margin-bottom: 12px;
              color: var(--report-history-date-body-list-item-title-color);
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
              @include text-clamp(1);
            }
            &__price {
              display: flex;
              align-items: center;
              gap: 12px;
              margin-bottom: 4px;
              span {
                color: var(
                  --report-history-date-body-list-item-price-text-color
                );
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.4px;
              }
              .ico-arrow-right {
                min-width: 20px;
                width: 20px;
                height: 20px;
                color: var(
                  --report-history-date-body-list-item-price-ico-color
                );
              }
              strong {
                color: var(
                  --report-history-date-body-list-item-price-title-color
                );
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.4px;
              }
            }
            &__contents {
              width: 100%;
            }
            &__button {
              display: flex;
              align-items: center;
              gap: 24px;
              margin-left: 120px;
              hr {
                display: block;
                width: 1px;
                height: 12px;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 99px;
                background: var(
                  --report-history-date-body-list-item-button-border-color
                );
                opacity: 1;
              }
              .ico-arrow-achevron-down {
                min-width: 20px;
                width: 20px;
                height: 20px;
                color: var(
                  --report-history-date-body-list-item-button-ico-color
                );
              }
              .p-button {
                &.active {
                  .ico-arrow-achevron-down {
                    transform: rotate(180deg);
                  }
                }
              }
              a {
                .p-button {
                  text-decoration: underline;
                  .ico-arrow-small-right {
                    min-width: 20px;
                    width: 20px;
                    height: 20px;
                    color: var(--p-gray-400);
                  }
                }
              }
            }
            &__bna {
              display: flex;
              gap: 12px;
              dl {
                width: 240px;
                margin: 0;
                padding: 20px;
                border-radius: 16px;
                background: var(
                  --report-history-date-body-list-item-bna-background
                );
                dt {
                  margin: 0 0 12px 0;
                  padding: 0;
                  h6 {
                    color: var(
                      --report-history-date-body-list-item-bna-title-color
                    );
                  }
                }
                dd {
                  margin: 0;
                  padding: 0;
                  ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                      margin: 0;
                      padding: 12px 0;
                      border-bottom: 1px dashed
                        var(
                          --report-history-date-body-list-item-bna-border-color
                        );
                      &:first-child {
                        padding-top: 0;
                      }
                      &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                      }
                      p {
                        display: flex;
                        gap: 4px;
                        margin: 0;
                        span {
                          color: var(
                            --report-history-date-body-list-item-bna-item-text-color
                          );
                          font-size: 14px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: 140%; /* 19.6px */
                          letter-spacing: -0.35px;
                        }
                        strong {
                          color: var(
                            --report-history-date-body-list-item-bna-item-title-color
                          );
                          font-size: 14px;
                          font-style: normal;
                          font-weight: 700;
                          line-height: 140%; /* 19.6px */
                          letter-spacing: -0.35px;
                        }
                      }
                    }
                  }
                }
                &.active {
                  border: 1px solid var(--color-primary);
                  dt {
                    h6 {
                      color: var(--color-primary);
                    }
                  }
                  dd {
                    ul {
                      li {
                        p {
                          strong {
                            color: var(--color-primary);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          &.active & {
            &-item {
              display: flex;
            }
          }
        }
      }

      .sb-banner {
        margin-top: 40px;
      }
    }

    &-analyze {
      &-swiper {
        position: relative;
        margin-bottom: 40px;
        margin-right: -40px;
        padding: 0 0 0 40px;
        overflow: hidden;
        &-inner {
          margin-right: -300px;
        }
        .sb-swiper-controls {
          position: absolute;
          top: 50%;
          right: 80px;
          transform: translateY(-50%);
          z-index: 50;
          .p-button {
            &:not(:disabled) {
              background: var(--dashboard-swiper-button-background);
              svg {
                color: var(--dashboard-swiper-button-ico-color);
              }
            }
          }
        }
        .swiper-slide {
          opacity: 0.5;
          transition: all 0.4s ease;
          &.swiper-slide-active {
            opacity: 1;
          }
          &.swiper-slide-next {
            opacity: 1;
          }
          &.swiper-slide-next + .swiper-slide {
            opacity: 1;
          }
        }
        &-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          height: 160px;
          padding: 40px;
          border-radius: 32px;
          background: var(--report-background);
          &__text {
            min-height: 80px;
            strong {
              color: var(--report-analyze-swiper-item-title-color);
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
              @include text-clamp(1);
            }
            p {
              margin: 4px 0 12px 0;
              color: var(--report-analyze-swiper-item-text-color);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
              @include text-clamp(1);
            }
          }
          &__time {
            color: var(--report-analyze-swiper-item-text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            letter-spacing: -0.35px;
            white-space: noWrap;
          }
          .p-button {
            color: var(--report-analyze-swiper-item-text-color);
            .ico-arrow-achevron-right {
              color: var(--report-analyze-swiper-item-text-color);
            }
          }
        }
      }
      &-record {
        height: 100%;
        min-height: 574px;
        padding: 40px;
        border-radius: 32px;
        background: var(--report-background);
        &-head {
          margin-bottom: 32px;
          h5 {
            color: var(--title-color);
          }
        }
        &-chart {
          display: flex;
          align-items: center;
          gap: 40px;
          max-width: 930px;
          margin: 0 auto;
          padding: 0 80px 0 0;
          border-radius: 9999px;
          background: var(--report-analyze-record-chart-backcground);
          &-chart {
            position: relative;
            min-width: 340px;
            height: 340px;
          }
          &-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            &__percent {
              display: flex;
              align-items: center;
              gap: 4px;
              h1,
              h3 {
                color: var(--report-analyze-record-chart-score-title-color);
              }
            }
            p {
              margin: 0;
              color: var(--report-analyze-record-chart-score-text-color);
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 28px */
              letter-spacing: -0.5px;
            }
          }
          &-contents {
            &-price {
              display: flex;
              flex-direction: column;
              gap: 12px;
              max-width: 440px;
              margin-bottom: 20px;
              padding-bottom: 20px;
              border-bottom: 1px dashed
                var(--report-analyze-record-chart-price-border-color);

              dl {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 12px;
                margin: 0;
                padding: 0;
                dt {
                  margin: 0;
                  padding: 0;
                  color: var(--report-analyze-record-chart-price-title-color);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 140%; /* 22.4px */
                  letter-spacing: -0.4px;
                }
                dd {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  margin: 0;
                  padding: 0;
                }
              }
            }
            &__expect {
              dl {
                margin: 0;
                padding: 0;
                dt {
                  margin: 0 0 8px 0;
                  padding: 0;
                  color: var(--report-analyze-record-chart-expect-title-color);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 140%; /* 22.4px */
                  letter-spacing: -0.4px;
                }
                dd {
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  column-gap: 24px;
                  row-gap: 4px;
                  margin: 0;
                  padding: 0;
                  p {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin: 0;
                    color: var(--report-analyze-record-chart-expect-text-color);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 22.4px */
                    letter-spacing: -0.4px;
                    .ico-system-check-s {
                      color: var(
                        --report-analyze-record-chart-expect-ico-color
                      );
                    }
                  }
                }
              }
            }
          }
        }
        &-button {
          display: flex;
          justify-content: center;
          margin-top: 32px;
        }
      }
      &-schedule {
        min-height: 574px;
        padding: 40px;
        border-radius: 32px;
        background: var(--report-background);
        &-head {
          margin-bottom: 32px;
          h5 {
            color: var(--title-color);
            word-break: keep-all;
          }
        }
        &-body {
          .sb-planner-app-head {
            display: none;
          }
          .sb-timeline-list-item__contents ul li .p-button {
            display: none;
          }
          @include custom-scrollbar-blur();
          &.is-scroll-end {
            &::after {
              opacity: 0;
              visibility: hidden;
            }
          }
          .sb-planner-app {
            max-height: 348px;
            overflow: auto;
            @include custom-scrollbar();
          }
          .sb-timeline-list {
            &-item {
              padding: 24px 20px;
              &__date {
                min-width: 80px;
                width: 80px;
              }
            }
          }
        }
        &-button {
          display: flex;
          justify-content: center;
          margin-top: 32px;
          .p-button {
            min-width: auto !important;
          }
        }
      }
      &-grid {
        overflow: hidden;
        .grid {
          margin-bottom: -10px;
        }
      }
      &-check {
        margin-top: 20px;
        padding: 40px;
        border-radius: 32px;
        background: var(--report-background);
        &-head {
          margin-bottom: 32px;
          h5 {
            color: var(--title-color);
          }
        }
        &-list {
          display: flex;
          gap: 12px;
          &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 40px;
            border-radius: 32px;
            background: var(--Gray-50, #f9fbfc);
            h6 {
              color: var(--title-color);
            }
            p {
              margin: 8px 0 0 0;
              color: var(--Text_Light-500---sub, #6a7381);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 22.4px */
              letter-spacing: -0.4px;
            }
          }
        }
      }
      &-level {
        margin-top: 20px;
        padding: 40px;
        border-radius: 32px;
        background: var(--report-background);
        &-head {
          margin-bottom: 32px;
          h5 {
            color: var(--title-color);
          }
        }
        &-list {
          display: flex;
          justify-content: center;
          gap: 10%;
          padding: 56px 0 32px 0;
          &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            min-width: 240px;
            &__tooltip {
              position: absolute;
              top: 0;
              left: 50%;
              display: flex;
              align-items: center;
              min-height: 42px;
              padding: 10px 20px;
              border-radius: 20px;
              background: var(--ai-tooltip-background);
              transform: translate(-50%, calc(-100% - 12px));
              display: none;
              p {
                margin: 0;
                color: var(--ai-tooltip-color);

                font-size: var(--Font-Heading-Small, 16px);
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.4px;
              }
              &:after {
                content: '';
                position: absolute;
                bottom: -7px;
                left: 50%;
                display: block;
                width: 14px;
                height: 9px;
                background-color: var(--ai-tooltip-background);
                clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                transform: translateX(-50%);
              }
            }
            &__line {
              position: absolute;
              top: 102px;
              right: 50%;
              z-index: 10;
            }
            &.level02 {
              .ico-profile-level-line {
                color: var(--color-level1);
              }
            }
            &.level03 {
              .ico-profile-level-line {
                color: var(--color-level2);
              }
            }
            &.level04 {
              .ico-profile-level-line {
                color: var(--color-level3);
              }
            }
            &.active {
              .sb-report-analyze-level-list-item__tooltip {
                display: flex;
              }
            }
            &.active ~ .sb-report-analyze-level-list-item {
              .ico-profile-level-line {
                color: var(--report-analyze-level-line-color);
              }
            }
            &::before {
              content: '';
              position: relative;
              z-index: 20;
              display: block;
              width: 240px;
              height: 240px;
              background: url(./../icons/profile/badge-level1.svg) no-repeat 50%
                50%;
            }
            &.level01 {
              &::before {
                background: url(./../icons/profile/badge-level1.svg) no-repeat
                  50% 50%;
              }
              &.active {
                &::before {
                  background: url(./../icons/profile/badge-level1.svg) no-repeat
                    50% 50%;
                  background-size: 240px 240px;
                }
              }
            }
            &.level02 {
              &::before {
                background: url(./../icons/profile/badge-level2.svg) no-repeat
                  50% 50%;
              }
              &.active {
                &::before {
                  background: url(./../icons/profile/badge-level2.svg) no-repeat
                    50% 50%;
                  background-size: 240px 240px;
                }
              }
            }
            &.level03 {
              &::before {
                background: url(./../icons/profile/badge-level3.svg) no-repeat
                  50% 50%;
              }
              &.active {
                &::before {
                  background: url(./../icons/profile/badge-level3.svg) no-repeat
                    50% 50%;
                  background-size: 240px 240px;
                }
              }
            }
            &.level04 {
              &::before {
                background: url(./../icons/profile/badge-level4.svg) no-repeat
                  50% 50%;
              }
              &.active {
                &::before {
                  background: url(./../icons/profile/badge-level4.svg) no-repeat
                    50% 50%;
                  background-size: 240px 240px;
                }
              }
            }
            &.active ~ .level02 {
              &::before {
                background: var(--report-analyze-level2-disabled-background);
              }
            }
            &.active ~ .level03 {
              &::before {
                background: var(--report-analyze-level3-disabled-background);
              }
            }
            &.active ~ .level04 {
              &::before {
                background: var(--report-analyze-level4-disabled-background);
              }
            }
            ul {
              margin: 0;
              padding: 0;
              list-style: none;
              li {
                display: flex;
                align-items: center;
                gap: 5px;
                margin: 8px 0 0 0;
                padding: 0;

                color: var(--report-analyze-level-list-text-color);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 1; /* 22.4px */
                letter-spacing: -0.4px;
                .ico-system-check-s {
                  color: var(--report-analyze-level-list-text-color);
                }
                &.active {
                  color: var(--report-analyze-level-list-active-text-color);
                  .ico-system-check-s {
                    color: var(--color-primary);
                  }
                }
                &:first-child {
                  margin-top: 0;
                }
              }
            }
          }
        }
        &-text {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 32px 40px;
          border-radius: 32px;
          background: var(--report-analyze-level-text-background);
          p {
            margin: 0;
            color: var(--report-analyze-level-text-color);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            letter-spacing: -0.4px;
          }
          &__badge {
            margin: 0 4px 0 8px;
          }
        }
      }
    }
  }
}
