@use './mixins' as *;

.sb {
  &-sales {
    &-head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 40px;
      &__title {
        margin-bottom: 16px;
        h5 {
          color: var(--title-color);
        }
      }
    }
    &-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &-sort {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
    @include breakpoint {
      &-head {
        justify-content: flex-end;
        &__title {
          display: none;
        }
      }
      &-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 24px;
        .sb-searchbar {
          width: 100%;
        }
      }
      &-sort {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 12px;
      }
    }
  }
  &-sales {
    &-price {
      &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        &-item {
          padding: 40px;
          border-radius: 32px;
          background: var(--Gray-00, #fff);
          &-head {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 20px;
            &__thumb {
              min-width: 80px;
              width: 80px;
              height: 80px;
              border-radius: 8px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &__category {
              display: flex;
              flex-direction: column;
              gap: 4px;
              margin-top: 4px;
              p {
                display: flex;
                align-items: center;
                gap: 4px;
                margin: 0;
                span {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  color: var(--Text_Light-500---sub, #6a7381);

                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%; /* 19.6px */
                  letter-spacing: -0.35px;

                  &::after {
                    content: '';
                    display: block;
                    min-width: 16px;
                    width: 16px;
                    height: 16px;
                    background: url(./../icons/etc/category.svg) no-repeat 50%
                      50%;
                  }
                  &:last-child {
                    &:after {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
