@use './mixins' as *;

:root,
:host {
  --p-stone-50: #fafaf9;
  --p-stone-100: #f5f5f4;
  --p-stone-200: #e7e5e4;
  --p-stone-300: #d6d3d1;
  --p-stone-400: #a8a29e;
  --p-stone-500: #78716c;
  --p-stone-600: #57534e;
  --p-stone-700: #44403c;
  --p-stone-800: #292524;
  --p-stone-900: #1c1917;
  --p-stone-950: #0c0a09;
  --p-neutral-50: #fafafa;
  --p-neutral-100: #f5f5f5;
  --p-neutral-200: #e5e5e5;
  --p-neutral-300: #d4d4d4;
  --p-neutral-400: #a3a3a3;
  --p-neutral-500: #737373;
  --p-neutral-600: #525252;
  --p-neutral-700: #404040;
  --p-neutral-800: #262626;
  --p-neutral-900: #171717;
  --p-neutral-950: #0a0a0a;
  --p-zinc-50: #fafafa;
  --p-zinc-100: #f4f4f5;
  --p-zinc-200: #e4e4e7;
  --p-zinc-300: #d4d4d8;
  --p-zinc-400: #a1a1aa;
  --p-zinc-500: #71717a;
  --p-zinc-600: #52525b;
  --p-zinc-700: #3f3f46;
  --p-zinc-800: #27272a;
  --p-zinc-900: #18181b;
  --p-zinc-950: #09090b;
  --p-gray-00: #ffffff;
  --p-gray-50: #f9fbfc;
  --p-gray-100: #f4f5f7;
  --p-gray-200: #eaecf1;
  --p-gray-300: #d1d6dd;
  --p-gray-400: #9aa3af;
  --p-gray-500: #6a7381;
  --p-gray-600: #454f5b;
  --p-gray-700: #38414f;
  --p-gray-800: #262f38;
  --p-gray-900: #1b1f27;
  --p-gray-950: #030712;
  --p-gray-1000: #000000;
  --p-slate-50: #eff0ff;
  --p-slate-100: #cfd0ff;
  --p-slate-200: #b8b9fe;
  --p-slate-300: #9798fe;
  --p-slate-400: #8385fc;
  --p-slate-500: #6466fa;
  --p-slate-600: #5b5de4;
  --p-slate-700: #4748b1;
  --p-slate-800: #37388b;
  --p-slate-900: #2a2b6a;
  --p-slate-950: #262f38;
  --p-rose-50: #fff1f2;
  --p-rose-100: #ffe4e6;
  --p-rose-200: #fecdd3;
  --p-rose-300: #fda4af;
  --p-rose-400: #fb7185;
  --p-rose-500: #f43f5e;
  --p-rose-600: #e11d48;
  --p-rose-700: #be123c;
  --p-rose-800: #9f1239;
  --p-rose-900: #881337;
  --p-rose-950: #4c0519;
  --p-pink-50: #fdf2f8;
  --p-pink-100: #fce7f3;
  --p-pink-200: #fbcfe8;
  --p-pink-300: #f9a8d4;
  --p-pink-400: #f472b6;
  --p-pink-500: #ec4899;
  --p-pink-600: #db2777;
  --p-pink-700: #be185d;
  --p-pink-800: #9d174d;
  --p-pink-900: #831843;
  --p-pink-950: #500724;
  --p-fuchsia-50: #fdf4ff;
  --p-fuchsia-100: #fae8ff;
  --p-fuchsia-200: #f5d0fe;
  --p-fuchsia-300: #f0abfc;
  --p-fuchsia-400: #e879f9;
  --p-fuchsia-500: #d946ef;
  --p-fuchsia-600: #c026d3;
  --p-fuchsia-700: #a21caf;
  --p-fuchsia-800: #86198f;
  --p-fuchsia-900: #701a75;
  --p-fuchsia-950: #4a044e;
  --p-purple-50: #faf5ff;
  --p-purple-100: #f3e8ff;
  --p-purple-200: #e9d5ff;
  --p-purple-300: #d8b4fe;
  --p-purple-400: #c084fc;
  --p-purple-500: #a855f7;
  --p-purple-600: #9333ea;
  --p-purple-700: #7e22ce;
  --p-purple-800: #6b21a8;
  --p-purple-900: #581c87;
  --p-purple-950: #3b0764;
  --p-violet-50: #f5f3ff;
  --p-violet-100: #ede9fe;
  --p-violet-200: #ddd6fe;
  --p-violet-300: #c4b5fd;
  --p-violet-400: #a78bfa;
  --p-violet-500: #8b5cf6;
  --p-violet-600: #7c3aed;
  --p-violet-700: #6d28d9;
  --p-violet-800: #5b21b6;
  --p-violet-900: #4c1d95;
  --p-violet-950: #2e1065;
  --p-indigo-00: #ffffff;
  --p-indigo-50: #ebfcfd;
  --p-indigo-100: #e1fafc;
  --p-indigo-200: #c2f4f8;
  --p-indigo-300: #3adde9;
  --p-indigo-400: #34c7d2;
  --p-indigo-500: #00b1bd;
  --p-indigo-600: #2ca6af;
  --p-indigo-700: #23858c;
  --p-indigo-800: #1a6369;
  --p-indigo-900: #144d52;
  --p-indigo-950: #144d52;
  --p-blue-50: #e9f4fe;
  --p-blue-100: #d4e8fc;
  --p-blue-200: #a9d1fa;
  --p-blue-300: #7dbaf7;
  --p-blue-400: #52a3f5;
  --p-blue-500: #278cf2;
  --p-blue-600: #237eda;
  --p-blue-700: #2177ce;
  --p-blue-800: #1d69b5;
  --p-blue-900: #175491;
  --p-blue-950: #175491;
  --p-sky-50: #f0f9ff;
  --p-sky-100: #e0f2fe;
  --p-sky-200: #bae6fd;
  --p-sky-300: #7dd3fc;
  --p-sky-400: #38bdf8;
  --p-sky-500: #0ea5e9;
  --p-sky-600: #0284c7;
  --p-sky-700: #0369a1;
  --p-sky-800: #075985;
  --p-sky-900: #0c4a6e;
  --p-sky-950: #082f49;
  --p-cyan-50: #ecfeff;
  --p-cyan-100: #cffafe;
  --p-cyan-200: #a5f3fc;
  --p-cyan-300: #67e8f9;
  --p-cyan-400: #22d3ee;
  --p-cyan-500: #06b6d4;
  --p-cyan-600: #0891b2;
  --p-cyan-700: #0e7490;
  --p-cyan-800: #155e75;
  --p-cyan-900: #164e63;
  --p-cyan-950: #083344;
  --p-teal-50: #f0fdfa;
  --p-teal-100: #ccfbf1;
  --p-teal-200: #99f6e4;
  --p-teal-300: #5eead4;
  --p-teal-400: #2dd4bf;
  --p-teal-500: #14b8a6;
  --p-teal-600: #0d9488;
  --p-teal-700: #0f766e;
  --p-teal-800: #115e59;
  --p-teal-900: #134e4a;
  --p-teal-950: #042f2e;
  --p-yellow-50: #fefce8;
  --p-yellow-100: #fef9c3;
  --p-yellow-200: #fef08a;
  --p-yellow-300: #fde047;
  --p-yellow-400: #facc15;
  --p-yellow-500: #eab308;
  --p-yellow-600: #ca8a04;
  --p-yellow-700: #a16207;
  --p-yellow-800: #854d0e;
  --p-yellow-900: #713f12;
  --p-yellow-950: #422006;
  --p-amber-50: #fffbeb;
  --p-amber-100: #fef3c7;
  --p-amber-200: #fde68a;
  --p-amber-300: #fcd34d;
  --p-amber-400: #fbbf24;
  --p-amber-500: #f59e0b;
  --p-amber-600: #d97706;
  --p-amber-700: #b45309;
  --p-amber-800: #92400e;
  --p-amber-900: #78350f;
  --p-amber-950: #451a03;
  --p-orange-50: #fff7e0;
  --p-orange-100: #ffedb8;
  --p-orange-200: #ffe494;
  --p-orange-300: #ffdc75;
  --p-orange-400: #ffcf52;
  --p-orange-500: #ffc13d;
  --p-orange-600: #ffb22e;
  --p-orange-700: #faa02e;
  --p-orange-800: #e98c11;
  --p-orange-900: #d97b02;
  --p-orange-950: #d97b02;
  --p-red-50: #fee;
  --p-red-100: #ffd1d3;
  --p-red-200: #fea9af;
  --p-red-300: #fb8e95;
  --p-red-400: #f6606b;
  --p-red-500: #f04755;
  --p-red-600: #e42636;
  --p-red-700: #cc1f2f;
  --p-red-800: #b71a29;
  --p-red-900: #9f1825;
  --p-red-950: #9f1825;
  --p-lime-50: #f7fee7;
  --p-lime-100: #ecfccb;
  --p-lime-200: #d9f99d;
  --p-lime-300: #bef264;
  --p-lime-400: #a3e635;
  --p-lime-500: #84cc16;
  --p-lime-600: #65a30d;
  --p-lime-700: #4d7c0f;
  --p-lime-800: #3f6212;
  --p-lime-900: #365314;
  --p-lime-950: #1a2e05;
  --p-green-50: #e7fff5;
  --p-green-100: #b2f0d7;
  --p-green-200: #7be5bb;
  --p-green-300: #43d69b;
  --p-green-400: #15c17c;
  --p-green-500: #03ab67;
  --p-green-600: #02975b;
  --p-green-700: #028852;
  --p-green-800: #027949;
  --p-green-900: #02643d;
  --p-green-950: #02643d;
  --p-emerald-50: #ecfdf5;
  --p-emerald-100: #d1fae5;
  --p-emerald-200: #a7f3d0;
  --p-emerald-300: #6ee7b7;
  --p-emerald-400: #34d399;
  --p-emerald-500: #10b981;
  --p-emerald-600: #059669;
  --p-emerald-700: #047857;
  --p-emerald-800: #065f46;
  --p-emerald-900: #064e3b;
  --p-emerald-950: #022c22;
  --p-border-radius-none: 0;
  --p-border-radius-xs: 2px;
  --p-border-radius-sm: 4px;
  --p-border-radius-md: 6px;
  --p-border-radius-lg: 8px;
  --p-border-radius-xl: 12px;
}

:root,
:host {
  --p-mask-background: rgba(0, 0, 0, 0.7);

  --color-primary: var(--p-indigo-500);
  --color-success: var(--p-green-500);
  --color-secondary: var(--p-slate-500);
  --color-info: var(--p-blue-400);
  --color-warn: var(--p-orange-600);
  --color-danger: var(--p-red-600);

  --chart-background: transparent;

  --chart-wave-background01: var(--p-gray-100);
  --chart-wave-background02: var(--p-gray-800);

  --chart-bar-color01-start: var(--p-primary-500);
  --chart-bar-color01-end: rgba(0, 177, 189, 0);
  --chart-bar-color02-start: var(--p-primary-200);
  --chart-bar-color02-end: rgba(194, 244, 248, 0);
  --chart-bar-border-color: var(--p-gray-00);

  --chart-doughnut-primary: var(--p-primary-500);
  --chart-doughnut-secondary: var(--p-slate-400);
  --chart-doughnut-info: var(--p-blue-200);
  --chart-doughnut-warn: var(--p-orange-500);
  --chart-doughnut-danger: var(--p-red-400);
  --chart-doughnut-border-color: var(--p-gray-00);
  --chart-doughnut-border-color02: var(--p-gray-50);

  --chart-doughnut02-success: var(--p-green-400);
  --chart-doughnut02-secondary: var(--p-slate-400);
  --chart-doughnut02-info: var(--p-blue-400);
  --chart-doughnut02-warn: var(--p-orange-400);
  --chart-doughnut02-danger: var(--p-red-400);
  --chart-doughnut02-neutral: var(--p-gray-200);

  --chart-line-background: var(--p-gray-00);
  --chart-line-primary: var(--p-primary-500);
  --chart-line-success: var(--p-slate-200);
  --chart-line-info: var(--p-blue-200);
  --chart-line-warn: var(--p-orange-200);
  --chart-line-danger: var(--p-red-200);

  --chart-line-tooltip-color: var(--p-gray-00);
  --chart-line-tooltip-background: var(--p-gray-900);
  --chart-line-tooltip-boxshadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  --chart-line-yAxis-color: var(--p-gray-400);
  --chart-line-border-color: var(--p-gray-300);
  --chart-line-xAxis-color: var(--p-gray-500);
  --chart-line-main-gradient-start: rgba(0, 177, 189, 0.3);
  --chart-line-main-gradient-end: rgba(0, 177, 189, 0);
  --chart-line-bg-gradient-start: rgba(58, 221, 233, 0.3);
  --chart-line-bg-gradient-end: rgba(58, 221, 233, 0);

  --chart-gauge-track-color: var(--p-gray-200);
  --chart-gauge-label-color01: var(--p-gray-300);
  --chart-gauge-label-color02: var(--p-gray-900);

  --chart-gauge-face-primary: url('/assets/icons/chart/face-primary.svg');
  --chart-gauge-face-secondary: url('/assets/icons/chart/face-secondary.svg');
  --chart-gauge-face-info: url('/assets/icons/chart/face-info.svg');
  --chart-gauge-face-warn: url('/assets/icons/chart/face-warn.svg');
  --chart-gauge-face-danger: url('/assets/icons/chart/face-danger.svg');
  --chart-gauge-face-label-color01: var(--p-gray-500);
  --chart-gauge-face-label-color02: var(--p-gray-900);

  --chart-segment-segments-color: var(--p-gray-200);
  --chart-segment-legend-color: var(--p-gray-500);

  --chart-label-color01: var(--p-gray-500);
  --chart-label-color02: var(--p-gray-900);

  --url-title-color: var(--p-gray-900);
  --url-text-color: var(--p-gray-600);
  --url-card-background: var(--p-gray-00);

  --body-background: #eff1f4;

  --logo: url('./../images/logo.svg');

  --snb-link-color: var(--p-gray-500);

  --header-menu-icon-background: var(--p-gray-00);
  --header-menu-icon-color: var(--p-gray-500);
  --header-menu-user-name-color: var(--p-gray-900);
  --header-menu-user-date-color: var(--p-gray-400);
  --header-mo-title-color: var(--p-gray-800);
  --header-mo-menu-color: var(--p-gray-500);
  --header-mo-border-color: var(--p-gray-200);
  --header-mo-background: var(--p-gray-00);

  --header-search-icon-color: var(--p-gray-500);
  --header-mode-icon-color: var(--p-gray-500);
  --header-language-icon-color: var(--p-gray-500);
  --header-notification-icon-color: var(--p-gray-500);

  --snb-link-color: var(--p-gray-500);
  --snb-link-menu-color: var(--p-gray-400);

  --breadcrumb-color: var(--p-gray-500);

  --loading-url: url(./../icons/etc/loading.svg) no-repeat 50% 50%;

  --title-color: var(--p-gray-900);
  --contents-color: var(--p-gray-900);

  --community-list-item-background: var(--p-gray-00);
  --community-list-item-title-color: var(--p-gray-900);
  --community-list-item-name-color: var(--p-primary-500);
  --community-list-item-date-color: var(--p-gray-400);
  --community-list-item-divider-color: var(--p-gray-300);
  --community-view-background: var(--p-gray-00);

  --comment-write-name-color: var(--p-slate-500);
  --comment-write-background: var(--p-gray-00);
  --comment-write-border-color: var(--p-gray-300);
  --comment-write-length-color: var(--p-gray-400);
  --comment-item-background: var(--p-gray-00);
  --comment-item-border-color: var(--p-gray-300);
  --comment-reply-background: var(--p-gray-50);
  --comment-reply-text-color: var(--p-gray-0);
  --comment-item-name-color: var(--p-primary-500);
  --comment-item-date-color: var(--p-gray-400);
  --comment-item-replay-icon-color: var(--p-gray-400);
  --comment-write-mo-background: var(--p-gray-00);
  --comment-write-mo-border-color: var(--p-gray-200);
  --comment-write-mo-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.1);
  --comment-write-mo-mention-color: var(--p-slate-500);
  --comment-write-mo-button-disabled-color: #d1d6dd;
  --comment-write-mo-mention-border-color: var(--p-gray-300);
  --comment-write-mo-mention-background: var(--p-gray-100);
  --comment-write-mo-mention-color: var(--p-gray-600);

  --caution-background: var(--p-gray-50);
  --caution-contents-color: var(--p-gray-500);

  --attachment-item-background: var(--p-gray-100);
  --attachment-item-text-color: var(--p-gray-800);
  --attachment-item-size-color: var(--p-gray-400);

  --menu-layer-background: var(--p-gray-00);
  --menu-layer-border-color: var(--p-gray-300);
  --menu-layer-text-color: var(--p-gray-500);
  --menu-layer-mo-background: var(--p-gray-00);
  --menu-layer-mo-link-background: var(--p-gray-100);
  --menu-layer-mo-text-color: var(--p-gray-500);
  --menu-layer-mo-danger-background: var(--p-red-50);

  --required-color: var(--p-red-600);

  --social-reply-color: var(--p-gray-500);

  --input-border-color: var(--p-gray-300);
  --input-background: var(--p-gray-00);
  --input-length-color: var(--p-gray-400);
  --input-delete-color: var(--p-gray-200);
  --input-time-color: var(--p-red-600);
  --input-search-color: var(--p-primary-500);
  --input-lg-search-color: var(--p-primary-500);
  --input-lg-search-disabled-background: var(--p-gray-00);
  --input-lg-border-hover-color: var(--p-primary-300);
  --input--search-border-color: var(--p-gray-300);

  //checkbox
  --checkbox-url: url(./../icons/etc/checkbox.svg) no-repeat 50% 50%;
  --checkbox-url-active: url(./../icons/etc/checkbox-active.svg) no-repeat 50%
    50%;
  --checkbox-url-disabled: url(./../icons/etc/checkbox-disabled.svg) no-repeat
    50% 50%;
  --checkbox-label-color: var(--p-gray-900);

  //radio
  --radio-label-color: var(--p-gray-900);

  //chip
  --chip-title-color: var(--p-gray-900);
  --chip-color: var(--p-gray-400);
  --chip-border-color: var(--p-gray-300);
  --chip-active-color: var(--p-primary-500);
  --chip-active-border-color: var(--p-primary-500);
  --chip-disabled-color: var(--p-gray-300);
  --chip-disabled-border-color: var(--p-gray-300);
  --chip-primary-dot-background: var(--p-indigo-500);
  --chip-primary-border-color: var(--p-indigo-500);
  --chip-primary-background: var(--p-gray-00);
  --chip-success-dot-background: var(--p-green-200);
  --chip-success-background: var(--p-gray-00);
  --chip-secondary-dot-background: var(--p-slate-200);
  --chip-secondary-background: var(--p-gray-00);
  --chip-info-dot-background: var(--p-blue-200);
  --chip-info-background: var(--p-gray-00);
  --chip-warn-dot-background: var(--p-orange-200);
  --chip-warn-background: var(--p-gray-00);
  --chip-danger-dot-background: var(--p-red-200);
  --chip-danger-background: var(--p-gray-00);

  //textarea
  --textarea-background: var(--p-gray-00);
  --textarea-border-color: var(--p-gray-300);
  --textarea-border-hover-color: var(--p-gray-600);
  --textarea-name-color: var(--p-gray-500);
  --textarea-textarea-color: var(--p-gray-500);
  --textarea-length-color: var(--p-gray-400);
  --textarea--disabled-background: var(--p-gray-200);
  --textarea--disabled-color: var(--p-gray-400);
  --textarea-error-border-color: var(--p-red-600);

  --editor-background: var(--p-gray-00);
  --editor-border-color: var(--p-gray-300);

  --form-border-color: var(--p-gray-200);
  --form-label-color: var(--p-gray-700);
  --form-text-color: var(--p-gray-400);

  --fileupload-text-color: var(--p-gray-400);
  --fileupload-icon-color: var(--p-gray-200);
  --fileupload-icon-hover-color: var(--p-gray-300);

  --scroll-blur-background: var(--p-gray-00);

  //table
  --table-ico-system-information-circle: var(--p-gray-900);

  --ai-tooltip-background: #000;
  --ai-tooltip-color: var(--p-gray-00);

  --confirmdialog-content-color: var(--p-gray-900);

  --searchbar-border-color: var(--p-gray-300);
  --searchbar-hover-border-color: var(--p-gray-600);
  --searchbar-background: var(--p-gray-00);
  --searchbar-button-search-color: var(--p-gray-400);
  --searchbar-button-hover-search-color: var(--p-primary-500);
  --searchbar-button-disabled-border-color: var(--p-gray-300);
  --searchbar-button-disabled-background: var(--p-gray-200);
  --searchbar-button-disabled-color: var(--p-gray-400);
  --searchbar-button-disabled-search-color: var(--p-gray-300);

  --tab-button-color: var(--p-gray-400);
  --tab-active-button-color: var(--p-primary-500);
  --tab-circle-button-color: var(--p-gray-400);
  --tab-circle-active-button-color: var(--p-primary-500);
  --tab-circle-background: var(--p-gray-100);
  --tab-circle-active-background: var(--p-gray-00);

  --nodata-title-color: var(--p-gray-500);
  --nodata-text-color: var(--p-gray-400);

  --qna-view-title-color: var(--p-gray-900);
  --qna-view-date-color: var(--p-gray-400);
  --qna-view-answer-background: var(--p-gray-50);
  --qna-view-answer-author-color: var(--p-gray-600);
  --qna-view-answer-content-color: var(--p-gray-500);
  --qna-view-answer-date-color: var(--p-gray-400);

  --notice-view-date-color: var(--p-gray-400);

  --faq-view-q-background: var(--p-gray-600);
  --faq-view-q-color: var(--p-gray-00);
  --faq-view-a-background: var(--p-primary-500);
  --faq-view-a-color: var(--p-gray-00);
  --faq-view-text-background: var(--p-gray-50);
  --faq-view-text-color: var(--p-gray-500);

  --story-view-name-color: var(--p-primary-500);
  --story-view-date-color: var(--p-gray-400);

  --story-write-title-color: var(--p-gray-900);
  --story-write-form-item-label-color: var(--p-gray-700);
  --story-write-form-item-border-color: var(--p-gray-300);

  //trend
  --trend-background: var(--p-gray-00);
  --trend-category-background: var(--p-gray-50);
  --trend-table-head-title-color: var(--p-gray-900);
  --trend-table-head-text-color: var(--p-gray-400);
  --trend-top-title-text-color: var(--p-gray-400);
  --trend-top-list-item-category-color: var(--p-gray-400);
  --trend-top-list-item-category-divider: var(--p-gray-300);
  --trend-top-list-item-title-color: var(--p-gray-900);
  --trend-top-list-item-price-color: var(--p-gray-900);
  --trend-category-background: var(--p-gray-50);
  --trend-category-text-color: var(--p-gray-900);
  --trend-product-head-text-color: var(--p-gray-400);
  --trend-product-list-item-border-color: var(--p-gray-300);
  --trend-product-list-item-platform-color: var(--p-gray-600);
  --trend-product-list-item-platform-border-color: var(--p-gray-300);
  --trend-product-list-item-category-title-color: var(--p-gray-500);
  --trend-product-list-item-category-text-color: var(--p-gray-400);
  --trend-product-list-item-score-text-color: var(--p-gray-400);
  --trend-product-list-item-delete-color: var(--p-gray-200);
  --trend-summary-product-platform-color: var(--p-gray-600);
  --trend-summary-product-platform-border-color: var(--p-gray-300);
  --trend-summary-product-category-color: var(--p-gray-400);
  --trend-summary-list-item-background: var(--p-gray-50);
  --trend-summary-list-item-text-color: var(--p-gray-400);
  --trend-summary-list-item-title-color: var(--p-gray-900);
  --trend-summary-text-color: var(--p-gray-400);
  --trend-review-summary-background: var(--p-gray-50);
  --trend-review-summary-title-color: var(--p-gray-600);
  --trend-review-summary-text-color: var(--p-gray-400);
  --trend-review-summary-strong-color: var(--p-gray-900);
  --trend-review-list-item-text-color: var(--p-gray-500);
  --trend-keyword-list-title-color: var(--p-gray-600);
  --trend-keyword-list-text-color: var(--p-gray-400);
  --trend-evaluation-item-border-color: var(--p-gray-300);
  --trend-evaluation-head-text-color: var(--p-gray-400);
  --trend-evaluation-list-item-title-color: var(--p-gray-900);
  --trend-evaluation-list-item-text-color: var(--p-gray-500);
  --trend-edit-background: var(--p-gray-00);
  --trend-write-ai-background: var(--p-gray-50);
  --trend-write-ai-list-item-background: var(--p-gray-00);
  --trend-write-ai-list-item-boxshadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  --trend-write-ai-list-item-text-color: var(--p-gray-900);
  --trend-ranking-head-text-color: var(--p-gray-400);
  --trend-ranking-list-item-border-color: var(--p-gray-300);
  --trend-ranking-list-item-text-title-color: var(--p-gray-900);
  --trend-ranking-list-item-text-color: var(--p-gray-500);
  --trend-ranking-result-head-text-color: var(--p-gray-400);
  --trend-ranking-result-head-title-color: var(--p-gray-400);
  --trend-ranking-result-head-status-color: var(--p-gray-900);
  --trend-ranking-result-list-item-border-color: var(--p-gray-300);
  --trend-ranking-result-list-item-title-color: var(--p-gray-900);
  --trend-ranking-result-list-item-info-color: var(--p-gray-500);

  //keyword
  --keyword-detail-head-title-color: var(--p-gray-900);
  --keyword-detail-head-text-color: var(--p-gray-500);
  --keyword-report-head-border-color: var(--p-gray-300);
  --keyword-report-product-category-color: var(--p-gray-500);
  --keyword-report-product-category-percent-color: var(--p-gray-900);
  --keyword-report-menu-button-background: var(--p-gray-100);
  --keyword-report-menu-button-icon-color: var(--p-gray-600);
  --keyword-report-body-border-color: var(--p-gray-300);
  --keyword-report-body-contents-text-color: var(--p-gray-500);
  --keyword-report-body-analysis-border-color: var(--p-gray-300);
  --keyword-report-body-analysis-title-color: var(--p-gray-900);
  --keyword-report-body-analysis-text-border-color: var(--p-gray-200);
  --keyword-report-body-analysis-text-title-color: var(--p-gray-600);
  --keyword-report-body-analysis-text-text-color: var(--p-gray-500);
  --keyword-report-status-button-icon-color: var(--p-gray-500);
  --keyword-report-status-item-background: var(--p-gray-50);
  --keyword-report-status-item-title-color: var(--p-gray-400);
  --keyword-report-status-item-text-color: var(--p-gray-900);
  --keyword-report-trend-border-color: var(--p-gray-300);
  --keyword-report-trend-title-color: var(--p-gray-500);
  --keyword-report-trend-result-item-title-color: var(--p-gray-900);
  --keyword-report-trend-chart-item-background: var(--p-gray-50);
  --keyword-report-trend-chart-item-title-color: var(--p-gray-900);
  --keyword-report-trend-chart-item-subtitle-color: var(--p-gray-400);
  --keyword-report-trend-chart-item-text-color: var(--p-gray-900);
  --keyword-history-text-color: var(--p-gray-600);
  --keyword-history-border-color: var(--p-gray-200);
  --keyword-analyze-chart-color: var(--p-gray-500);
  --keyword-analyze-state-background: var(--p-gray-50);
  --keyword-analyze-state-title-color: var(--p-gray-400);
  --keyword-analyze-state-text-color: var(--p-gray-900);
  --keyword-table-title-text-color: var(--p-gray-400);
  --keyword-faq-q-background: var(--p-gray-600);
  --keyword-faq-q-color: var(--p-gray-00);
  --keyword-faq-a-background: var(--p-primary-500);
  --keyword-faq-a-color: var(--p-gray-00);
  --keyword-faq-list-title-color: var(--p-gray-900);
  --keyword-faq-list-contents-background: var(--p-gray-50);
  --keyword-faq-list-contents-text-color: var(--p-gray-500);
  --keyword-ktrend-title-background: url(./../images/ksnapp.png) no-repeat 50%
    50%;
  --keyword-ktrend-menu-ico-color: var(--p-gray-400);
  --keyword-ktrend-list-item-border-color: var(--p-gray-300);
  --keyword-ktrend-list-item-title-color: var(--p-gray-900);
  --keyword-ktrend-list-item-text-color: var(--p-gray-500);
  --keyword-ktrend-list-item-meta-color: var(--p-gray-400);
  --keyword-ksnapp-list-item-border-color: var(--p-gray-300);
  --keyword-ksnapp-list-item-title-color: var(--p-gray-900);
  --keyword-relation-title-text-color: var(--p-gray-600);

  //sales
  --sales-background: var(--p-gray-00);
  --sales-info-text: var(--p-gray-400);
  --sales-product-head-amount-text-color: var(--p-gray-500);
  --sales-product-head-button-text-color: var(--p-gray-900);
  --sales-product-body-text-color: var(--p-gray-400);
  --sales-product-list-item-background: var(--p-gray-50);
  --sales-product-list-item-head-icon-color: var(--p-gray-500);
  --sales-product-list-item-foot-border-color: var(--p-gray-300);
  --sales-product-list-item-foot-title-color: var(--p-gray-500);
  --sales-product-list-item-foot-text-color: var(--p-gray-400);
  --sales-product-list-item-foot-icon-color: var(--p-gray-400);
  --sales-product-list-item-number-color: var(--p-gray-500);
  --sales-product-list-item-title-color: var(--p-gray-900);

  //auth
  --auth-background-image: #eff1f4 url(./../images/login-bg.jpg) no-repeat 0
    100%;

  --login-background: var(--p-gray-00);
  --login-background-mo: #eff1f4;
  --login-title-color: var(--p-gray-900);
  --login-link-border-color: var(--p-gray-300);
  --login-link-color: var(--p-gray-500);
  --login-divider-color: var(--p-gray-300);
  --login-text-color: var(--p-gray-400);

  --auth-background: var(--p-gray-00);
  --auth-title-color: var(--p-gray-900);
  --auth-form-item-border-color: var(--p-gray-300);
  --auth-form-item-label-color: var(--p-gray-600);
  --auth-form-item-checkbox-background: var(--p-gray-100);
  --auth-survey-title-color: var(--p-gray-600);

  --auth-complete-background: var(--p-gray-00);
  --auth-complete-title-color: var(--p-gray-900);
  --auth-complete-text-color: var(--p-gray-900);
  --auth-form-chip-title-color: var(--p-gray-600);

  //policy
  --policy-head-title-color: var(--p-gray-900);
  --policy-head-text-color: var(--p-gray-900);
  --policy-contents-background: var(--p-gray-50);
  --policy-contents-title-color: var(--p-gray-600);
  --policy-contents-text-color: var(--p-gray-500);

  //compare
  --compare-background: var(--p-gray-50);
  --compare-item-background: var(--p-gray-00);
  --compare-item-title-color: var(--p-gray-400);

  //onboarding
  --onboarding-background: var(--p-gray-00);
  --onboarding-title-color: var(--p-gray-900);
  --onboarding-form-item-border-color: var(--p-gray-300);
  --onboarding-form-item-head-text-color: var(--p-gray-400);
  --onboarding-form-item-body-title-color: var(--p-gray-900);
  --onboarding-form-item-text-color: var(--p-gray-400);
  --onboarding-complete-title-color: var(--p-gray-900);
  --onboarding-complete-text-color: var(--p-gray-900);
  --onboarding-complete-info-background: var(--p-gray-50);
  --onboarding-complete-info-title-color: var(--p-gray-700);
  --onboarding-complete-info-icon-color: var(--p-gray-500);
  --onboarding-complete-info-icon-border-color: var(--p-gray-200);
  --onboarding-complete-info-icon-background: var(--p-gray-00);
  --onboarding-complete-info-text-color: var(--p-gray-700);

  //alarm
  --alarm-background-image: #eff1f4 url(./../images/login-bg.jpg) no-repeat 0
    100%;

  --alarm-background: var(--p-gray-00);
  --alarm-title-color: var(--p-gray-900);
  --alarm-form-item-border-color: var(--p-gray-300);
  --alarm-form-item-label-color: var(--p-gray-600);
  --alarm-form-item-checkbox-background: var(--p-gray-100);

  --alarm-complete-background: var(--p-gray-00);
  --alarm-complete-title-color: var(--p-gray-900);
  --alarm-complete-text-color: var(--p-gray-900);

  --alarm-agree-border-color: var(--p-gray-300);
  --alarm-list-item-background: var(--p-gray-50);
  --alarm-list-item-data-color: var(--p-gray-400);
  --alarm-list-item-title-color: var(--p-gray-900);
  --alarm-view-title-color: var(--p-gray-900);
  --alarm-view-data-color: var(--p-gray-400);
  --alarm-view-contents-color: var(--p-gray-900);

  //popover
  --popover-search-history-list-item-background: var(--p-gray-50);
  --popover-search-history-list-head-color: var(--p-gray-400);
  --popover-search-history-list-body-color: var(--p-gray-900);
  --popover-search-history-list-foot-color: var(--p-gray-500);
  --popover-search-history-list-nodata-color: var(--p-gray-400);

  --popover-analyze-title: var(--p-gray-900);
  --popover-analyze-list-item-border-color: var(--p-gray-300);
  --popover-analyze-list-item-text-color: var(--p-gray-900);
  --popover-analyze-propose-background: var(--p-gray-50);
  --popover-analyze-propose-title-color: var(--p-gray-900);
  --popover-analyze-propose-item-background: var(--p-gray-00);
  --popover-analyze-propose-item-boxshadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  --popover-analyze-propose-item-text-color: var(--p-gray-900);

  //ico
  --ico-illustration-smile-color1: var(--p-gray-300);
  --ico-illustration-smile-color2: var(--p-gray-400);
  --ico-illustration-smile-color3: var(--p-gray-200);
  --ico-illustration-smile-color4: var(--p-gray-300);
  --ico-illustration-frown-color1: var(--p-gray-300);
  --ico-illustration-frown-color2: var(--p-gray-400);
  --ico-illustration-frown-color3: var(--p-gray-200);
  --ico-illustration-frown-color4: var(--p-gray-300);

  &.p-dark,
  .p-dark {
    --color-primary: var(--p-indigo-300);
    --color-success: var(--p-green-400);
    --color-secondary: var(--p-slate-400);
    --color-info: var(--p-blue-400);
    --color-warn: var(--p-orange-400);
    --color-danger: var(--p-red-400);

    --chart-background: transparent;

    --chart-wave-background01: var(--p-gray-100);
    --chart-wave-background02: var(--p-gray-800);

    --chart-bar-color01-start: var(--p-primary-300);
    --chart-bar-color01-end: rgba(58, 221, 233, 0);
    --chart-bar-color02-start: var(--p-primary-700);
    --chart-bar-color02-end: rgba(194, 244, 248, 0);
    --chart-bar-border-color: var(--p-gray-00);

    --chart-doughnut-background: var(--p-gray-800);
    --chart-doughnut-primary: var(--p-primary-400);
    --chart-doughnut-secondary: var(--p-slate-400);
    --chart-doughnut-info: var(--p-blue-600);
    --chart-doughnut-warn: var(--p-orange-400);
    --chart-doughnut-danger: var(--p-red-300);
    --chart-doughnut-border-color: var(--p-gray-800);
    --chart-doughnut-border-color02: var(--p-gray-800);

    --chart-doughnut02-success: var(--p-green-500);
    --chart-doughnut02-secondary: var(--p-slate-500);
    --chart-doughnut02-info: var(--p-blue-500);
    --chart-doughnut02-warn: var(--p-orange-500);
    --chart-doughnut02-danger: var(--p-red-500);
    --chart-doughnut02-neutral: var(--p-gray-300);

    --chart-line-primary: var(--p-primary-300);
    --chart-line-success: var(--p-slate-600);
    --chart-line-info: var(--p-blue-600);
    --chart-line-warn: var(--p-orange-900);
    --chart-danger: var(--p-red-600);
    --chart-line-tooltip-color: var(--p-gray-900);
    --chart-line-tooltip-background: var(--p-gray-00);
    --chart-line-tooltip-boxshadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    --chart-line-yAxis-color: var(--p-gray-400);
    --chart-line-border-color: var(--p-gray-600);
    --chart-line-xAxis-color: var(--p-gray-300);
    --chart-line-main-gradient-start: rgba(58, 221, 233, 0.3);
    --chart-line-main-gradient-end: rgba(58, 221, 233, 0);
    --chart-line-bg-gradient-start: rgba(58, 221, 233, 0.3);
    --chart-line-bg-gradient-end: rgba(58, 221, 233, 0);

    --chart-gauge-track-color: var(--p-gray-500);
    --chart-gauge-label-color01: var(--p-gray-600);
    --chart-gauge-label-color02: var(--p-gray-00);

    --chart-gauge-face-primary: url('/assets/icons/chart/face-primary.svg');
    --chart-gauge-face-secondary: url('/assets/icons/chart/face-secondary.svg');
    --chart-gauge-face-info: url('/assets/icons/chart/face-info.svg');
    --chart-gauge-face-warn: url('/assets/icons/chart/face-warn.svg');
    --chart-gauge-face-danger: url('/assets/icons/chart/face-danger.svg');
    --chart-gauge-face-label-color01: var(--p-gray-300);
    --chart-gauge-face-label-color02: var(--p-gray-00);

    --chart-segment-segments-color: var(--p-gray-700);
    --chart-segment-legend-color: var(--p-gray-300);

    --chart-label-color01: var(--p-gray-300);
    --chart-label-color02: var(--p-gray-00);

    --url-title-color: var(--p-gray-00);
    --url-text-color: var(--p-gray-00);
    --url-card-background: var(--p-gray-800);

    --body-background: var(--p-gray-900);
    --logo: url('./../images/logo-dark.svg');
    --snb-link-color: var(--p-gray-400);

    --header-menu-icon-background: var(--p-gray-800);
    --header-menu-icon-color: var(--p-gray-300);
    --header-menu-user-name-color: var(--p-gray-00);
    --header-menu-user-date-color: var(--p-gray-300);
    --header-mo-title-color: var(--p-gray-00);
    --header-mo-menu-color: var(--p-gray-300);
    --header-mo-border-color: var(--p-gray-600);
    --header-mo-background: var(--p-gray-800);

    --header-search-icon-color: var(--p-gray-300);
    --header-mode-icon-color: var(--p-gray-300);
    --header-language-icon-color: var(--p-gray-300);
    --header-notification-icon-color: var(--p-gray-300);

    --snb-link-color: var(--p-gray-400);
    --snb-link-menu-color: var(--p-gray-500);

    --breadcrumb-color: var(--p-gray-300);

    --loading-url: url(./../icons/etc/loading-dark.svg) no-repeat 50% 50%;

    --title-color: var(--p-gray-00);
    --contents-color: var(--p-gray-00);

    --community-list-item-background: var(--p-gray-700);
    --community-list-item-title-color: var(--p-gray-00);
    --community-list-item-name-color: var(--p-primary-300);
    --community-list-item-date-color: var(--p-gray-400);
    --community-list-item-divider-color: var(--p-gray-600);
    --community-view-background: var(--p-gray-800);

    --comment-write-name-color: var(--p-slate-300);
    --comment-write-background: var(--p-gray-700);
    --comment-write-border-color: var(--p-gray-600);
    --comment-write-length-color: var(--p-gray-500);
    --comment-item-background: var(--p-gray-800);
    --comment-item-border-color: var(--p-gray-600);
    --comment-reply-background: var(--p-gray-900);
    --comment-reply-text-color: var(--p-gray-400);
    --comment-item-name-color: var(--p-primary-300);
    --comment-item-date-color: var(--p-gray-400);
    --comment-item-replay-icon-color: var(--p-gray-400);
    --comment-write-mo-background: var(--p-gray-700);
    --comment-write-mo-border-color: var(--p-gray-600);
    --comment-write-mo-mention-color: var(--p-slate-300);
    --comment-write-mo-button-disabled-color: var(--p-gray-500);
    --comment-write-mo-mention-border-color: var(--p-gray-500);
    --comment-write-mo-mention-background: var(--p-gray-900);
    --comment-write-mo-mention-color: var(--p-gray-400);

    --caution-background: var(--p-gray-900);
    --caution-contents-color: var(--p-gray-400);

    --attachment-item-background: var(--p-gray-700);
    --attachment-item-text-color: var(--p-gray-100);
    --attachment-item-size-color: var(--p-gray-500);

    --menu-layer-background: var(--p-gray-700);
    --menu-layer-border-color: var(--p-gray-500);
    --menu-layer-text-color: var(--p-gray-300);
    --menu-layer-mo-background: var(--p-gray-900);
    --menu-layer-mo-link-background: var(--p-gray-700);
    --menu-layer-mo-text-color: var(--p-gray-300);
    --menu-layer-mo-danger-background: var(--p-red-100);

    --social-reply-color: var(--p-gray-300);

    --input-border-color: var(--p-gray-600);
    --input-background: var(--p-gray-800);
    --input-length-color: var(--p-gray-400);
    --input-delete-color: var(--p-gray-800);
    --input-time-color: var(--p-red-400);
    --input-search-color: var(--p-primary-500);
    --input-lg-search-color: var(--p-primary-500);
    --input-lg-search-disabled-background: var(--p-gray-800);
    --input-lg-border-hover-color: var(--p-primary-300);
    --input--search-border-color: var(--p-gray-50);

    //checkbox
    --checkbox-url: url(./../icons/etc/checkbox-dark.svg) no-repeat 50% 50%;
    --checkbox-url-active: url(./../icons/etc/checkbox-active-dark.svg)
      no-repeat 50% 50%;
    --checkbox-url-disabled: url(./../icons/etc/checkbox-disabled-dark.svg)
      no-repeat 50% 50%;
    --checkbox-label-color: var(--p-gray-00);

    //radio
    --radio-label-color: var(--p-gray-00);

    //chip
    --chip-title-color: var(--p-gray-00);
    --chip-color: var(--p-gray-400);
    --chip-border-color: var(--p-gray-500);
    --chip-active-color: var(--p-primary-300);
    --chip-active-border-color: var(--p-primary-300);
    --chip-disabled-color: var(--p-gray-500);
    --chip-disabled-border-color: var(--p-gray-600);
    --chip-primary-dot-background: var(--p-indigo-300);
    --chip-primary-border-color: var(--p-indigo-300);
    --chip-primary-background: none;
    --chip-success-dot-background: var(--p-green-600);
    --chip-success-background: none;
    --chip-secondary-dot-background: var(--p-slate-600);
    --chip-secondary-background: none;
    --chip-info-dot-background: var(--p-blue-700);
    --chip-info-background: none;
    --chip-warn-dot-background: var(--p-orange-900);
    --chip-warn-background: none;
    --chip-danger-dot-background: var(--p-red-900);
    --chip-danger-background: none;

    //textarea
    --textarea-background: none;
    --textarea-border-color: var(--p-gray-600);
    --textarea-border-hover-color: var(--p-gray-600);
    --textarea-name-color: var(--p-gray-300);
    --textarea-textarea-color: var(--p-gray-500);
    --textarea-length-color: var(--p-gray-500);
    --textarea--disabled-background: var(--p-gray-800);
    --textarea--disabled-color: var(--p-gray-500);
    --textarea-error-border-color: var(--p-red-400);

    --editor-background: var(--p-gray-800);
    --editor-border-color: var(--p-gray-600);

    --form-border-color: var(--p-gray-600);
    --form-label-color: var(--p-gray-200);
    --form-text-color: var(--p-gray-500);

    --fileupload-text-color: var(--p-gray-400);
    --fileupload-icon-color: var(--p-gray-800);
    --fileupload-icon-hover-color: var(--p-gray-900);

    --scroll-blur-background: var(--p-gray-800);

    //table
    --table-ico-system-information-circle: var(--p-gray-00);
    --ai-tooltip-background: var(--p-gray-00);
    --ai-tooltip-color: var(--p-gray-900);

    --confirmdialog-content-color: var(--p-gray-00);

    --searchbar-border-color: var(--p-gray-600);
    --searchbar-hover-border-color: var(--p-gray-50);
    --searchbar-background: transparent;
    --searchbar-button-search-color: var(--p-gray-300);
    --searchbar-button-hover-search-color: var(--p-primary-500);
    --searchbar-button-disabled-border-color: var(--p-gray-600);
    --searchbar-button-disabled-background: var(--p-gray-800);
    --searchbar-button-disabled-color: var(--p-gray-500);
    --searchbar-button-disabled-search-color: var(--p-gray-500);

    --tab-button-color: var(--p-gray-500);
    --tab-active-button-color: var(--p-primary-300);
    --tab-circle-button-color: var(--p-gray-400);
    --tab-circle-active-button-color: var(--p-primary-300);
    --tab-circle-background: var(--p-gray-600);
    --tab-circle-active-background: #000;

    --nodata-title-color: var(--p-gray-500);
    --nodata-text-color: var(--p-gray-500);

    --qna-view-title-color: var(--p-gray-00);
    --qna-view-date-color: var(--p-gray-400);
    --qna-view-answer-background: var(--p-gray-900);
    --qna-view-answer-author-color: var(--p-gray-400);
    --qna-view-answer-content-color: var(--p-gray-400);
    --qna-view-answer-date-color: var(--p-gray-400);

    --notice-view-date-color: var(--p-gray-400);

    --faq-view-q-background: var(--p-gray-50);
    --faq-view-q-color: var(--p-gray-900);
    --faq-view-a-background: var(--p-primary-300);
    --faq-view-a-color: var(--p-gray-900);
    --faq-view-text-background: var(--p-gray-900);
    --faq-view-text-color: var(--p-gray-400);

    --story-view-name-color: var(--p-primary-300);
    --story-view-date-color: var(--p-gray-400);

    --story-write-title-color: var(--p-gray-00);
    --story-write-form-item-label-color: var(--p-gray-200);
    --story-write-form-item-border-color: var(--p-gray-600);

    //trend
    --trend-background: var(--p-gray-800);
    --trend-table-head-title-color: var(--p-gray-00);
    --trend-table-head-text-color: var(--p-gray-400);

    --trend-top-list-item-category-color: var(--p-gray-400);
    --trend-top-list-item-category-divider: var(--p-gray-600);
    --trend-top-list-item-title-color: var(--p-gray-00);
    --trend-top-list-item-price-color: var(--p-gray-00);

    --trend-category-background: var(--p-gray-900);
    --trend-category-text-color: var(--p-gray-300);

    --trend-product-head-text-color: var(--p-gray-400);
    --trend-product-list-item-border-color: var(--p-gray-600);
    --trend-product-list-item-platform-color: var(--p-gray-300);
    --trend-product-list-item-platform-border-color: var(--p-gray-600);
    --trend-product-list-item-category-title-color: var(--p-gray-300);
    --trend-product-list-item-category-text-color: var(--p-gray-400);
    --trend-product-list-item-score-text-color: var(--p-gray-400);
    --trend-product-list-item-delete-color: var(--p-gray-600);

    --trend-summary-product-platform-color: var(--p-gray-300);
    --trend-summary-product-platform-border-color: var(--p-gray-600);
    --trend-summary-product-category-color: var(--p-gray-400);
    --trend-summary-list-item-background: var(--p-gray-900);
    --trend-summary-list-item-text-color: var(--p-gray-400);
    --trend-summary-list-item-title-color: var(--p-gray-300);
    --trend-summary-text-color: var(--p-gray-400);
    --trend-review-summary-background: var(--p-gray-900);
    --trend-review-summary-title-color: var(--p-gray-00);
    --trend-review-summary-text-color: var(--p-gray-400);
    --trend-review-summary-strong-color: var(--p-gray-00);
    --trend-review-list-item-text-color: var(--p-gray-300);
    --trend-keyword-list-title-color: var(--p-gray-00);
    --trend-keyword-list-text-color: var(--p-gray-400);
    --trend-evaluation-item-border-color: var(--p-gray-600);
    --trend-evaluation-head-text-color: var(--p-gray-400);
    --trend-evaluation-list-item-title-color: var(--p-gray-00);
    --trend-evaluation-list-item-text-color: var(--p-gray-300);
    --trend-edit-background: var(--p-gray-900);
    --trend-write-ai-background: var(--p-gray-900);
    --trend-write-ai-list-item-background: var(--p-gray-800);
    --trend-write-ai-list-item-boxshadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
    --trend-write-ai-list-item-text-color: var(--p-gray-00);
    --trend-ranking-head-text-color: var(--p-gray-400);
    --trend-ranking-list-item-border-color: var(--p-gray-600);
    --trend-ranking-list-item-text-title-color: var(--p-gray-00);
    --trend-ranking-list-item-text-color: var(--p-gray-300);

    --trend-ranking-result-head-text-color: var(--p-gray-400);
    --trend-ranking-result-head-title-color: var(--p-gray-400);
    --trend-ranking-result-head-status-color: var(--p-gray-00);
    --trend-ranking-result-list-item-border-color: var(--p-gray-600);
    --trend-ranking-result-list-item-title-color: var(--p-gray-00);
    --trend-ranking-result-list-item-info-color: var(--p-gray-300);

    //keyword
    --keyword-detail-head-title-color: var(--p-gray-00);
    --keyword-detail-head-text-color: var(--p-gray-300);
    --keyword-report-head-border-color: var(--p-gray-600);
    --keyword-report-product-category-color: var(--p-gray-300);
    --keyword-report-product-category-percent-color: var(--p-gray-00);
    --keyword-report-menu-button-background: var(--p-gray-600);
    --keyword-report-menu-button-icon-color: var(--p-gray-50);
    --keyword-report-body-border-color: var(--p-gray-600);
    --keyword-report-body-contents-text-color: var(--p-gray-300);
    --keyword-report-body-analysis-border-color: var(--p-gray-600);
    --keyword-report-body-analysis-title-color: var(--p-gray-300);
    --keyword-report-body-analysis-text-border-color: var(--p-gray-600);
    --keyword-report-body-analysis-text-title-color: var(--p-gray-300);
    --keyword-report-body-analysis-text-text-color: var(--p-gray-300);
    --keyword-report-status-button-icon-color: var(--p-gray-500);
    --keyword-report-status-item-background: var(--p-gray-900);
    --keyword-report-status-item-title-color: var(--p-gray-400);
    --keyword-report-status-item-text-color: var(--p-gray-300);
    --keyword-report-trend-border-color: var(--p-gray-600);
    --keyword-report-trend-title-color: var(--p-gray-300);
    --keyword-report-trend-result-item-title-color: var(--p-gray-00);
    --keyword-report-trend-chart-item-background: var(--p-gray-900);
    --keyword-report-trend-chart-item-title-color: var(--p-gray-00);
    --keyword-report-trend-chart-item-subtitle-color: var(--p-gray-400);
    --keyword-report-trend-chart-item-text-color: var(--p-gray-300);
    --keyword-history-text-color: var(--p-gray-300);
    --keyword-history-border-color: var(--p-gray-600);
    --keyword-analyze-chart-color: var(--p-gray-300);
    --keyword-analyze-state-background: var(--p-gray-900);
    --keyword-analyze-state-title-color: var(--p-gray-400);
    --keyword-analyze-state-text-color: var(--p-gray-300);
    --keyword-table-title-text-color: var(--p-gray-400);

    --keyword-faq-q-background: var(--p-gray-00);
    --keyword-faq-q-color: var(--p-gray-600);
    --keyword-faq-a-background: var(--p-primary-300);
    --keyword-faq-a-color: var(--p-gray-900);
    --keyword-faq-list-title-color: var(--p-gray-00);
    --keyword-faq-list-contents-background: var(--p-gray-900);
    --keyword-faq-list-contents-text-color: var(--p-gray-300);
    --keyword-ktrend-title-background: url(./../images/ksnapp-dark.png)
      no-repeat 50% 50%;
    --keyword-ktrend-menu-ico-color: var(--p-gray-400);
    --keyword-ktrend-list-item-border-color: var(--p-gray-600);
    --keyword-ktrend-list-item-title-color: var(--p-gray-00);
    --keyword-ktrend-list-item-text-color: var(--p-gray-300);
    --keyword-ktrend-list-item-meta-color: var(--p-gray-400);
    --keyword-ksnapp-list-item-border-color: var(--p-gray-600);
    --keyword-ksnapp-list-item-title-color: var(--p-gray-00);
    --keyword-relation-title-text-color: var(--p-gray-300);

    //sales
    --sales-background: var(--p-gray-800);
    --sales-info-text: var(--p-gray-400);
    --sales-product-head-amount-text-color: var(--p-gray-300);
    --sales-product-head-button-text-color: var(--p-gray-00);

    --sales-product-body-text-color: var(--p-gray-400);
    --sales-product-list-item-background: var(--p-gray-900);
    --sales-product-list-item-head-icon-color: var(--p-gray-00);
    --sales-product-list-item-foot-border-color: var(--p-gray-600);
    --sales-product-list-item-foot-title-color: var(--p-gray-300);
    --sales-product-list-item-foot-text-color: var(--p-gray-400);

    --sales-product-list-item-foot-icon-color: var(--p-gray-300);
    --sales-product-list-item-number-color: var(--p-gray-300);
    --sales-product-list-item-title-color: var(--p-gray-00);

    //auth
    --auth-background-image: var(--p-gray-900);

    --login-background: var(--p-gray-800);
    --login-background-mo: var(--p-gray-800);
    --login-title-color: var(--p-gray-00);
    --login-link-border-color: var(--p-gray-500);
    --login-link-color: var(--p-gray-00);
    --login-divider-color: var(--p-gray-500);
    --login-text-color: var(--p-gray-400);

    --auth-background: var(--p-gray-800);
    --auth-title-color: var(--p-gray-00);
    --auth-form-item-border-color: var(--p-gray-600);
    --auth-form-item-label-color: var(--p-gray-00);
    --auth-form-item-checkbox-background: var(--p-gray-700);
    --auth-survey-title-color: var(--p-gray-00);

    --auth-complete-background: var(--p-gray-800);
    --auth-complete-title-color: var(--p-gray-00);
    --auth-complete-text-color: var(--p-gray-00);
    --auth-form-chip-title-color: var(--p-gray-00);

    //policy
    --policy-head-title-color: var(--p-gray-00);
    --policy-head-text-color: var(--p-gray-00);
    --policy-contents-background: var(--p-gray-900);
    --policy-contents-title-color: var(--p-gray-400);
    --policy-contents-text-color: var(--p-gray-400);

    //compare
    --compare-background: var(--p-gray-900);
    --compare-item-background: var(--p-gray-800);
    --compare-item-title-color: var(--p-gray-400);

    //onboarding
    --onboarding-background: var(--p-gray-800);
    --onboarding-title-color: var(--p-gray-00);
    --onboarding-form-item-border-color: var(--p-gray-600);
    --onboarding-form-item-head-text-color: var(--p-gray-400);
    --onboarding-form-item-body-title-color: var(--p-gray-00);
    --onboarding-form-item-text-color: var(--p-gray-400);
    --onboarding-complete-title-color: var(--p-gray-00);
    --onboarding-complete-text-color: var(--p-gray-00);
    --onboarding-complete-info-background: var(--p-gray-700);
    --onboarding-complete-info-title-color: var(--p-gray-00);
    --onboarding-complete-info-icon-color: var(--p-gray-400);
    --onboarding-complete-info-icon-border-color: var(--p-gray-800);
    --onboarding-complete-info-icon-background: var(--p-gray-800);
    --onboarding-complete-info-text-color: var(--p-gray-00);

    //alarm
    --alarm-background-image: #eff1f4 url(./../images/login-bg.jpg) no-repeat 0
      100%;

    --alarm-background: var(--p-gray-800);
    --alarm-title-color: var(--p-gray-00);
    --alarm-form-item-border-color: var(--p-gray-300);
    --alarm-form-item-label-color: var(--p-gray-600);
    --alarm-form-item-checkbox-background: var(--p-gray-100);

    --alarm-complete-background: var(--p-gray-00);
    --alarm-complete-title-color: var(--p-gray-900);
    --alarm-complete-text-color: var(--p-gray-900);

    --alarm-agree-border-color: var(--p-gray-600);
    --alarm-list-item-background: var(--p-gray-700);
    --alarm-list-item-data-color: var(--p-gray-400);
    --alarm-list-item-title-color: var(--p-gray-00);
    --alarm-view-title-color: var(--p-gray-00);
    --alarm-view-data-color: var(--p-gray-400);
    --alarm-view-contents-color: var(--p-gray-00);

    //popover
    --popover-search-history-list-item-background: var(--p-gray-700);
    --popover-search-history-list-head-color: var(--p-gray-400);
    --popover-search-history-list-body-color: var(--p-gray-00);
    --popover-search-history-list-foot-color: var(--p-gray-300);
    --popover-search-history-list-nodata-color: var(--p-gray-400);

    --popover-analyze-title: var(--p-gray-00);
    --popover-analyze-list-item-border-color: var(--p-gray-500);
    --popover-analyze-list-item-text-color: var(--p-gray-00);
    --popover-analyze-propose-background: var(--p-gray-800);
    --popover-analyze-propose-title-color: var(--p-gray-00);
    --popover-analyze-propose-item-background: var(--p-gray-700);
    --popover-analyze-propose-item-boxshadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    --popover-analyze-propose-item-text-color: var(--p-gray-00);

    //ico
    --ico-illustration-smile-color1: var(--p-gray-600);
    --ico-illustration-smile-color2: var(--p-gray-500);
    --ico-illustration-smile-color3: var(--p-gray-600);
    --ico-illustration-smile-color4: var(--p-gray-500);
    --ico-illustration-frown-color1: var(--p-gray-600);
    --ico-illustration-frown-color2: var(--p-gray-500);
    --ico-illustration-frown-color3: var(--p-gray-600);
    --ico-illustration-frown-color4: var(--p-gray-500);
  }
  @include breakpoint {
    --auth-background-image: var(--p-gray-00);
    &.p-dark,
    .p-dark {
      --auth-background-image: var(--p-gray-800);
    }
  }
}

//badge
:root,
:host {
  --badge-pending-bg: var(--p-gray-700);
  --badge-pending-text: var(--p-gray-50);
  --badge-completed-bg: var(--p-primary-50);
  --badge-completed-text: var(--p-primary-600);

  --badge-danger-bg: var(--p-red-100);
  --badge-danger-text: var(--p-red-700);
  --badge-important-bg: var(--p-primary-50);
  --badge-important-text: var(--p-primary-600);
  --badge-technical-bg: var(--p-gray-400);
  --badge-technical-text: var(--p-gray-00);
  --badge-default-bg: var(--p-gray-200);
  --badge-default-text: var(--p-gray-700);
  --badge-etc-bg: var(--p-gray-200);
  --badge-etc-text: var(--p-gray-700);

  --badge-signup-bg: var(--p-slate-50);
  --badge-signup-text: var(--p-slate-500);
  --badge-guide-bg: var(--p-orange-50);
  --badge-guide-text: var(--p-orange-800);
  --badge-feature-bg: var(--p-primary-50);
  --badge-feature-text: var(--p-primary-600);
  &.p-dark {
    --badge-pending-bg: var(--p-gray-200);
    --badge-pending-text: var(--p-gray-700);
    --badge-completed-bg: var(--p-primary-300);
    --badge-completed-text: var(--p-gray-900);

    --badge-danger-bg: var(--p-red-200);
    --badge-danger-text: var(--p-red-800);
    --badge-important-bg: var(--p-primary-200);
    --badge-important-text: var(--p-primary-700);
    --badge-technical-bg: var(--p-gray-400);
    --badge-technical-text: var(--p-gray-00);
    --badge-default-bg: var(--p-gray-300);
    --badge-default-text: var(--p-gray-800);
    --badge-etc-bg: var(--p-gray-300);
    --badge-etc-text: var(--p-gray-700);

    --badge-signup-bg: var(--p-slate-100);
    --badge-signup-text: var(--p-slate-600);
    --badge-guide-bg: var(--p-orange-100);
    --badge-guide-text: var(--p-orange-900);
    --badge-feature-bg: var(--p-primary-100);
    --badge-feature-text: var(--p-primary-700);
  }
}
