@use '../mixins' as *;

:root,
:host {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: #ffffff;
  --p-primary-hover-color: var(--p-primary-700);
  --p-primary-active-color: var(--p-primary-800);
}
:root,
:host {
  --p-button-border-radius: var(--p-form-field-border-radius);
  --p-button-rounded-border-radius: 2rem;
  --p-button-gap: 8px;
  --p-button-padding-x: 24px;
  --p-button-padding-y: 10px;
  --p-button-icon-only-width: auto;
  --p-button-raised-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --p-button-badge-size: 1rem;
  --p-button-transition-duration: var(--p-form-field-transition-duration);
  --p-button-focus-ring-width: var(--p-focus-ring-width);
  --p-button-focus-ring-style: var(--p-focus-ring-style);
  --p-button-focus-ring-offset: var(--p-focus-ring-offset);
  --p-button-label-font-weight: 700;
  --p-button-lg-font-size: var(--p-form-field-lg-font-size);
  --p-button-lg-padding-x: 24px;
  --p-button-lg-padding-y: 10px;
  --p-button-lg-icon-only-width: 60px;
  --p-button-sm-font-size: var(--p-form-field-sm-font-size);
  --p-button-sm-padding-x: 16px;
  --p-button-sm-padding-y: 10px;
  --p-button-sm-icon-only-width: auto;
  --p-button-link-color: var(--p-primary-color);
  --p-button-link-hover-color: var(--p-primary-color);
  --p-button-link-active-color: var(--p-primary-color);
  --p-button-text-plain-hover-background: var(--p-surface-50);
  --p-button-text-plain-active-background: var(--p-surface-100);
  --p-button-text-plain-color: var(--p-gray-500);
  --p-button-text-contrast-hover-background: var(--p-surface-50);
  --p-button-text-contrast-active-background: var(--p-surface-100);
  --p-button-text-contrast-color: var(--p-surface-950);
  --p-button-text-danger-hover-background: var(--p-red-50);
  --p-button-text-danger-active-background: var(--p-red-100);
  --p-button-text-danger-color: var(--p-red-500);
  --p-button-text-help-hover-background: var(--p-purple-50);
  --p-button-text-help-active-background: var(--p-purple-100);
  --p-button-text-help-color: var(--p-purple-500);
  --p-button-text-warn-hover-background: var(--p-orange-50);
  --p-button-text-warn-active-background: var(--p-orange-100);
  --p-button-text-warn-color: var(--p-orange-500);
  --p-button-text-info-hover-background: var(--p-sky-50);
  --p-button-text-info-active-background: var(--p-sky-100);
  --p-button-text-info-color: var(--p-sky-500);
  --p-button-text-success-hover-background: var(--p-green-50);
  --p-button-text-success-active-background: var(--p-green-100);
  --p-button-text-success-color: var(--p-green-500);
  --p-button-text-secondary-hover-background: var(--p-surface-50);
  --p-button-text-secondary-active-background: var(--p-surface-100);
  --p-button-text-secondary-color: var(--p-surface-500);
  --p-button-text-primary-hover-background: var(--p-gray-100);
  --p-button-text-primary-active-background: var(--p-gray-200);
  --p-button-text-primary-color: var(--p-primary-color);

  --p-button-outlined-contrast-hover-background: transparent;
  --p-button-outlined-contrast-active-background: transparent;
  --p-button-outlined-contrast-border-color: var(--p-gray-600);
  --p-button-outlined-contrast-border-hover-color: var(--p-gray-500);
  --p-button-outlined-contrast-color: var(--p-gray-900);
  --p-button-outlined-contrast-hover-color: var(--p-gray-600);
  --p-button-outlined-contrast-disabled-border-color: var(--p-gray-300);
  --p-button-outlined-contrast-disabled-color: var(--p-gray-400);
  --p-button-outlined-contrast-icon-color: var(--p-gray-600);

  --p-button-outlined-primary-hover-background: var(--p-primary-0);
  --p-button-outlined-primary-active-background: var(--p-primary-100);
  --p-button-outlined-primary-border-color: var(--p-primary-500);
  --p-button-outlined-primary-color: var(--p-primary-color);

  --p-button-contrast-background: var(--p-gray-800);
  --p-button-contrast-hover-background: var(--p-gray-500);
  --p-button-contrast-active-background: var(--p-gray-400);
  --p-button-contrast-border-color: var(--p-gray-800);
  --p-button-contrast-hover-border-color: var(--p-gray-500);
  --p-button-contrast-active-border-color: var(--p-gray-400);
  --p-button-contrast-color: var(--p-gray-00);
  --p-button-contrast-hover-color: var(--p-gray-00);
  --p-button-contrast-active-color: var(--p-gray-00);
  --p-button-contrast-disabled-background: var(--p-gray-300);
  --p-button-contrast-disabled-border-color: var(--p-gray-300);
  --p-button-contrast-disabled-color: var(--p-gray-00);
  --p-button-contrast-focus-ring-color: var(--p-surface-950);
  --p-button-contrast-focus-ring-shadow: none;

  --p-button-primary-background: var(--p-primary-500);
  --p-button-primary-hover-background: var(--p-primary-700);
  --p-button-primary-active-background: var(--p-primary-800);
  --p-button-primary-border-color: var(--p-primary-500);
  --p-button-primary-hover-border-color: var(--p-primary-700);
  --p-button-primary-active-border-color: var(--p-primary-800);
  --p-button-primary-color: var(--p-gray-00);
  --p-button-primary-hover-color: var(--p-gray-00);
  --p-button-primary-active-color: var(--p-gray-00);
  --p-button-primary-disabled-background: var(--p-gray-300);
  --p-button-primary-disabled-border-color: var(--p-gray-300);
  --p-button-primary-disabled-color: var(--p-gray-00);
  --p-button-primary-focus-ring-color: var(--p-primary-color);
  --p-button-primary-focus-ring-shadow: none;
  --p-button-primary-icon-color: var(--p-gray-00);

  --p-button-neutral-background: var(--p-gray-100);
  --p-button-neutral-hover-background: var(--p-gray-200);
  --p-button-neutral-active-background: var(--p-gray-300);
  --p-button-neutral-border-color: var(--p-gray-100);
  --p-button-neutral-hover-border-color: var(--p-gray-200);
  --p-button-neutral-active-border-color: var(--p-gray-300);
  --p-button-neutral-color: var(--p-gray-600);
  --p-button-neutral-hover-color: var(--p-gray-600);
  --p-button-neutral-active-color: var(--p-gray-600);
  --p-button-neutral-disabled-background: var(--p-gray-300);
  --p-button-neutral-disabled-border-color: var(--p-gray-300);
  --p-button-neutral-disabled-color: var(--p-gray-400);
  --p-button-text-focus-background: var(--p-gray-100);
  &.p-dark {
    --p-button-text-plain-color: var(--p-gray-300);

    --p-button-text-primary-hover-background: var(--p-gray-700);
    --p-button-text-primary-active-background: var(--p-gray-600);
    --p-button-text-focus-background: var(--p-gray-700);

    --p-button-outlined-contrast-hover-background: transparent;
    --p-button-outlined-contrast-active-background: transparent;
    --p-button-outlined-contrast-border-color: var(--p-gray-00);
    --p-button-outlined-contrast-border-hover-color: var(--p-gray-400);
    --p-button-outlined-contrast-color: var(--p-gray-00);
    --p-button-outlined-contrast-hover-color: var(--p-gray-200);
    --p-button-outlined-contrast-disabled-border-color: var(--p-gray-600);
    --p-button-outlined-contrast-disabled-color: var(--p-gray-600);
    --p-button-outlined-contrast-icon-color: var(--p-gray-00);

    --p-button-outlined-primary-hover-background: var(--p-primary-0);
    --p-button-outlined-primary-active-background: var(--p-primary-100);
    --p-button-outlined-primary-border-color: var(--p-primary-500);
    --p-button-outlined-primary-color: var(--p-primary-color);

    --p-button-contrast-background: var(--p-gray-00);
    --p-button-contrast-hover-background: var(--p-gray-300);
    --p-button-contrast-active-background: var(--p-gray-400);
    --p-button-contrast-border-color: var(--p-gray-00);
    --p-button-contrast-hover-border-color: var(--p-gray-300);
    --p-button-contrast-active-border-color: var(--p-gray-400);
    --p-button-contrast-color: var(--p-gray-900);
    --p-button-contrast-hover-color: var(--p-gray-900);
    --p-button-contrast-active-color: var(--p-gray-900);
    --p-button-contrast-disabled-background: var(--p-gray-600);
    --p-button-contrast-disabled-border-color: var(--p-gray-600);
    --p-button-contrast-disabled-color: var(--p-gray-500);
    --p-button-contrast-focus-ring-color: var(--p-surface-950);
    --p-button-contrast-focus-ring-shadow: none;

    --p-button-primary-background: var(--p-primary-300);
    --p-button-primary-hover-background: var(--p-primary-500);
    --p-button-primary-active-background: var(--p-primary-600);
    --p-button-primary-border-color: var(--p-primary-300);
    --p-button-primary-hover-border-color: var(--p-primary-500);
    --p-button-primary-active-border-color: var(--p-primary-600);
    --p-button-primary-color: var(--p-gray-900);
    --p-button-primary-hover-color: var(--p-gray-900);
    --p-button-primary-active-color: var(--p-gray-900);
    --p-button-primary-disabled-background: var(--p-gray-600);
    --p-button-primary-disabled-border-color: var(--p-gray-600);
    --p-button-primary-disabled-color: var(--p-gray-500);
    --p-button-primary-focus-ring-color: var(--p-primary-color);
    --p-button-primary-focus-ring-shadow: none;
    --p-button-primary-icon-color: var(--p-gray-900);

    --p-button-neutral-background: var(--p-gray-500);
    --p-button-neutral-hover-background: var(--p-gray-700);
    --p-button-neutral-active-background: var(--p-gray-800);
    --p-button-neutral-border-color: var(--p-gray-500);
    --p-button-neutral-hover-border-color: var(--p-gray-700);
    --p-button-neutral-active-border-color: var(--p-gray-800);
    --p-button-neutral-color: var(--p-gray-00);
    --p-button-neutral-hover-color: var(--p-gray-00);
    --p-button-neutral-active-color: var(--p-gray-00);
    --p-button-neutral-disabled-background: var(--p-gray-600);
    --p-button-neutral-disabled-border-color: var(--p-gray-600);
    --p-button-neutral-disabled-color: var(--p-gray-500);
    --p-button-text-focus-background: var(--p-gray-700);
  }
}
@media screen and (max-width: $BreakpointMd) {
  :root,
  :host {
    --p-button-border-radius: var(--p-form-field-border-radius);
    --p-button-rounded-border-radius: 2rem;
    --p-button-gap: 8px;
    --p-button-padding-x: 20px;
    --p-button-padding-y: 10px;
    --p-button-icon-only-width: auto;
    --p-button-raised-shadow:
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --p-button-badge-size: 1rem;
    --p-button-transition-duration: var(--p-form-field-transition-duration);
    --p-button-focus-ring-width: var(--p-focus-ring-width);
    --p-button-focus-ring-style: var(--p-focus-ring-style);
    --p-button-focus-ring-offset: var(--p-focus-ring-offset);
    --p-button-label-font-weight: 700;
    --p-button-lg-font-size: var(--p-form-field-lg-font-size);
    --p-button-lg-padding-x: var(--p-form-field-lg-padding-x);
    --p-button-lg-padding-y: var(--p-form-field-lg-padding-y);
    --p-button-lg-icon-only-width: 60px;
    --p-button-sm-font-size: var(--p-form-field-sm-font-size);
    --p-button-sm-padding-x: 16px;
    --p-button-sm-padding-y: 10px;
    --p-button-sm-icon-only-width: auto;
  }
}

.p-button {
  border-radius: 60px;
  &:not(.p-button-icon-only):not(.p-button-rounded):not(.p-button-text) {
    min-height: 48px;
    font-size: 16px;
  }

  &-sm {
    &:not(.p-button-icon-only):not(.p-button-rounded):not(.p-button-text) {
      min-height: 40px;
      font-size: 14px;
    }
  }

  &-lg {
    &:not(.p-button-icon-only):not(.p-button-rounded):not(.p-button-text) {
      min-height: 60px;
      font-size: 18px;
    }
  }
  &-primary {
    svg {
      color: var(--p-button-primary-icon-color);
    }
    &:disabled {
      border-color: var(--p-button-primary-disabled-border-color);
      background-color: var(--p-button-primary-disabled-background);
      color: var(--p-button-primary-disabled-color);
    }
  }
  &-contrast {
    &:disabled {
      border-color: var(--p-button-contrast-disabled-border-color);
      background-color: var(--p-button-contrast-disabled-background);
      color: var(--p-button-contrast-disabled-color);
    }
  }
  &-neutral {
    border-color: var(--p-button-neutral-border-color);
    background-color: var(--p-button-neutral-background);
    color: var(--p-button-neutral-color);
    &:not(:disabled):hover {
      border-color: var(--p-button-neutral-hover-border-color);
      background-color: var(--p-button-neutral-hover-background);
      color: var(--p-button-neutral-hover-color);
    }
    &:disabled {
      border-color: var(--p-button-neutral-disabled-border-color);
      background-color: var(--p-button-neutral-disabled-background);
      color: var(--p-button-neutral-disabled-color);
    }
  }
  &-white {
    background-color: #fff;
    border-color: #fff;
    &:not(:disabled):hover {
      background-color: #fff;
      border-color: #fff;
    }
  }

  &-outlined {
    &.p-button-contrast {
      svg {
        color: var(--p-button-outlined-contrast-icon-color);
      }
      &:not(:disabled):hover {
        border-color: var(--p-button-outlined-contrast-hover-border-color);
        color: var(--p-button-outlined-contrast-hover-color);
        svg {
          color: var(--p-button-outlined-contrast-hover-color);
        }
      }
      &:disabled {
        border-color: var(--p-button-outlined-contrast-disabled-border-color);
        color: var(--p-button-outlined-contrast-disabled-color);
        svg {
          color: var(--p-button-outlined-contrast-disabled-color);
        }
      }
    }
  }

  &:disabled {
    opacity: 1;
  }

  &-icon-only {
    width: auto;
    height: auto;
    padding: 0;
    border: none !important;
  }
  &-text {
    .p-button-label {
      color: var(--p-button-text-plain-color);

      font-size: var(--Font-Button-Small, 14px);
      font-style: normal;
      line-height: 140%; /* 19.6px */
      letter-spacing: -0.35px;
    }
    &.p-focus {
      background: var(--p-button-text-focus-background);
    }
  }
  @media screen and (max-width: $BreakpointMd) {
    border-radius: 60px;
    &:not(.p-button-icon-only):not(.p-button-rounded):not(.p-button-text) {
      min-height: 48px;
      font-size: 15px;
      letter-spacing: -0.375px;
    }

    &-sm {
      &:not(.p-button-icon-only):not(.p-button-rounded):not(.p-button-text) {
        min-height: 44px;
        padding: 0 20px;
        font-size: 14px;
      }
    }

    &-lg {
      &:not(.p-button-icon-only):not(.p-button-rounded):not(.p-button-text) {
        min-height: 56px;
        font-size: var(--Font-Button-Medium, 16px);
      }
    }
  }
}
