@use '../mixins' as *;

.sb {
  &-comment {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 40px 0 0 0;
    &-write {
      margin-bottom: 16px;
      padding: 30px;
      border-radius: 30px;
      border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
      background: var(--Gray-00_FFFFFF, #fff);
      &__name {
        margin-bottom: 5px;
        color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
        font-size: var(--Font-Body-Large, 16px);
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
      }
      &__textarea {
        width: 100%;
        .p-textarea {
          width: 100%;
          height: 74px;
        }
      }
      &__button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4px;
        p {
          margin: 0 8px 0 0;
          color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
          font-size: var(--Font-Label-Large, 12px);
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: -0.4px;
        }
      }
    }
    &-write-mo {
      display: none;
    }
    &-item {
      padding: 30px;
      border-radius: 30px;
      background: var(--Gray-00_FFFFFF, #fff);
      &__head {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }
      &__thumb {
        width: 48px;
        height: 48px;
        margin-right: 16px;
        background: url(../icons/profile/default.svg);
        border-radius: 48px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 48px;
        p {
          margin: 0;
          color: var(--primary-500_00B1BD, var(--primary-500_00B1BD, #00b1bd));
          text-align: center;
          font-size: var(--Font-Body-Large, 16px);
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 22.4px */
          letter-spacing: -0.4px;
        }
        span {
          color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
          font-size: var(--Font-Body-Medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.35px;
        }
      }
      &__menu {
        margin-left: auto;
      }
      &__contents {
        margin: 0 0 0 64px;
        font-size: var(--Font-Body-Large, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.4px;
      }
      &__foot {
        margin: 8px 0 0 64px;
      }
      &__button {
        display: none;
      }
      &-reply {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 24px 0 0 0;
        padding: 30px;
        border-radius: 15px;
        background: var(--Gray-50_F9FBFC, #f9fbfc);
        .sb-comment-item {
          padding: 0;
          background: transparent;
          &__contents {
            margin: 0 0 0 104px;
          }
          &__foot {
            margin: 8px 0 0 104px;
          }
        }
        .ico-24-reply {
          margin: 0 12px 0 4px;
        }
      }
      .sb-comment-write {
        margin: 24px 0 0 0;
        &__textarea {
          .p-textarea {
            height: 46px;
          }
        }
      }
    }
    @media screen and (max-width: $BreakpointMd) {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 24px 0 0 0;
      padding: 0 0 56px 0;
      &-write {
        display: none;
      }
      &-write-mo {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        display: flex;
        height: 56px;
        border-top: 1px solid var(--Gray-200_EAECF1, #eaecf1);
        background: var(--Gray-00_FFFFFF, #fff);
        .p-inputtext {
          width: 100%;
          border: none;
          border-radius: 0;
        }
      }
      &-item {
        padding: 20px 20px 28px 20px;
        border-radius: 24px;
        background: var(--Gray-00_FFFFFF, #fff);
        &__head {
          display: flex;
          align-items: flex-start;
          margin-bottom: 8px;
        }
        &__thumb {
          display: none;
        }
        &__name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          height: auto;
          p {
            margin: 0 0 4px 0;
            color: var(
              --primary-500_00B1BD,
              var(--primary-500_00B1BD, #00b1bd)
            );
            font-size: var(--Font-Heading-Small, 16px);
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 20.8px */
            letter-spacing: -0.4px;
          }
          span {
            color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 16.9px */
            letter-spacing: -0.325px;
          }
        }
        &__menu {
          margin-left: auto;
        }
        &__contents {
          margin: 0 0 0 0;
          color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 22.5px */
          letter-spacing: -0.5px;
        }
        &__foot {
          margin: 20px 0 0 0;
        }
        &__button {
          display: flex;
          margin-top: -12px;
          padding-bottom: 12px;

          .p-button {
            gap: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            &:hover {
              background: none;
            }
            &.p-button-text .p-button-label {
              color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
              font-size: var(--Font-Label-Large, 12px);
              font-style: normal;
              font-weight: 700;
              line-height: 130%; /* 15.6px */
              letter-spacing: -0.4px;
            }
          }
        }
        &-reply {
          display: flex;
          flex-direction: column;
          gap: 32px;
          margin: 32px 0 0 0;
          padding: 16px;
          border-radius: 16px;
          background: var(--Gray-50_F9FBFC, #f9fbfc);
          .sb-comment-item {
            padding: 0;
            background: transparent;
            &__contents {
              margin: 0 0 0 0;
            }
            &__foot {
              margin: 20px 0 0 0;
            }
          }
          .ico-24-reply {
            display: none;
          }
        }
      }
    }
  }

  &-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 60px;
    padding: 0px;
    border-radius: 30px;
    border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
    background: var(--Gray-00_FFFFFF, #fff);
    overflow: hidden;
    .p-inputtext {
      width: 100%;
      height: 100%;
      padding: 20px;
      border: none;
      color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
      font-size: var(--Font-Body-Medium, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
      letter-spacing: -0.35px;
    }
    &__length {
      margin-right: 20px;
      text-align: right;
      color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));

      /* PC/Pretendard JP/Label/Label */
      font-size: var(--Font-Label-Large, 12px);
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.4px;
      white-space: noWrap;
    }
  }

  &-textarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 180px;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
    background: var(--Gray-00_FFFFFF, #fff);
    overflow: hidden;
    .p-textarea {
      width: 100%;
      height: 100%;

      border: none;
    }
    &__length {
      text-align: right;
      color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));

      /* PC/Pretendard JP/Label/Label */
      font-size: var(--Font-Label-Large, 12px);
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.4px;
    }
    @media screen and (max-width: $BreakpointMd) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      height: 180px;
      padding: 20px;
      border-radius: 16px;
      overflow: hidden;
      &__length {
        text-align: right;
        color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));

        /* PC/Pretendard JP/Label/Label */
        font-size: var(--Font-Label-Large, 12px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.4px;
      }
    }
  }

  &-tab {
    display: flex;
    gap: 8px;
    width: 100%;
    .p-button {
      padding: 10px;
      border-radius: 0;
      &.p-button-text .p-button-label {
        color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
        text-align: center;
        font-size: var(--Font-Button-Large, 18px);
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
        letter-spacing: -0.45px;
      }
      &:hover {
        background: none;
      }
      &.active {
        border-bottom: 2px solid var(--primary-500_00B1BD, #00b1bd);
        .p-button-label {
          color: var(--primary-500_00B1BD, #00b1bd);
        }
      }
    }
    @media screen and (max-width: $BreakpointMd) {
      display: flex;
      gap: 16px;
      width: 100%;
      .p-button {
        padding: 0 0 6px 0;
        border-radius: 0;
        &.p-button-text .p-button-label {
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 19.5px */
          letter-spacing: -0.375px;
        }
        &.active {
          border-bottom: 3px solid var(--primary-500_00B1BD, #00b1bd);
        }
      }
    }
  }

  &-searchbar {
    display: flex;
    align-items: center;
    width: 320px;
    height: 48px;
    border-radius: 90px;
    border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
    background-color: #fff;
    overflow: hidden;
    transition: all 0.1s ease;
    &__input {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      .p-inputtext {
        width: 100%;
        height: 100%;
        padding: 0 16px;
        border: 0;
        background: transparent;
        color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
        font-size: var(--Font-Body-Medium, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.35px;
        &::placeholder {
          color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
        }
      }
    }
    &__delete {
      width: 20px;
      height: 20px;
      background: url(../../icons/20/delete.svg) no-repeat 50% 50%;
      border: 0;
      font-size: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.1s ease;
    }
    &__button {
      display: flex;
      justify-content: center;
      min-width: 56px;
      width: 56px;
      height: 48px;
      .p-button {
        background: transparent;
      }
      .ico-24-search {
        min-width: 20px;
        width: 20px;
        height: 20px;
      }
    }
    &:not(.sb-searchbar--disabled):hover {
      border-color: var(--Gray-600_495666, #454f5b);
    }
    &:not(.sb-searchbar--disabled):hover & {
      &__delete {
        opacity: 1;
        visibility: visible;
      }
      &__button {
        .ico-24-search {
          color: #00b1bd;
        }
      }
    }
    &--disabled {
      border-radius: 99px;
      border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
      background: var(--Gray-200_EAECF1, #eaecf1);
      pointer-events: none;
      .p-inputtext {
        color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
      }
      .ico-24-search {
        color: #9aa3af;
      }
    }
  }

  &-social {
    display: flex;
    gap: 12px;
    .p-button {
      gap: 4px;
      padding: 0;
      border: 0;
      border-radius: 0;
      &:hover {
        background: none;
      }
      &-label {
        color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 16.9px */
        letter-spacing: -0.325px;
      }
    }
    &--disabled {
      .p-button {
        pointer-events: none;
        &:hover {
          background-color: none;
        }
      }
    }
    @media screen and (max-width: $BreakpointMd) {
      &__reply {
        margin-left: auto;
        &.p-button-text .p-button-label {
          color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
          font-size: var(--Font-Label-Large, 12px);
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 15.6px */
          letter-spacing: -0.4px;
        }
      }
    }
  }

  &-editor {
    border-radius: 32px;
    border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
    background: var(--Gray-00_FFFFFF, #fff);
    overflow: hidden;
    .simple-editor-wrapper {
      max-height: 500px;
      @include custom-scrollbar();
    }
  }

  &-loading {
    display: flex;
    height: 35px;
    margin-top: 30px;
    background: url(../../icons/etc/loading.svg) no-repeat 50% 50%;
  }
  &-nodata {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
    h6 {
      margin-top: 8px;
      color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
      text-align: center;
    }
    p {
      margin: 8px 0 0 0;
      color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
      text-align: center;
      font-size: var(--Font-Heading-Small, 16px);
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 22.4px */
      letter-spacing: -0.4px;
    }
    &__button {
      margin-top: 32px;
    }
    @media screen and (max-width: $BreakpointMd) {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 80px 0;
      h6 {
        margin-top: 8px;
        color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
        text-align: center;
      }
      p {
        margin: 8px 0 0 0;
        color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 19.5px */
        letter-spacing: -0.375px;
      }
      &__button {
        margin-top: 24px;
      }
    }
  }

  &-fileupload {
    .p-fileupload {
      padding: 0;
      border: none;
      &-header {
        padding: 0;
        border: 0;
      }
      &-content {
        padding: 8px 0 0 0;
        border: 0;
      }
    }
    &__button {
      .p-button {
        width: 136px;
      }
    }
    &__text {
      margin-top: 8px;
      color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));

      font-size: var(--Font-Body-Medium, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
      letter-spacing: -0.35px;
      p {
        margin: 0 0 4px 0;
      }
      ul {
        margin: 0 0 0 10px;
        padding: 0;
        list-style: none;
        li {
          position: relative;
          margin: 0;
          padding: 0 0 0 10px;
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            left: 0;
            width: 3px;
            height: 3px;
            background: #9aa3af;
            border-radius: 3px;
          }
        }
      }
    }
    @media screen and (max-width: $BreakpointMd) {
      &__text {
        margin-top: 8px;
        color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));

        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 16.9px */
        letter-spacing: -0.325px;
        p {
          margin: 0 0 4px 0;
        }
        ul {
          margin: 0 0 0 10px;
          padding: 0;
          list-style: none;
          li {
            position: relative;
            margin: 0;
            padding: 0 0 0 10px;
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 8px;
              left: 0;
              width: 3px;
              height: 3px;
              background: #9aa3af;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
  &-attachment {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &-item {
      padding: 16px;
      border-radius: 8px;
      background: var(--Gray-100_F4F5F7, #f4f5f7);
      a {
        display: flex;
        align-items: center;
        gap: 0;
        text-decoration: none;
      }
      p {
        width: 100%;
        margin: 0;
        color: var(--gray-800191919, var(--gray-800191919, #191919));
        font-size: var(--Font-Body-Medium, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.35px;
        @include text-clamp(1);
      }
      &__size {
        margin: 0 24px 0 40px;
        color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
        font-size: var(--Font-Label-Large, 12px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 16.8px */
        letter-spacing: -0.4px;
        white-space: noWrap;
      }
    }
    @media screen and (max-width: $BreakpointMd) {
      &-item {
        padding: 12px 16px;
        border-radius: 8px;
        background: var(--Gray-100_F4F5F7, #f4f5f7);
        a {
          display: flex;
          align-items: center;
          gap: 0;
          text-decoration: none;
        }
        p {
          width: 100%;
          margin: 0;
          color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%; /* 16.9px */
          letter-spacing: -0.325px;
          @include text-clamp(1);
        }
        &__size {
          margin: 0 8px 0 20px;
          color: var(--Gray-400_9AA3AF, var(--Gray-400_9AA3AF, #9aa3af));
          font-size: var(--Font-Label-Large, 12px);
          font-style: normal;
          font-weight: 400;
          line-height: 130%; /* 15.6px */
          letter-spacing: -0.4px;
          white-space: noWrap;
        }
      }
    }
  }
  &-radio {
    display: flex;
    gap: 40px;
    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
