@use '../mixins' as *;

:root,
:host {
  --p-datepicker-time-picker-padding: 0.5rem 0 0 0;
  --p-datepicker-time-picker-border-color: var(--p-content-border-color);
  --p-datepicker-time-picker-gap: 0.5rem;
  --p-datepicker-time-picker-button-gap: 0.25rem;
  --p-datepicker-buttonbar-padding: 0.5rem 0 0 0;
  --p-datepicker-buttonbar-border-color: var(--p-content-border-color);
  --p-datepicker-year-padding: 0.375rem;
  --p-datepicker-year-border-radius: var(--p-content-border-radius);
  --p-datepicker-year-view-margin: 0.5rem 0 0 0;
  --p-datepicker-month-padding: 0.375rem;
  --p-datepicker-month-border-radius: var(--p-content-border-radius);
  --p-datepicker-month-view-margin: 0.5rem 0 0 0;
  --p-datepicker-date-hover-background: var(--color-primary);
  --p-datepicker-date-selected-background: var(--color-primary);
  --p-datepicker-date-range-selected-background: var(--p-primary-100);
  --p-datepicker-date-color: var(--p-gray-900);
  --p-datepicker-date-hover-color: var(--p-gray-00);
  --p-datepicker-date-selected-color: var(--p-primary-contrast-color);
  --p-datepicker-date-range-selected-color: var(--p-gray-600);
  --p-datepicker-date-width: 32px;
  --p-datepicker-date-height: 32px;
  --p-datepicker-date-border-radius: 50%;
  --p-datepicker-date-padding: 0.25rem;
  --p-datepicker-date-focus-ring-width: var(--p-focus-ring-width);
  --p-datepicker-date-focus-ring-style: var(--p-focus-ring-style);
  --p-datepicker-date-focus-ring-color: var(--p-focus-ring-color);
  --p-datepicker-date-focus-ring-offset: var(--p-focus-ring-offset);
  --p-datepicker-date-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-datepicker-week-day-padding: 0.25rem;
  --p-datepicker-week-day-font-weight: 500;
  --p-datepicker-week-day-color: var(--p-gray-900);
  --p-datepicker-day-view-margin: 0.5rem 0 0 0;
  --p-datepicker-group-border-color: var(--p-content-border-color);
  --p-datepicker-group-gap: var(--p-overlay-popover-padding);
  --p-datepicker-select-year-hover-background: none;
  --p-datepicker-select-year-color: var(--p-gray-900);
  --p-datepicker-select-year-hover-color: var(--p-gray-900);
  --p-datepicker-select-year-padding: 0.25rem 0;
  --p-datepicker-select-year-border-radius: var(--p-content-border-radius);
  --p-datepicker-select-month-hover-background: none;
  --p-datepicker-select-month-color: var(--p-gray-900);
  --p-datepicker-select-month-hover-color: var(--p-gray-900);
  --p-datepicker-select-month-padding: 0.25rem 0;
  --p-datepicker-select-month-border-radius: var(--p-content-border-radius);
  --p-datepicker-input-icon-color: var(--p-form-field-icon-color);
  --p-datepicker-dropdown-width: 2.5rem;
  --p-datepicker-dropdown-border-color: var(--p-form-field-border-color);
  --p-datepicker-dropdown-hover-border-color: var(--p-form-field-border-color);
  --p-datepicker-dropdown-active-border-color: var(--p-form-field-border-color);
  --p-datepicker-dropdown-border-radius: var(--p-form-field-border-radius);
  --p-datepicker-dropdown-focus-ring-width: var(--p-focus-ring-width);
  --p-datepicker-dropdown-focus-ring-style: var(--p-focus-ring-style);
  --p-datepicker-dropdown-focus-ring-color: var(--p-focus-ring-color);
  --p-datepicker-dropdown-focus-ring-offset: var(--p-focus-ring-offset);
  --p-datepicker-dropdown-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-datepicker-dropdown-lg-width: 3rem;
  --p-datepicker-dropdown-sm-width: 2rem;
  --p-datepicker-title-gap: 0.5rem;
  --p-datepicker-title-font-weight: 500;
  --p-datepicker-header-background: var(--p-content-background);
  --p-datepicker-header-border-color: var(--p-content-border-color);
  --p-datepicker-header-color: var(--p-gray-900);
  --p-datepicker-header-padding: 0 0 0.5rem 0;
  --p-datepicker-panel-background: var(--p-content-background);
  --p-datepicker-panel-border-color: none;
  --p-datepicker-panel-color: var(--p-content-color);
  --p-datepicker-panel-border-radius: 32px;
  --p-datepicker-panel-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  --p-datepicker-panel-padding: 24px;
  --p-datepicker-transition-duration: var(--p-transition-duration);
  --p-datepicker-today-background: none;
  --p-datepicker-today-color: var(--color-primary);
  --p-datepicker-dropdown-background: var(--p-surface-100);
  --p-datepicker-dropdown-hover-background: var(--p-surface-200);
  --p-datepicker-dropdown-active-background: var(--p-surface-300);
  --p-datepicker-dropdown-color: var(--p-surface-600);
  --p-datepicker-dropdown-hover-color: var(--p-surface-700);
  --p-datepicker-dropdown-active-color: var(--p-surface-800);
  --p-datepicker-icon: url(./../../icons/system/calendar02.svg) no-repeat 50%
    50%;
  --p-datepicker-delete-icon: url(./../../icons/etc/datepicker-delete.svg)
    no-repeat 50% 50%;
}

.p-dark {
  --p-datepicker-today-background: var(--p-surface-700);
  --p-datepicker-today-color: var(--p-surface-0);
  --p-datepicker-dropdown-background: var(--p-surface-800);
  --p-datepicker-dropdown-hover-background: var(--p-surface-700);
  --p-datepicker-dropdown-active-background: var(--p-surface-600);
  --p-datepicker-dropdown-color: var(--p-surface-300);
  --p-datepicker-dropdown-hover-color: var(--p-surface-200);
  --p-datepicker-dropdown-active-color: var(--p-surface-100);
  --p-datepicker-icon: url(./../../icons/system/calendar02-dark.svg) no-repeat
    50% 50%;
  --p-datepicker-delete-icon: url(./../../icons/etc/detepicker-delete-dark.svg)
    no-repeat 50% 50%;
}

.p-datepicker {
  position: relative;
  display: inline-flex;
  max-width: 100%;
}
.p-datepicker:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 24px;
  height: 24px;
  background: var(--p-datepicker-icon);
  background-size: cover;
  transform: translateY(-50%);
  cursor: pointer;
  @include breakpoint {
    right: 16px;
    width: 20px;
    height: 20px;
  }
}
.p-datepicker:has(.p-datepicker-dropdown) .p-datepicker-input {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
.p-datepicker-input {
  flex: 1 1 auto;
  width: 1%;
}
.p-datepicker-dropdown {
  cursor: pointer;
  display: inline-flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: var(--p-datepicker-dropdown-width);
  border-start-end-radius: var(--p-datepicker-dropdown-border-radius);
  border-end-end-radius: var(--p-datepicker-dropdown-border-radius);
  background: var(--p-datepicker-dropdown-background);
  border: 1px solid var(--p-datepicker-dropdown-border-color);
  border-inline-start: 0 none;
  color: var(--p-datepicker-dropdown-color);
  transition:
    background var(--p-datepicker-transition-duration),
    color var(--p-datepicker-transition-duration),
    border-color var(--p-datepicker-transition-duration),
    outline-color var(--p-datepicker-transition-duration);
  outline-color: transparent;
}
.p-datepicker-dropdown:not(:disabled):hover {
  background: var(--p-datepicker-dropdown-hover-background);
  border-color: var(--p-datepicker-dropdown-hover-border-color);
  color: var(--p-datepicker-dropdown-hover-color);
}
.p-datepicker-dropdown:not(:disabled):active {
  background: var(--p-datepicker-dropdown-active-background);
  border-color: var(--p-datepicker-dropdown-active-border-color);
  color: var(--p-datepicker-dropdown-active-color);
}
.p-datepicker-dropdown:focus-visible {
  box-shadow: var(--p-datepicker-dropdown-focus-ring-shadow);
  outline: var(--p-datepicker-dropdown-focus-ring-width)
    var(--p-datepicker-dropdown-focus-ring-style)
    var(--p-datepicker-dropdown-focus-ring-color);
  outline-offset: var(--p-datepicker-dropdown-focus-ring-offset);
}
.p-datepicker:has(.p-datepicker-input-icon-container) {
  position: relative;
}
.p-datepicker:has(.p-datepicker-input-icon-container) .p-datepicker-input {
  padding-inline-end: calc(
    (var(--p-form-field-padding-x) * 2) + var(--p-icon-size)
  );
}
.p-datepicker-input-icon-container {
  cursor: pointer;
  position: absolute;
  top: 50%;
  inset-inline-end: var(--p-form-field-padding-x);
  margin-block-start: calc(-1 * (var(--p-icon-size) / 2));
  color: var(--p-datepicker-input-icon-color);
  line-height: 1;
  z-index: 1;
}
.p-datepicker:has(.p-datepicker-input:disabled)
  .p-datepicker-input-icon-container {
  cursor: default;
}
.p-datepicker-fluid {
  display: flex;
}
.p-datepicker .p-datepicker-panel {
  min-width: 100%;
}
.p-datepicker-panel {
  min-width: 300px !important;
  max-width: 328px;
  width: auto;
  padding: var(--p-datepicker-panel-padding);
  background: var(--p-datepicker-panel-background);
  color: var(--p-datepicker-panel-color);
  border: 1px solid var(--p-datepicker-panel-border-color);
  border-radius: var(--p-datepicker-panel-border-radius);
  box-shadow: var(--p-datepicker-panel-shadow);
}
.p-datepicker-panel-inline {
  display: inline-block;
  overflow-x: auto;
  box-shadow: none;
}
.p-datepicker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-datepicker-header-padding);
  background: var(--p-datepicker-header-background);
  color: var(--p-datepicker-header-color);
  border-block-end: 1px solid var(--p-datepicker-header-border-color);
  border: none;
}
.p-datepicker-next-button:dir(rtl) {
  order: -1;
}
.p-datepicker-prev-button:dir(rtl) {
  order: 1;
}
.p-datepicker-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--p-datepicker-title-gap);
  font-weight: var(--p-datepicker-title-font-weight);
}
.p-datepicker-select-year,
.p-datepicker-select-month {
  border: none;
  background: transparent;
  margin: 0;
  cursor: pointer;
  font-weight: inherit;
  font-size: 20px;
  transition:
    background var(--p-datepicker-transition-duration),
    color var(--p-datepicker-transition-duration),
    border-color var(--p-datepicker-transition-duration),
    outline-color var(--p-datepicker-transition-duration),
    box-shadow var(--p-datepicker-transition-duration);
}
.p-datepicker-select-month {
  padding: var(--p-datepicker-select-month-padding);
  color: var(--p-datepicker-select-month-color);
  border-radius: var(--p-datepicker-select-month-border-radius);
}
.p-datepicker-select-year {
  padding: var(--p-datepicker-select-year-padding);
  color: var(--p-datepicker-select-year-color);
  border-radius: var(--p-datepicker-select-year-border-radius);
}
.p-datepicker-select-year:after {
  content: '년';
}
.p-datepicker-select-month:enabled:hover {
  background: var(--p-datepicker-select-month-hover-background);
  color: var(--p-datepicker-select-month-hover-color);
}
.p-datepicker-select-year:enabled:hover {
  background: var(--p-datepicker-select-year-hover-background);
  color: var(--p-datepicker-select-year-hover-color);
}
.p-datepicker-select-month:focus-visible,
.p-datepicker-select-year:focus-visible {
  box-shadow: var(--p-datepicker-date-focus-ring-shadow);
  outline: var(--p-datepicker-date-focus-ring-width)
    var(--p-datepicker-date-focus-ring-style)
    var(--p-datepicker-date-focus-ring-color);
  outline-offset: var(--p-datepicker-date-focus-ring-offset);
}
.p-datepicker-calendar-container {
  display: flex;
}
.p-datepicker-calendar-container .p-datepicker-calendar {
  flex: 1 1 auto;
  border-inline-start: 1px solid var(--p-datepicker-group-border-color);
  padding-inline-end: var(--p-datepicker-group-gap);
  padding-inline-start: var(--p-datepicker-group-gap);
}
.p-datepicker-calendar-container .p-datepicker-calendar:first-child {
  padding-inline-start: 0;
  border-inline-start: 0 none;
}
.p-datepicker-calendar-container .p-datepicker-calendar:last-child {
  padding-inline-end: 0;
}
.p-datepicker-day-view {
  width: 100%;
  border-collapse: collapse;
  margin: var(--p-datepicker-day-view-margin);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.35px;
}
.p-datepicker-weekday-cell {
  padding: var(--p-datepicker-week-day-padding);
}
.p-datepicker-weekday {
  font-weight: var(--p-datepicker-week-day-font-weight);
  color: var(--p-datepicker-week-day-color);
}
.p-datepicker-day-cell {
  padding: var(--p-datepicker-date-padding);
}
.p-datepicker-day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: var(--p-datepicker-date-width);
  height: var(--p-datepicker-date-height);
  border-radius: var(--p-datepicker-date-border-radius);
  transition:
    background var(--p-datepicker-transition-duration),
    color var(--p-datepicker-transition-duration),
    border-color var(--p-datepicker-transition-duration),
    box-shadow var(--p-datepicker-transition-duration),
    outline-color var(--p-datepicker-transition-duration);
  border: 1px solid transparent;
  outline-color: transparent;
  color: var(--p-datepicker-date-color);
  &.p-disabled {
    opacity: 1;
    color: var(--p-gray-300);
  }
}
.p-datepicker-day:not(.p-datepicker-day-selected):not(.p-disabled):hover {
  background: var(--p-datepicker-date-hover-background);
  color: var(--p-datepicker-date-hover-color);
}
.p-datepicker-day:focus-visible {
  box-shadow: var(--p-datepicker-date-focus-ring-shadow);
  outline: var(--p-datepicker-date-focus-ring-width)
    var(--p-datepicker-date-focus-ring-style)
    var(--p-datepicker-date-focus-ring-color);
  outline-offset: var(--p-datepicker-date-focus-ring-offset);
}
.p-datepicker-day-selected {
  background: var(--p-datepicker-date-selected-background);
  color: var(--p-datepicker-date-selected-color);
}
.p-datepicker-day-selected-range {
  background: var(--p-datepicker-date-range-selected-background);
  color: var(--p-datepicker-date-range-selected-color);
}
.p-datepicker-today > .p-datepicker-day {
  background: var(--p-datepicker-today-background);
  color: var(--p-datepicker-today-color);
}
.p-datepicker-today > .p-datepicker-day-selected {
  background: var(--p-datepicker-date-selected-background);
  color: var(--p-datepicker-date-selected-color);
}
.p-datepicker-today > .p-datepicker-day-selected-range {
  background: var(--p-datepicker-date-range-selected-background);
  color: var(--p-datepicker-date-range-selected-color);
}
.p-datepicker-weeknumber {
  text-align: center;
}
.p-datepicker-month-view {
  margin: var(--p-datepicker-month-view-margin);
}
.p-datepicker-month {
  width: 33.3%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: var(--p-datepicker-month-padding);
  transition:
    background var(--p-datepicker-transition-duration),
    color var(--p-datepicker-transition-duration),
    border-color var(--p-datepicker-transition-duration),
    box-shadow var(--p-datepicker-transition-duration),
    outline-color var(--p-datepicker-transition-duration);
  border-radius: var(--p-datepicker-month-border-radius);
  outline-color: transparent;
  color: var(--p-datepicker-date-color);
}
.p-datepicker-month:not(.p-disabled):not(.p-datepicker-month-selected):hover {
  color: var(--p-datepicker-date-hover-color);
  background: var(--p-datepicker-date-hover-background);
}
.p-datepicker-month-selected {
  color: var(--p-datepicker-date-selected-color);
  background: var(--p-datepicker-date-selected-background);
}
.p-datepicker-month:not(.p-disabled):focus-visible {
  box-shadow: var(--p-datepicker-date-focus-ring-shadow);
  outline: var(--p-datepicker-date-focus-ring-width)
    var(--p-datepicker-date-focus-ring-style)
    var(--p-datepicker-date-focus-ring-color);
  outline-offset: var(--p-datepicker-date-focus-ring-offset);
}
.p-datepicker-year-view {
  margin: var(--p-datepicker-year-view-margin);
}
.p-datepicker-year {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: var(--p-datepicker-year-padding);
  transition:
    background var(--p-datepicker-transition-duration),
    color var(--p-datepicker-transition-duration),
    border-color var(--p-datepicker-transition-duration),
    box-shadow var(--p-datepicker-transition-duration),
    outline-color var(--p-datepicker-transition-duration);
  border-radius: var(--p-datepicker-year-border-radius);
  outline-color: transparent;
  color: var(--p-datepicker-date-color);
}
.p-datepicker-year:not(.p-disabled):not(.p-datepicker-year-selected):hover {
  color: var(--p-datepicker-date-hover-color);
  background: var(--p-datepicker-date-hover-background);
}
.p-datepicker-year-selected {
  color: var(--p-datepicker-date-selected-color);
  background: var(--p-datepicker-date-selected-background);
}
.p-datepicker-year:not(.p-disabled):focus-visible {
  box-shadow: var(--p-datepicker-date-focus-ring-shadow);
  outline: var(--p-datepicker-date-focus-ring-width)
    var(--p-datepicker-date-focus-ring-style)
    var(--p-datepicker-date-focus-ring-color);
  outline-offset: var(--p-datepicker-date-focus-ring-offset);
}
.p-datepicker-buttonbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--p-datepicker-buttonbar-padding);
  border-block-start: 1px solid var(--p-datepicker-buttonbar-border-color);
  border: none;
}
.p-datepicker-buttonbar .p-button {
  width: auto;
}
.p-datepicker-time-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  border-block-start: 1px solid var(--p-datepicker-time-picker-border-color);
  padding: 0;
  gap: var(--p-datepicker-time-picker-gap);
}
.p-datepicker-calendar-container + .p-datepicker-time-picker {
  padding: var(--p-datepicker-time-picker-padding);
}
.p-datepicker-time-picker > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--p-datepicker-time-picker-button-gap);
}
.p-datepicker-time-picker span {
  font-size: 1rem;
}
.p-datepicker-timeonly .p-datepicker-time-picker {
  border-block-start: 0 none;
}
.p-datepicker-time-picker:dir(rtl) {
  flex-direction: row-reverse;
}
.p-datepicker:has(.p-inputtext-sm) .p-datepicker-dropdown {
  width: var(--p-datepicker-dropdown-sm-width);
}
.p-datepicker:has(.p-inputtext-sm) .p-datepicker-dropdown .p-icon,
.p-datepicker:has(.p-inputtext-sm) .p-datepicker-input-icon {
  font-size: var(--p-form-field-sm-font-size);
  width: var(--p-form-field-sm-font-size);
  height: var(--p-form-field-sm-font-size);
}
.p-datepicker:has(.p-inputtext-lg) .p-datepicker-dropdown {
  width: var(--p-datepicker-dropdown-lg-width);
}
.p-datepicker:has(.p-inputtext-lg) .p-datepicker-dropdown .p-icon,
.p-datepicker:has(.p-inputtext-lg) .p-datepicker-input-icon {
  font-size: var(--p-form-field-lg-font-size);
  width: var(--p-form-field-lg-font-size);
  height: var(--p-form-field-lg-font-size);
}
.p-datepicker-clear-icon {
  position: absolute;
  top: 50%;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 0;
  cursor: pointer;
  color: var(--p-form-field-icon-color);
  inset-inline-end: var(--p-form-field-padding-x);
  background: var(--p-datepicker-delete-icon);
  path {
    display: none;
  }
}
.p-datepicker:has(.p-datepicker-dropdown) .p-datepicker-clear-icon {
  inset-inline-end: calc(
    var(--p-datepicker-dropdown-width) + var(--p-form-field-padding-x)
  );
}
.p-datepicker:has(.p-datepicker-input-icon-container) .p-datepicker-clear-icon {
  inset-inline-end: calc(
    (var(--p-form-field-padding-x) * 2) + var(--p-icon-size)
  );
}
.p-datepicker:has(.p-datepicker-clear-icon) .p-datepicker-input {
  padding-inline-end: calc(
    (var(--p-form-field-padding-x) * 2) + var(--p-icon-size)
  );
}
.p-datepicker:has(.p-datepicker-input-icon-container):has(
    .p-datepicker-clear-icon
  )
  .p-datepicker-input {
  padding-inline-end: calc(
    (var(--p-form-field-padding-x) * 3) + calc(var(--p-icon-size) * 2)
  );
}
.p-inputgroup .p-datepicker-dropdown {
  border-radius: 0;
}
.p-inputgroup
  > .p-datepicker:last-child:has(.p-datepicker-dropdown)
  > .p-datepicker-input {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
.p-inputgroup > .p-datepicker:last-child .p-datepicker-dropdown {
  border-start-end-radius: var(--p-datepicker-dropdown-border-radius);
  border-end-end-radius: var(--p-datepicker-dropdown-border-radius);
}

@include breakpoint {
  .p-datepicker-panel {
    position: fixed !important;
    top: auto !important;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    width: auto !important;
    border-radius: 16px 16px 0 0;
    z-index: 60;
    transform: none !important;
  }
  .p-datepicker-mask {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
