@use '../mixins' as *;

:root,
:host {
  --p-inputtext-background: var(--p-form-field-background);
  --p-inputtext-disabled-background: var(--p-form-field-disabled-background);
  --p-inputtext-filled-background: var(--p-form-field-filled-background);
  --p-inputtext-filled-hover-background: var(
    --p-form-field-filled-hover-background
  );
  --p-inputtext-filled-focus-background: var(
    --p-form-field-filled-focus-background
  );
  --p-inputtext-border-color: var(--p-form-field-border-color);
  --p-inputtext-hover-border-color: var(--p-form-field-hover-border-color);
  --p-inputtext-focus-border-color: var(--p-form-field-focus-border-color);
  --p-inputtext-invalid-border-color: var(--p-form-field-invalid-border-color);
  --p-inputtext-color: var(--p-gray-900);
  --p-inputtext-disabled-color: var(--p-form-field-disabled-color);
  --p-inputtext-placeholder-color: var(--p-gray-500);
  --p-inputtext-invalid-placeholder-color: var(
    --p-form-field-invalid-placeholder-color
  );
  --p-inputtext-shadow: var(--p-form-field-shadow);
  --p-inputtext-padding-x: var(--p-form-field-padding-x);
  --p-inputtext-padding-y: var(--p-form-field-padding-y);
  --p-inputtext-border-radius: var(--p-form-field-border-radius);
  --p-inputtext-transition-duration: var(--p-form-field-transition-duration);
  --p-inputtext-lg-font-size: var(--p-form-field-lg-font-size);
  --p-inputtext-lg-padding-x: var(--p-form-field-lg-padding-x);
  --p-inputtext-lg-padding-y: var(--p-form-field-lg-padding-y);
  --p-inputtext-sm-font-size: var(--p-form-field-sm-font-size);
  --p-inputtext-sm-padding-x: var(--p-form-field-sm-padding-x);
  --p-inputtext-sm-padding-y: var(--p-form-field-sm-padding-y);
  --p-inputtext-focus-ring-width: var(--p-form-field-focus-ring-width);
  --p-inputtext-focus-ring-style: var(--p-form-field-focus-ring-style);
  --p-inputtext-focus-ring-color: var(--p-form-field-focus-ring-color);
  --p-inputtext-focus-ring-offset: var(--p-form-field-focus-ring-offset);
  --p-inputtext-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);

  &.p-dark {
    --p-inputtext-color: var(--p-gray-00);
    --p-inputtext-placeholder-color: var(--p-gray-300);
  }
}

.p-inputtext {
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 16px;
  color: var(--p-inputtext-color);
  background: var(--p-inputtext-background);
  padding-block: var(--p-inputtext-padding-y);
  padding-inline: var(--p-inputtext-padding-x);
  border: 1px solid var(--p-inputtext-border-color);
  transition:
    background var(--p-inputtext-transition-duration),
    color var(--p-inputtext-transition-duration),
    border-color var(--p-inputtext-transition-duration),
    outline-color var(--p-inputtext-transition-duration),
    box-shadow var(--p-inputtext-transition-duration);
  appearance: none;
  border-radius: var(--p-inputtext-border-radius);
  outline-color: transparent;
  box-shadow: var(--p-inputtext-shadow);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.4px;
  @media screen and (max-width: $BreakpointMd) {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;
  }
}
