@use '../mixins' as *;

:root,
:host {
  --p-message-simple-content-padding: 0;
  --p-message-outlined-border-width: 1px;
  --p-message-close-icon-size: 1rem;
  --p-message-close-icon-lg-size: 1.125rem;
  --p-message-close-icon-sm-size: 0.875rem;
  --p-message-close-button-width: 1.75rem;
  --p-message-close-button-height: 1.75rem;
  --p-message-close-button-border-radius: 50%;
  --p-message-close-button-focus-ring-width: var(--p-focus-ring-width);
  --p-message-close-button-focus-ring-style: var(--p-focus-ring-style);
  --p-message-close-button-focus-ring-offset: var(--p-focus-ring-offset);
  --p-message-icon-size: 1.125rem;
  --p-message-icon-lg-size: 1.25rem;
  --p-message-icon-sm-size: 1rem;
  --p-message-text-font-size: 14px;
  --p-message-text-font-weight: 400;
  --p-message-text-lg-font-size: 16px;
  --p-message-text-sm-font-size: 12px;
  --p-message-content-padding: 0.5rem 0.75rem;
  --p-message-content-gap: 0.5rem;
  --p-message-content-lg-padding: 0.625rem 0.875rem;
  --p-message-content-sm-padding: 0.375rem 0.625rem;
  --p-message-border-radius: var(--p-content-border-radius);
  --p-message-border-width: 1px;
  --p-message-transition-duration: var(--p-transition-duration);

  --p-message-neutral-background: var(--p-surface-900);
  --p-message-neutral-border-color: var(--p-surface-950);
  --p-message-neutral-color: var(--p-surface-50);
  --p-message-neutral-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-surface-950), transparent 96%);
  --p-message-neutral-simple-color: var(--p-gray-400);
  --p-message-neutral-outlined-color: var(--p-surface-950);
  --p-message-neutral-outlined-border-color: var(--p-surface-950);
  --p-message-neutral-close-button-hover-background: var(--p-surface-800);
  --p-message-neutral-close-button-focus-ring-color: var(--p-surface-50);
  --p-message-neutral-close-button-focus-ring-shadow: none;

  --p-message-contrast-background: var(--p-surface-900);
  --p-message-contrast-border-color: var(--p-surface-950);
  --p-message-contrast-color: var(--p-surface-50);
  --p-message-contrast-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-surface-950), transparent 96%);
  --p-message-contrast-simple-color: var(--p-surface-950);
  --p-message-contrast-outlined-color: var(--p-surface-950);
  --p-message-contrast-outlined-border-color: var(--p-surface-950);
  --p-message-contrast-close-button-hover-background: var(--p-surface-800);
  --p-message-contrast-close-button-focus-ring-color: var(--p-surface-50);
  --p-message-contrast-close-button-focus-ring-shadow: none;
  --p-message-secondary-background: var(--p-surface-100);
  --p-message-secondary-border-color: var(--p-surface-200);
  --p-message-secondary-color: var(--p-surface-600);
  --p-message-secondary-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-surface-500), transparent 96%);
  --p-message-secondary-simple-color: var(--p-surface-500);
  --p-message-secondary-outlined-color: var(--p-surface-500);
  --p-message-secondary-outlined-border-color: var(--p-surface-500);
  --p-message-secondary-close-button-hover-background: var(--p-surface-200);
  --p-message-secondary-close-button-focus-ring-color: var(--p-surface-600);
  --p-message-secondary-close-button-focus-ring-shadow: none;
  --p-message-error-background: color-mix(
    in srgb,
    var(--p-red-50),
    transparent 5%
  );
  --p-message-error-border-color: var(--p-red-200);
  --p-message-error-color: var(--p-red-600);
  --p-message-error-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-red-500), transparent 96%);
  --p-message-error-simple-color: var(--p-red-600);
  --p-message-error-outlined-color: var(--p-red-600);
  --p-message-error-outlined-border-color: var(--p-red-600);
  --p-message-error-close-button-hover-background: var(--p-red-100);
  --p-message-error-close-button-focus-ring-color: var(--p-red-600);
  --p-message-error-close-button-focus-ring-shadow: none;
  --p-message-warn-background: color-mix(
    in srgb,
    var(--p-yellow-50),
    transparent 5%
  );
  --p-message-warn-border-color: var(--p-yellow-200);
  --p-message-warn-color: var(--p-yellow-600);
  --p-message-warn-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-yellow-500), transparent 96%);
  --p-message-warn-simple-color: var(--p-yellow-600);
  --p-message-warn-outlined-color: var(--p-yellow-600);
  --p-message-warn-outlined-border-color: var(--p-yellow-600);
  --p-message-warn-close-button-hover-background: var(--p-yellow-100);
  --p-message-warn-close-button-focus-ring-color: var(--p-yellow-600);
  --p-message-warn-close-button-focus-ring-shadow: none;
  --p-message-success-background: color-mix(
    in srgb,
    var(--p-green-50),
    transparent 5%
  );
  --p-message-success-border-color: var(--p-green-200);
  --p-message-success-color: var(--p-green-500);
  --p-message-success-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-green-500), transparent 96%);
  --p-message-success-simple-color: var(--p-green-500);
  --p-message-success-outlined-color: var(--p-green-600);
  --p-message-success-outlined-border-color: var(--p-green-600);
  --p-message-success-close-button-hover-background: var(--p-green-100);
  --p-message-success-close-button-focus-ring-color: var(--p-green-600);
  --p-message-success-close-button-focus-ring-shadow: none;
  --p-message-info-background: color-mix(
    in srgb,
    var(--p-blue-50),
    transparent 5%
  );
  --p-message-info-border-color: var(--p-blue-200);
  --p-message-info-color: var(--p-blue-600);
  --p-message-info-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-blue-500), transparent 96%);
  --p-message-info-simple-color: var(--p-blue-600);
  --p-message-info-outlined-color: var(--p-blue-600);
  --p-message-info-outlined-border-color: var(--p-blue-600);
  --p-message-info-close-button-hover-background: var(--p-blue-100);
  --p-message-info-close-button-focus-ring-color: var(--p-blue-600);
  --p-message-info-close-button-focus-ring-shadow: none;
  &.p-dark,
  .p-dark {
    --p-message-neutral-background: var(--p-surface-900);
    --p-message-neutral-border-color: var(--p-surface-950);
    --p-message-neutral-color: var(--p-surface-50);
    --p-message-neutral-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-surface-950), transparent 96%);
    --p-message-neutral-simple-color: var(--p-gray-400);
    --p-message-neutral-outlined-color: var(--p-surface-950);
    --p-message-neutral-outlined-border-color: var(--p-surface-950);
    --p-message-neutral-close-button-hover-background: var(--p-surface-800);
    --p-message-neutral-close-button-focus-ring-color: var(--p-surface-50);
    --p-message-neutral-close-button-focus-ring-shadow: none;

    --p-message-contrast-background: var(--p-surface-0);
    --p-message-contrast-border-color: var(--p-surface-100);
    --p-message-contrast-color: var(--p-surface-950);
    --p-message-contrast-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-surface-950), transparent 96%);
    --p-message-contrast-simple-color: var(--p-surface-0);
    --p-message-contrast-outlined-color: var(--p-surface-0);
    --p-message-contrast-outlined-border-color: var(--p-surface-0);
    --p-message-contrast-close-button-hover-background: var(--p-surface-100);
    --p-message-contrast-close-button-focus-ring-color: var(--p-surface-950);
    --p-message-contrast-close-button-focus-ring-shadow: none;
    --p-message-secondary-background: var(--p-surface-800);
    --p-message-secondary-border-color: var(--p-surface-700);
    --p-message-secondary-color: var(--p-surface-300);
    --p-message-secondary-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-surface-500), transparent 96%);
    --p-message-secondary-simple-color: var(--p-surface-400);
    --p-message-secondary-outlined-color: var(--p-surface-400);
    --p-message-secondary-outlined-border-color: var(--p-surface-400);
    --p-message-secondary-close-button-hover-background: var(--p-surface-700);
    --p-message-secondary-close-button-focus-ring-color: var(--p-surface-300);
    --p-message-secondary-close-button-focus-ring-shadow: none;
    --p-message-error-background: color-mix(
      in srgb,
      var(--p-red-500),
      transparent 84%
    );
    --p-message-error-border-color: color-mix(
      in srgb,
      var(--p-red-700),
      transparent 64%
    );
    --p-message-error-color: var(--p-red-500);
    --p-message-error-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-red-500), transparent 96%);
    --p-message-error-simple-color: var(--p-red-500);
    --p-message-error-outlined-color: var(--p-red-500);
    --p-message-error-outlined-border-color: var(--p-red-500);
    --p-message-error-close-button-hover-background: rgba(255, 255, 255, 0.05);
    --p-message-error-close-button-focus-ring-color: var(--p-red-500);
    --p-message-error-close-button-focus-ring-shadow: none;
    --p-message-warn-background: color-mix(
      in srgb,
      var(--p-yellow-500),
      transparent 84%
    );
    --p-message-warn-border-color: color-mix(
      in srgb,
      var(--p-yellow-700),
      transparent 64%
    );
    --p-message-warn-color: var(--p-yellow-500);
    --p-message-warn-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-yellow-500), transparent 96%);
    --p-message-warn-simple-color: var(--p-yellow-500);
    --p-message-warn-outlined-color: var(--p-yellow-500);
    --p-message-warn-outlined-border-color: var(--p-yellow-500);
    --p-message-warn-close-button-hover-background: rgba(255, 255, 255, 0.05);
    --p-message-warn-close-button-focus-ring-color: var(--p-yellow-500);
    --p-message-warn-close-button-focus-ring-shadow: none;
    --p-message-success-background: color-mix(
      in srgb,
      var(--p-green-500),
      transparent 84%
    );
    --p-message-success-border-color: color-mix(
      in srgb,
      var(--p-green-700),
      transparent 64%
    );
    --p-message-success-color: var(--p-green-500);
    --p-message-success-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-green-500), transparent 96%);
    --p-message-success-simple-color: var(--p-green-400);
    --p-message-success-outlined-color: var(--p-green-500);
    --p-message-success-outlined-border-color: var(--p-green-500);
    --p-message-success-close-button-hover-background: rgba(
      255,
      255,
      255,
      0.05
    );
    --p-message-success-close-button-focus-ring-color: var(--p-green-500);
    --p-message-success-close-button-focus-ring-shadow: none;
    --p-message-info-background: color-mix(
      in srgb,
      var(--p-blue-500),
      transparent 84%
    );
    --p-message-info-border-color: color-mix(
      in srgb,
      var(--p-blue-700),
      transparent 64%
    );
    --p-message-info-color: var(--p-blue-500);
    --p-message-info-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-blue-500), transparent 96%);
    --p-message-info-simple-color: var(--p-blue-500);
    --p-message-info-outlined-color: var(--p-blue-500);
    --p-message-info-outlined-border-color: var(--p-blue-500);
    --p-message-info-close-button-hover-background: rgba(255, 255, 255, 0.05);
    --p-message-info-close-button-focus-ring-color: var(--p-blue-500);
    --p-message-info-close-button-focus-ring-shadow: none;
  }
  @include breakpoint {
    --p-message-simple-content-padding: 0;
    --p-message-outlined-border-width: 1px;
    --p-message-close-icon-size: 1rem;
    --p-message-close-icon-lg-size: 1.125rem;
    --p-message-close-icon-sm-size: 0.875rem;
    --p-message-close-button-width: 1.75rem;
    --p-message-close-button-height: 1.75rem;
    --p-message-close-button-border-radius: 50%;
    --p-message-close-button-focus-ring-width: var(--p-focus-ring-width);
    --p-message-close-button-focus-ring-style: var(--p-focus-ring-style);
    --p-message-close-button-focus-ring-offset: var(--p-focus-ring-offset);
    --p-message-icon-size: 1.125rem;
    --p-message-icon-lg-size: 1.25rem;
    --p-message-icon-sm-size: 1rem;
    --p-message-text-font-size: 12px;
    --p-message-text-font-weight: 400;
    --p-message-text-lg-font-size: 16px;
    --p-message-text-sm-font-size: 12px;
    --p-message-content-padding: 0.5rem 0.75rem;
    --p-message-content-gap: 0.5rem;
    --p-message-content-lg-padding: 0.625rem 0.875rem;
    --p-message-content-sm-padding: 0.375rem 0.625rem;
    --p-message-border-radius: var(--p-content-border-radius);
    --p-message-border-width: 1px;
    --p-message-transition-duration: var(--p-transition-duration);
  }
}

.p-message {
  display: grid;
  grid-template-rows: 1fr;
  border-radius: var(--p-message-border-radius);
  outline-width: var(--p-message-border-width);
  outline-style: solid;
  margin-top: 4px;
}

.p-message-content-wrapper {
  min-height: 0;
}

.p-message-content {
  display: flex;
  align-items: center;
  padding: var(--p-message-content-padding);
  gap: var(--p-message-content-gap);
}

.p-message-icon {
  flex-shrink: 0;
}

.p-message-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-inline-start: auto;
  overflow: hidden;
  position: relative;
  width: var(--p-message-close-button-width);
  height: var(--p-message-close-button-height);
  border-radius: var(--p-message-close-button-border-radius);
  background: transparent;
  transition:
    background var(--p-message-transition-duration),
    color var(--p-message-transition-duration),
    outline-color var(--p-message-transition-duration),
    box-shadow var(--p-message-transition-duration),
    opacity 0.3s;
  outline-color: transparent;
  color: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  user-select: none;
}

.p-message-close-icon {
  font-size: var(--p-message-close-icon-size);
  width: var(--p-message-close-icon-size);
  height: var(--p-message-close-icon-size);
}

.p-message-close-button:focus-visible {
  outline-width: var(--p-message-close-button-focus-ring-width);
  outline-style: var(--p-message-close-button-focus-ring-style);
  outline-offset: var(--p-message-close-button-focus-ring-offset);
}

.p-message-info {
  background: var(--p-message-info-background);
  outline-color: var(--p-message-info-border-color);
  color: var(--p-message-info-color);
  box-shadow: var(--p-message-info-shadow);
}

.p-message-info .p-message-close-button:focus-visible {
  outline-color: var(--p-message-info-close-button-focus-ring-color);
  box-shadow: var(--p-message-info-close-button-focus-ring-shadow);
}

.p-message-info .p-message-close-button:hover {
  background: var(--p-message-info-close-button-hover-background);
}

.p-message-info.p-message-outlined {
  color: var(--p-message-info-outlined-color);
  outline-color: var(--p-message-info-outlined-border-color);
}

.p-message-info.p-message-simple {
  color: var(--p-message-info-simple-color);
}

.p-message-success {
  background: var(--p-message-success-background);
  outline-color: var(--p-message-success-border-color);
  color: var(--p-message-success-color);
  box-shadow: var(--p-message-success-shadow);
}

.p-message-success .p-message-close-button:focus-visible {
  outline-color: var(--p-message-success-close-button-focus-ring-color);
  box-shadow: var(--p-message-success-close-button-focus-ring-shadow);
}

.p-message-success .p-message-close-button:hover {
  background: var(--p-message-success-close-button-hover-background);
}

.p-message-success.p-message-outlined {
  color: var(--p-message-success-outlined-color);
  outline-color: var(--p-message-success-outlined-border-color);
}

.p-message-success.p-message-simple {
  color: var(--p-message-success-simple-color);
}

.p-message-warn {
  background: var(--p-message-warn-background);
  outline-color: var(--p-message-warn-border-color);
  color: var(--p-message-warn-color);
  box-shadow: var(--p-message-warn-shadow);
}

.p-message-warn .p-message-close-button:focus-visible {
  outline-color: var(--p-message-warn-close-button-focus-ring-color);
  box-shadow: var(--p-message-warn-close-button-focus-ring-shadow);
}

.p-message-warn .p-message-close-button:hover {
  background: var(--p-message-warn-close-button-hover-background);
}

.p-message-warn.p-message-outlined {
  color: var(--p-message-warn-outlined-color);
  outline-color: var(--p-message-warn-outlined-border-color);
}

.p-message-warn.p-message-simple {
  color: var(--p-message-warn-simple-color);
}

.p-message-error {
  background: var(--p-message-error-background);
  outline-color: var(--p-message-error-border-color);
  color: var(--p-message-error-color);
  box-shadow: var(--p-message-error-shadow);
}

.p-message-error .p-message-close-button:focus-visible {
  outline-color: var(--p-message-error-close-button-focus-ring-color);
  box-shadow: var(--p-message-error-close-button-focus-ring-shadow);
}

.p-message-error .p-message-close-button:hover {
  background: var(--p-message-error-close-button-hover-background);
}

.p-message-error.p-message-outlined {
  color: var(--p-message-error-outlined-color);
  outline-color: var(--p-message-error-outlined-border-color);
}

.p-message-error.p-message-simple {
  color: var(--p-message-error-simple-color);
}

.p-message-secondary {
  background: var(--p-message-secondary-background);
  outline-color: var(--p-message-secondary-border-color);
  color: var(--p-message-secondary-color);
  box-shadow: var(--p-message-secondary-shadow);
}

.p-message-secondary .p-message-close-button:focus-visible {
  outline-color: var(--p-message-secondary-close-button-focus-ring-color);
  box-shadow: var(--p-message-secondary-close-button-focus-ring-shadow);
}

.p-message-secondary .p-message-close-button:hover {
  background: var(--p-message-secondary-close-button-hover-background);
}

.p-message-secondary.p-message-outlined {
  color: var(--p-message-secondary-outlined-color);
  outline-color: var(--p-message-secondary-outlined-border-color);
}

.p-message-secondary.p-message-simple {
  color: var(--p-message-secondary-simple-color);
}

.p-message-contrast {
  background: var(--p-message-contrast-background);
  outline-color: var(--p-message-contrast-border-color);
  color: var(--p-message-contrast-color);
  box-shadow: var(--p-message-contrast-shadow);
}

.p-message-contrast .p-message-close-button:focus-visible {
  outline-color: var(--p-message-contrast-close-button-focus-ring-color);
  box-shadow: var(--p-message-contrast-close-button-focus-ring-shadow);
}

.p-message-contrast .p-message-close-button:hover {
  background: var(--p-message-contrast-close-button-hover-background);
}

.p-message-contrast.p-message-outlined {
  color: var(--p-message-contrast-outlined-color);
  outline-color: var(--p-message-contrast-outlined-border-color);
}

.p-message-contrast.p-message-simple {
  color: var(--p-message-contrast-simple-color);
}

.p-message-neutral {
  background: var(--p-message-neutral-background);
  outline-color: var(--p-message-neutral-border-color);
  color: var(--p-message-neutral-color);
  box-shadow: var(--p-message-neutral-shadow);
}

.p-message-neutral .p-message-close-button:focus-visible {
  outline-color: var(--p-message-neutral-close-button-focus-ring-color);
  box-shadow: var(--p-message-neutral-close-button-focus-ring-shadow);
}

.p-message-neutral .p-message-close-button:hover {
  background: var(--p-message-neutral-close-button-hover-background);
}

.p-message-neutral.p-message-outlined {
  color: var(--p-message-neutral-outlined-color);
  outline-color: var(--p-message-neutral-outlined-border-color);
}

.p-message-neutral.p-message-simple {
  color: var(--p-message-neutral-simple-color);
}

.p-message-text {
  font-size: var(--p-message-text-font-size);
  font-weight: var(--p-message-text-font-weight);
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.3px;
  a {
    color: inherit;
  }
}

.p-message-icon {
  font-size: var(--p-message-icon-size);
  width: var(--p-message-icon-size);
  height: var(--p-message-icon-size);
}

.p-message-sm .p-message-content {
  padding: var(--p-message-content-sm-padding);
}

.p-message-sm .p-message-text {
  font-size: var(--p-message-text-sm-font-size);
}

.p-message-sm .p-message-icon {
  font-size: var(--p-message-icon-sm-size);
  width: var(--p-message-icon-sm-size);
  height: var(--p-message-icon-sm-size);
}

.p-message-sm .p-message-close-icon {
  font-size: var(--p-message-close-icon-sm-size);
  width: var(--p-message-close-icon-sm-size);
  height: var(--p-message-close-icon-sm-size);
}

.p-message-lg .p-message-content {
  padding: var(--p-message-content-lg-padding);
}

.p-message-lg .p-message-text {
  font-size: var(--p-message-text-lg-font-size);
}

.p-message-lg .p-message-icon {
  font-size: var(--p-message-icon-lg-size);
  width: var(--p-message-icon-lg-size);
  height: var(--p-message-icon-lg-size);
}

.p-message-lg .p-message-close-icon {
  font-size: var(--p-message-close-icon-lg-size);
  width: var(--p-message-close-icon-lg-size);
  height: var(--p-message-close-icon-lg-size);
}

.p-message-outlined {
  background: transparent;
  outline-width: var(--p-message-outlined-border-width);
}

.p-message-simple {
  background: transparent;
  outline-color: transparent;
  box-shadow: none;
}

.p-message-simple .p-message-content {
  padding: var(--p-message-simple-content-padding);
}

.p-message-outlined .p-message-close-button:hover,
.p-message-simple .p-message-close-button:hover {
  background: transparent;
}

.p-message-enter-active {
  animation: p-animate-message-enter 0.3s ease-out forwards;
  overflow: hidden;
}

.p-message-leave-active {
  animation: p-animate-message-leave 0.15s ease-in forwards;
  overflow: hidden;
}
