@use '../mixins' as *;

:root,
:host {
  --p-password-content-gap: 0.5rem;
  --p-password-overlay-background: var(--p-overlay-popover-background);
  --p-password-overlay-border-color: var(--p-overlay-popover-border-color);
  --p-password-overlay-border-radius: var(--p-overlay-popover-border-radius);
  --p-password-overlay-color: var(--p-overlay-popover-color);
  --p-password-overlay-padding: var(--p-overlay-popover-padding);
  --p-password-overlay-shadow: var(--p-overlay-popover-shadow);
  --p-password-icon-color: var(--p-form-field-icon-color);
  --p-password-meter-background: var(--p-content-border-color);
  --p-password-meter-border-radius: var(--p-content-border-radius);
  --p-password-meter-height: 0.75rem;
  --p-password-strength-weak-background: var(--p-red-500);
  --p-password-strength-medium-background: var(--p-amber-500);
  --p-password-strength-strong-background: var(--p-green-500);
  &.p-dark {
    --p-password-strength-weak-background: var(--p-red-400);
    --p-password-strength-medium-background: var(--p-amber-400);
    --p-password-strength-strong-background: var(--p-green-400);
  }
}

.p-password {
  .p-inputtext {
    width: 100%;
  }
  &-toggle {
    &-mask-icon {
      display: block;
      margin-top: calc(-1 * calc(24px / 2));
      width: 24px;
      height: 24px;
      inset-inline-end: 20px;
      cursor: pointer;
      path {
        display: none;
      }

      &.p-password-mask-icon {
        background: url(./../../icons/24/eye-closed.svg) no-repeat 50% 50%;
        background-size: cover;
      }
      &.p-password-unmask-icon {
        background: url(./../../icons/24/eye-open.svg) no-repeat 50% 50%;
        background-size: cover;
      }
    }
  }
  @media screen and (max-width: $BreakpointMd) {
    height: 40px;
    font-size: 14px;
    letter-spacing: -0.35px;
    &-toggle {
      &-mask-icon {
        display: block;
        margin-top: calc(-1 * calc(20px / 2));
        width: 20px;
        height: 20px;
        inset-inline-end: 16px;
      }
    }
  }
}
