@use '../mixins' as *;

:root,
:host {
  --p-popover-content-padding: 12px 16px;
  --p-popover-background: var(--p-gray-00);
  --p-popover-border-color: var(--p-gray-300);
  --p-popover-color: var(--p-gray-900);
  --p-popover-border-radius: 16px;
  --p-popover-shadow: 0 4px 10px 0 rgba(0, 177, 189, 0.1);
  --p-popover-gutter: 10px;
  --p-popover-arrow-offset: 17px;
  &.p-dark,
  .p-dark {
    --p-popover-background: var(--p-gray-600);
    --p-popover-border-color: var(--p-gray-500);
    --p-popover-color: var(--p-gray-00);
    --p-popover-shadow: 0 4px 10px 0 rgba(0, 177, 189, 0.1);
  }
}

.p-popover {
  margin-block-start: var(--p-popover-gutter);
  //margin-left: 22px;
  background: var(--p-popover-background);
  color: var(--p-popover-color);
  border: 1px solid var(--p-popover-border-color);
  border-radius: var(--p-popover-border-radius);
  box-shadow: var(--p-popover-shadow);
  will-change: transform;
}

.p-popover-content {
  padding: var(--p-popover-content-padding);

  color: var(--p-popover-color);

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.3px;
}

.p-popover-flipped {
  margin-block-start: calc(var(--p-popover-gutter) * -1);
  margin-block-end: var(--p-popover-gutter);
}

.p-popover:after,
.p-popover:before {
  bottom: 100%;
  left: calc(var(--p-popover-arrow-offset) + var(--p-popover-arrow-left));
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.p-popover:after {
  border-width: calc(var(--p-popover-gutter) - 2px);
  margin-left: calc(-1 * (var(--p-popover-gutter) - 2px));
  border-style: solid;
  border-color: transparent;
  border-bottom-color: var(--p-popover-background);
}

.p-popover:before {
  border-width: var(--p-popover-gutter);
  margin-left: calc(-1 * var(--p-popover-gutter));
  border-style: solid;
  border-color: transparent;
  border-bottom-color: var(--p-popover-border-color);
}

.p-popover-flipped:after,
.p-popover-flipped:before {
  bottom: auto;
  top: 100%;
}

.p-popover.p-popover-flipped:after {
  border-bottom-color: transparent;
  border-top-color: var(--p-popover-background);
}

.p-popover.p-popover-flipped:before {
  border-bottom-color: transparent;
  border-top-color: var(--p-popover-border-color);
}
