.p-radiobutton {
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  &-box {
    border: 2px solid #eaecf1;
    width: 18px;
    height: 18px;
    box-shadow: none;
  }
}
.p-radiobutton:not(.p-disabled):has(.p-radiobutton-input:hover)
  .p-radiobutton-box {
  border-color: #00b1bd;
  background: none !important;
}
.p-radiobutton-checked .p-radiobutton-box {
  background: none;
}
.p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  width: 9px;
  height: 9px;
  background-color: #00b1bd;
  border-radius: 9px;
}
.p-radiobutton ~ label {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--Gray-900_1B1F27, var(--Gray-900_1B1F27, #1b1f27));
  text-align: center;

  /* PC/Pretendard JP/Body/Large */
  font-family: var(--Font-Family-Pretendard-JP, 'Pretendard JP');
  font-size: var(--Font-Body-Large, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.4px;
  white-space: noWrap;
}

.sb {
  &-radio {
    display: flex;
    gap: 40px;
    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
