@use '../mixins' as *;

:root,
:host {
  --p-rating-icon-size: 1rem;
  --p-rating-icon-color: var(--p-text-muted-color);
  --p-rating-icon-hover-color: var(--p-primary-color);
  --p-rating-icon-active-color: var(--p-primary-color);
  --p-rating-gap: 20px;
  --p-rating-transition-duration: var(--p-transition-duration);
  --p-rating-focus-ring-width: var(--p-focus-ring-width);
  --p-rating-focus-ring-style: var(--p-focus-ring-style);
  --p-rating-focus-ring-color: var(--p-focus-ring-color);
  --p-rating-focus-ring-offset: var(--p-focus-ring-offset);
  --p-rating-focus-ring-shadow: var(--p-focus-ring-shadow);
  @include breakpoint {
    --p-rating-gap: 18px;
  }
}

.p-rating {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--p-rating-gap);
}
.p-rating-option {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline-color: transparent;
  border-radius: 50%;
  transition:
    background var(--p-rating-transition-duration),
    color var(--p-rating-transition-duration),
    border-color var(--p-rating-transition-duration),
    outline-color var(--p-rating-transition-duration),
    box-shadow var(--p-rating-transition-duration);
  svg {
    display: none;
  }
  width: 32px;
  height: 32px;
  background: var(--rating-star-background);
  background-size: cover;
  @include breakpoint {
    width: 24px;
    height: 24px;
  }
}
.p-rating-option.p-focus-visible {
  box-shadow: var(--p-rating-focus-ring-shadow);
  outline: var(--p-rating-focus-ring-width) var(--p-rating-focus-ring-style)
    var(--p-rating-focus-ring-color);
  outline-offset: var(--p-rating-focus-ring-offset);
}
.p-rating-icon {
  color: var(--p-rating-icon-color);
  transition:
    background var(--p-rating-transition-duration),
    color var(--p-rating-transition-duration),
    border-color var(--p-rating-transition-duration),
    outline-color var(--p-rating-transition-duration),
    box-shadow var(--p-rating-transition-duration);
  font-size: var(--p-rating-icon-size);
  width: var(--p-rating-icon-size);
  height: var(--p-rating-icon-size);
}
.p-rating:not(.p-disabled):not(.p-readonly)
  .p-rating-option:hover
  .p-rating-icon {
  color: var(--p-rating-icon-hover-color);
}
.p-rating-option-active {
  background: var(--rating-star-active-background);
  background-size: cover;
}
.p-rating-option-active .p-rating-icon {
  color: var(--p-rating-icon-active-color);
}
.p-rating-icon.p-invalid {
  stroke: var(--p-rating-invalid-icon-color);
}
.p-rating.p-readonly .p-rating-option {
  cursor: not-allowed;
}
