@use '../mixins' as *;

:root,
:host {
  --p-select-empty-message-padding: var(--p-list-option-padding);
  --p-select-checkmark-color: var(--p-list-option-color);
  --p-select-checkmark-gutter-start: -0.375rem;
  --p-select-checkmark-gutter-end: 0.375rem;
  --p-select-clear-icon-color: var(--p-form-field-icon-color);
  --p-select-option-group-background: var(--p-list-option-group-background);
  --p-select-option-group-color: var(--p-list-option-group-color);
  --p-select-option-group-font-weight: var(--p-list-option-group-font-weight);
  --p-select-option-group-padding: var(--p-list-option-group-padding);
  --p-select-option-focus-background: transparent;
  --p-select-option-selected-background: transparent;
  --p-select-option-selected-focus-background: transparent;
  --p-select-option-color: var(--p-gray-500);
  --p-select-option-focus-color: var(--p-primary-500);
  --p-select-option-selected-color: var(--p-primary-500);
  --p-select-option-selected-focus-color: var(
    --p-list-option-selected-focus-color
  );
  --p-select-option-padding: 6px 16px;
  --p-select-option-border-radius: var(--p-list-option-border-radius);
  --p-select-list-padding: 0;
  --p-select-list-gap: var(--p-list-gap);
  --p-select-list-header-padding: var(--p-list-header-padding);
  --p-select-overlay-background: var(--p-overlay-select-background);
  --p-select-overlay-border-color: var(--p-gray-300);
  --p-select-overlay-border-radius: 0 0 24px 24px;
  --p-select-overlay-color: var(--p-gray-300);
  --p-select-overlay-shadow: none;
  --p-select-dropdown-width: 2.5rem;
  --p-select-dropdown-color: var(--p-form-field-icon-color);
  --p-select-background: var(--p-form-field-background);
  --p-select-disabled-background: var(--p-form-field-disabled-background);
  --p-select-filled-background: var(--p-form-field-filled-background);
  --p-select-filled-hover-background: var(
    --p-form-field-filled-hover-background
  );
  --p-select-filled-focus-background: var(
    --p-form-field-filled-focus-background
  );
  --p-select-border-color: var(--p-gray-300);
  --p-select-hover-border-color: var(--p-form-field-hover-border-color);
  --p-select-focus-border-color: var(--p-form-field-focus-border-color);
  --p-select-invalid-border-color: var(--p-form-field-invalid-border-color);
  --p-select-color: var(--p-gray-900);
  --p-select-disabled-color: var(--p-form-field-disabled-color);
  --p-select-placeholder-color: var(--p-gray-500);
  --p-select-invalid-placeholder-color: var(
    --p-form-field-invalid-placeholder-color
  );
  --p-select-shadow: none;
  --p-select-padding-x: 16px;
  --p-select-padding-y: 0;
  --p-select-border-radius: 48px;
  --p-select-transition-duration: var(--p-form-field-transition-duration);
  --p-select-lg-font-size: var(--p-form-field-lg-font-size);
  --p-select-lg-padding-x: var(--p-form-field-lg-padding-x);
  --p-select-lg-padding-y: var(--p-form-field-lg-padding-y);
  --p-select-sm-font-size: var(--p-form-field-sm-font-size);
  --p-select-sm-padding-x: var(--p-form-field-sm-padding-x);
  --p-select-sm-padding-y: var(--p-form-field-sm-padding-y);
  --p-select-focus-ring-width: var(--p-form-field-focus-ring-width);
  --p-select-focus-ring-style: var(--p-form-field-focus-ring-style);
  --p-select-focus-ring-color: var(--p-form-field-focus-ring-color);
  --p-select-focus-ring-offset: var(--p-form-field-focus-ring-offset);
  --p-select-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);
}

.p-select {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  height: 48px;
  user-select: none;
  background: var(--p-select-background);
  border: 1px solid var(--p-select-border-color);
  transition:
    background var(--p-select-transition-duration),
    color var(--p-select-transition-duration),
    border-color var(--p-select-transition-duration),
    outline-color var(--p-select-transition-duration),
    box-shadow var(--p-select-transition-duration);
  border-radius: var(--p-select-border-radius);
  outline-color: transparent;
  box-shadow: var(--p-select-shadow);
  &-open {
    border-radius: 24px 24px 0 0;
    .p-select-dropdown {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &-label {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: var(--Font-Body-Large, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 22.4px */
    letter-spacing: -0.4px;
  }
  &-dropdown {
    margin-right: 8px;
    svg {
      display: none;
    }
    &:after {
      content: '';
      display: block;
      min-width: 24px;
      width: 24px;
      height: 24px;
      background: url(../../icons/24/select.svg);
      transition: all 0.2s ease;
    }
  }
  &-overlay {
    overflow: hidden;
    border-top: none;
  }
  &-list-container {
    @include custom-scrollbar();
  }
  &-option {
    height: 36px;
    &-label {
      font-size: var(--Font-Body-Large, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: -0.4px;
    }
  }
  &-text {
    background: transparent;
    border-color: transparent;
  }
}
