@use '../mixins' as *;

:root,
:host {
  --p-slider-handle-width: 24px;
  --p-slider-handle-height: 24px;
  --p-slider-handle-border-radius: 50%;
  --p-slider-handle-background: url(./../../icons/etc/slider-handle.svg)
    no-repeat 50% 50%;
  --p-slider-handle-hover-background: var(--p-content-border-color);
  --p-slider-handle-focus-ring-width: var(--p-focus-ring-width);
  --p-slider-handle-focus-ring-style: var(--p-focus-ring-style);
  --p-slider-handle-focus-ring-color: var(--p-focus-ring-color);
  --p-slider-handle-focus-ring-offset: var(--p-focus-ring-offset);
  --p-slider-handle-focus-ring-shadow: none;
  --p-slider-handle-content-border-radius: 50%;
  --p-slider-handle-content-hover-background: var(--p-content-background);
  --p-slider-handle-content-width: 16px;
  --p-slider-handle-content-height: 16px;
  --p-slider-handle-content-shadow:
    0px 0.5px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  --p-slider-range-background: var(--p-primary-color);
  --p-slider-track-background: var(--p-content-border-color);
  --p-slider-track-border-radius: var(--p-content-border-radius);
  --p-slider-track-size: 3px;
  --p-slider-transition-duration: var(--p-transition-duration);
  --p-slider-handle-content-background: var(--p-surface-0);
}

@layer primevue {
  @media (prefers-color-scheme: dark) {
    :root,
    :host {
      --p-slider-handle-content-background: var(--p-surface-950);
    }
  }
}

.p-slider {
  display: block;
  position: relative;
  background: var(--p-slider-track-background);
  border-radius: var(--p-slider-track-border-radius);
}
.p-slider-handle {
  cursor: grab;
  touch-action: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--p-slider-handle-height);
  width: var(--p-slider-handle-width);
  background: var(--p-slider-handle-background);
  border-radius: var(--p-slider-handle-border-radius);
  transition:
    background var(--p-slider-transition-duration),
    color var(--p-slider-transition-duration),
    border-color var(--p-slider-transition-duration),
    box-shadow var(--p-slider-transition-duration),
    outline-color var(--p-slider-transition-duration);
  outline-color: transparent;
}
.p-slider-handle::before {
  display: none;
}
.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: var(--p-slider-handle-background);
}
.p-slider:not(.p-disabled) .p-slider-handle:hover::before {
  background: var(--p-slider-handle-background);
}
.p-slider-handle:focus-visible {
  box-shadow: var(--p-slider-handle-focus-ring-shadow);
  outline: var(--p-slider-handle-focus-ring-width)
    var(--p-slider-handle-focus-ring-style)
    var(--p-slider-handle-focus-ring-color);
  outline-offset: var(--p-slider-handle-focus-ring-offset);
  outline: none;
}
.p-slider-range {
  display: block;
  background: var(--p-slider-range-background);
  border-radius: var(--p-slider-track-border-radius);
}
.p-slider.p-slider-horizontal {
  height: var(--p-slider-track-size);
}
.p-slider-horizontal .p-slider-range {
  inset-block-start: 0;
  inset-inline-start: 0;
  height: 100%;
}
.p-slider-horizontal .p-slider-handle {
  inset-block-start: 50%;
  margin-block-start: calc(-1 * calc(var(--p-slider-handle-height) / 2));
  margin-inline-start: calc(-1 * calc(var(--p-slider-handle-width) / 2));
}
.p-slider-vertical {
  min-height: 100px;
  width: var(--p-slider-track-size);
}
.p-slider-vertical .p-slider-handle {
  inset-inline-start: 50%;
  margin-inline-start: calc(-1 * calc(var(--p-slider-handle-width) / 2));
  margin-block-end: calc(-1 * calc(var(--p-slider-handle-height) / 2));
}
.p-slider-vertical .p-slider-range {
  inset-block-end: 0;
  inset-inline-start: 0;
  width: 100%;
}
