@use '../mixins' as *;

:root,
:host {
  --p-textarea-background: transparent;
  --p-textarea-disabled-background: var(--p-form-field-disabled-background);
  --p-textarea-filled-background: var(--p-form-field-filled-background);
  --p-textarea-filled-hover-background: var(
    --p-form-field-filled-hover-background
  );
  --p-textarea-filled-focus-background: var(
    --p-form-field-filled-focus-background
  );
  --p-textarea-border-color: var(--p-form-field-border-color);
  --p-textarea-hover-border-color: var(--p-form-field-hover-border-color);
  --p-textarea-focus-border-color: var(--p-form-field-focus-border-color);
  --p-textarea-invalid-border-color: var(--p-form-field-invalid-border-color);
  --p-textarea-color: var(--p-gray-500);
  --p-textarea-disabled-color: var(--p-form-field-disabled-color);
  --p-textarea-placeholder-color: var(--p-gray-500);
  --p-textarea-invalid-placeholder-color: var(
    --p-form-field-invalid-placeholder-color
  );
  --p-textarea-shadow: none;
  --p-textarea-padding-x: 0;
  --p-textarea-padding-y: 0;
  --p-textarea-border-radius: var(--p-form-field-border-radius);
  --p-textarea-transition-duration: var(--p-form-field-transition-duration);
  --p-textarea-lg-font-size: var(--p-form-field-lg-font-size);
  --p-textarea-lg-padding-x: var(--p-form-field-lg-padding-x);
  --p-textarea-lg-padding-y: var(--p-form-field-lg-padding-y);
  --p-textarea-sm-font-size: var(--p-form-field-sm-font-size);
  --p-textarea-sm-padding-x: var(--p-form-field-sm-padding-x);
  --p-textarea-sm-padding-y: var(--p-form-field-sm-padding-y);
  --p-textarea-focus-ring-width: var(--p-form-field-focus-ring-width);
  --p-textarea-focus-ring-style: var(--p-form-field-focus-ring-style);
  --p-textarea-focus-ring-color: var(--p-form-field-focus-ring-color);
  --p-textarea-focus-ring-offset: var(--p-form-field-focus-ring-offset);
  --p-textarea-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);
}

.p-textarea {
  font-size: 16px;
  border: none;
  border-radius: 0;
  outline-color: transparent;
  box-shadow: var(--p-textarea-shadow);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.4px;

  @media screen and (max-width: $BreakpointMd) {
    font-size: 15px;
    line-height: 150%; /* 22.5px */
    letter-spacing: -0.5px;
  }
}
