.p-tieredmenu {
  background: var(--p-tieredmenu-background);
  color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
  border: 1px solid var(--Gray-300_D1D6DD, #d1d6dd);
  border-radius: 16px;
  min-width: 84px;
  &-overlay {
    box-shadow: 0 4px 10px 0 rgba(0, 177, 189, 0.15);
  }
  &-root-list {
    padding: 10px;
    gap: 5px;
  }
  &-item {
    &:not(.p-disabled) > .p-tieredmenu-item-content:hover {
      color: var(--p-tieredmenu-item-focus-color);
      background: none;
    }
    &-link {
      padding: 5px;
      gap: 8px;
    }
    &-label {
      color: var(--Gray-500_6A7381, var(--Gray-500_6A7381, #6a7381));
      font-size: var(--Font-Body-Medium, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
      letter-spacing: -0.35px;
    }
  }
}
