:root,
:host {
  --p-tieredmenu-separator-border-color: var(--p-content-border-color);
  --p-tieredmenu-submenu-icon-size: var(--p-navigation-submenu-icon-size);
  --p-tieredmenu-submenu-icon-color: var(--p-navigation-submenu-icon-color);
  --p-tieredmenu-submenu-icon-focus-color: var(
    --p-navigation-submenu-icon-focus-color
  );
  --p-tieredmenu-submenu-icon-active-color: var(
    --p-navigation-submenu-icon-active-color
  );
  --p-tieredmenu-submenu-mobile-indent: 1rem;
  --p-tieredmenu-item-focus-background: transparent;
  --p-tieredmenu-item-active-background: var(
    --p-navigation-item-active-background
  );
  --p-tieredmenu-item-color: var(--p-navigation-item-color);
  --p-tieredmenu-item-focus-color: var(--p-navigation-item-focus-color);
  --p-tieredmenu-item-active-color: var(--p-navigation-item-active-color);
  --p-tieredmenu-item-padding: var(--p-navigation-item-padding);
  --p-tieredmenu-item-border-radius: var(--p-navigation-item-border-radius);
  --p-tieredmenu-item-gap: var(--p-navigation-item-gap);
  --p-tieredmenu-item-icon-color: var(--p-navigation-item-icon-color);
  --p-tieredmenu-item-icon-focus-color: var(
    --p-navigation-item-icon-focus-color
  );
  --p-tieredmenu-item-icon-active-color: var(
    --p-navigation-item-icon-active-color
  );
  --p-tieredmenu-list-padding: var(--p-navigation-list-padding);
  --p-tieredmenu-list-gap: var(--p-navigation-list-gap);
  --p-tieredmenu-background: var(--p-content-background);
  --p-tieredmenu-border-color: var(--p-content-border-color);
  --p-tieredmenu-color: var(--p-content-color);
  --p-tieredmenu-border-radius: var(--p-content-border-radius);
  --p-tieredmenu-shadow: var(--p-overlay-navigation-shadow);
  --p-tieredmenu-transition-duration: var(--p-transition-duration);
}
