@use '../mixins' as *;

:root,
:host {
  --p-toast-close-icon-size: 1rem;
  --p-toast-close-button-width: 1.75rem;
  --p-toast-close-button-height: 1.75rem;
  --p-toast-close-button-border-radius: 50%;
  --p-toast-close-button-focus-ring-width: var(--p-focus-ring-width);
  --p-toast-close-button-focus-ring-style: var(--p-focus-ring-style);
  --p-toast-close-button-focus-ring-offset: var(--p-focus-ring-offset);
  --p-toast-detail-font-weight: 400;
  --p-toast-detail-font-size: 16px;
  --p-toast-summary-font-weight: 500;
  --p-toast-summary-font-size: 1rem;
  --p-toast-text-gap: 0;
  --p-toast-content-padding: 16px 24px;
  --p-toast-content-gap: 0;
  --p-toast-icon-size: 1.125rem;
  --p-toast-width: auto;
  --p-toast-border-radius: 18px;
  --p-toast-border-width: 0;
  --p-toast-transition-duration: var(--p-transition-duration);
  --p-toast-contrast-background: var(--p-surface-900);
  --p-toast-contrast-border-color: var(--p-surface-950);
  --p-toast-contrast-color: var(--p-surface-50);
  --p-toast-contrast-detail-color: var(--p-surface-0);
  --p-toast-contrast-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-surface-950), transparent 96%);
  --p-toast-contrast-close-button-hover-background: var(--p-surface-800);
  --p-toast-contrast-close-button-focus-ring-color: var(--p-surface-50);
  --p-toast-contrast-close-button-focus-ring-shadow: none;
  --p-toast-secondary-background: var(--p-surface-100);
  --p-toast-secondary-border-color: var(--p-surface-200);
  --p-toast-secondary-color: var(--p-surface-600);
  --p-toast-secondary-detail-color: var(--p-surface-700);
  --p-toast-secondary-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-surface-500), transparent 96%);
  --p-toast-secondary-close-button-hover-background: var(--p-surface-200);
  --p-toast-secondary-close-button-focus-ring-color: var(--p-surface-600);
  --p-toast-secondary-close-button-focus-ring-shadow: none;
  --p-toast-error-background: color-mix(
    in srgb,
    var(--p-red-50),
    transparent 5%
  );
  --p-toast-error-border-color: var(--p-red-200);
  --p-toast-error-color: var(--p-red-600);
  --p-toast-error-detail-color: var(--p-surface-700);
  --p-toast-error-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-red-500), transparent 96%);
  --p-toast-error-close-button-hover-background: var(--p-red-100);
  --p-toast-error-close-button-focus-ring-color: var(--p-red-600);
  --p-toast-error-close-button-focus-ring-shadow: none;
  --p-toast-warn-background: color-mix(
    in srgb,
    var(--p-yellow-50),
    transparent 5%
  );
  --p-toast-warn-border-color: var(--p-yellow-200);
  --p-toast-warn-color: var(--p-yellow-600);
  --p-toast-warn-detail-color: var(--p-surface-700);
  --p-toast-warn-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-yellow-500), transparent 96%);
  --p-toast-warn-close-button-hover-background: var(--p-yellow-100);
  --p-toast-warn-close-button-focus-ring-color: var(--p-yellow-600);
  --p-toast-warn-close-button-focus-ring-shadow: none;
  --p-toast-success-background: color-mix(
    in srgb,
    var(--p-green-50),
    transparent 5%
  );
  --p-toast-success-border-color: var(--p-green-200);
  --p-toast-success-color: var(--p-green-600);
  --p-toast-success-detail-color: var(--p-surface-700);
  --p-toast-success-shadow: 0px 4px 8px 0px
    color-mix(in srgb, var(--p-green-500), transparent 96%);
  --p-toast-success-close-button-hover-background: var(--p-green-100);
  --p-toast-success-close-button-focus-ring-color: var(--p-green-600);
  --p-toast-success-close-button-focus-ring-shadow: none;
  --p-toast-info-background: var(--p-gray-900);
  --p-toast-info-border-color: var(--p-gray-900);
  --p-toast-info-color: var(--p-gray-00);
  --p-toast-info-detail-color: var(--p-gray-00);
  --p-toast-info-shadow: 0 4px 10px 0 rgba(0, 177, 189, 0.1);
  --p-toast-info-close-button-hover-background: var(--p-blue-100);
  --p-toast-info-close-button-focus-ring-color: var(--p-blue-600);
  --p-toast-info-close-button-focus-ring-shadow: none;
  --p-toast-blur: 1.5px;
  &.p-dark,
  .p-dark {
    --p-toast-contrast-background: var(--p-surface-0);
    --p-toast-contrast-border-color: var(--p-surface-100);
    --p-toast-contrast-color: var(--p-surface-950);
    --p-toast-contrast-detail-color: var(--p-surface-950);
    --p-toast-contrast-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-surface-950), transparent 96%);
    --p-toast-contrast-close-button-hover-background: var(--p-surface-100);
    --p-toast-contrast-close-button-focus-ring-color: var(--p-surface-950);
    --p-toast-contrast-close-button-focus-ring-shadow: none;
    --p-toast-secondary-background: var(--p-surface-800);
    --p-toast-secondary-border-color: var(--p-surface-700);
    --p-toast-secondary-color: var(--p-surface-300);
    --p-toast-secondary-detail-color: var(--p-surface-0);
    --p-toast-secondary-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-surface-500), transparent 96%);
    --p-toast-secondary-close-button-hover-background: var(--p-surface-700);
    --p-toast-secondary-close-button-focus-ring-color: var(--p-surface-300);
    --p-toast-secondary-close-button-focus-ring-shadow: none;
    --p-toast-error-background: color-mix(
      in srgb,
      var(--p-red-500),
      transparent 84%
    );
    --p-toast-error-border-color: color-mix(
      in srgb,
      var(--p-red-700),
      transparent 64%
    );
    --p-toast-error-color: var(--p-red-500);
    --p-toast-error-detail-color: var(--p-surface-0);
    --p-toast-error-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-red-500), transparent 96%);
    --p-toast-error-close-button-hover-background: rgba(255, 255, 255, 0.05);
    --p-toast-error-close-button-focus-ring-color: var(--p-red-500);
    --p-toast-error-close-button-focus-ring-shadow: none;
    --p-toast-warn-background: color-mix(
      in srgb,
      var(--p-yellow-500),
      transparent 84%
    );
    --p-toast-warn-border-color: color-mix(
      in srgb,
      var(--p-yellow-700),
      transparent 64%
    );
    --p-toast-warn-color: var(--p-yellow-500);
    --p-toast-warn-detail-color: var(--p-surface-0);
    --p-toast-warn-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-yellow-500), transparent 96%);
    --p-toast-warn-close-button-hover-background: rgba(255, 255, 255, 0.05);
    --p-toast-warn-close-button-focus-ring-color: var(--p-yellow-500);
    --p-toast-warn-close-button-focus-ring-shadow: none;
    --p-toast-success-background: color-mix(
      in srgb,
      var(--p-green-500),
      transparent 84%
    );
    --p-toast-success-border-color: color-mix(
      in srgb,
      var(--p-green-700),
      transparent 64%
    );
    --p-toast-success-color: var(--p-green-500);
    --p-toast-success-detail-color: var(--p-surface-0);
    --p-toast-success-shadow: 0px 4px 8px 0px
      color-mix(in srgb, var(--p-green-500), transparent 96%);
    --p-toast-success-close-button-hover-background: rgba(255, 255, 255, 0.05);
    --p-toast-success-close-button-focus-ring-color: var(--p-green-500);
    --p-toast-success-close-button-focus-ring-shadow: none;
    --p-toast-info-background: var(--p-gray-00);
    --p-toast-info-border-color: color-mix(
      in srgb,
      var(--p-blue-700),
      transparent 64%
    );
    --p-toast-info-color: var(--p-blue-500);
    --p-toast-info-detail-color: var(--p-gray-900);
    --p-toast-info-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    --p-toast-info-close-button-hover-background: rgba(255, 255, 255, 0.05);
    --p-toast-info-close-button-focus-ring-color: var(--p-blue-500);
    --p-toast-info-close-button-focus-ring-shadow: none;
    --p-toast-blur: 10px;
  }
}

.p-toast {
  width: var(--p-toast-width);
  white-space: pre-line;
  word-break: break-word;
  z-index: 100;
  width: 300px;
}
.p-toast-message {
  margin: 0 0 8px 0;
  display: grid;
  grid-template-rows: 1fr;
}
.p-toast-message-icon {
  flex-shrink: 0;
  font-size: var(--p-toast-icon-size);
  width: var(--p-toast-icon-size);
  height: var(--p-toast-icon-size);
  display: none;
}
.p-toast-message-content {
  display: flex;
  align-items: flex-start;
  padding: var(--p-toast-content-padding);
  gap: var(--p-toast-content-gap);
  min-height: 0;
  overflow: hidden;
  transition: padding 250ms ease-in;
}
.p-toast-message-text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--p-toast-text-gap);
}
.p-toast-summary {
  font-weight: var(--p-toast-summary-font-weight);
  font-size: var(--p-toast-summary-font-size);
}
.p-toast-detail {
  font-weight: var(--p-toast-detail-font-weight);
  font-size: var(--p-toast-detail-font-size);
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.4px;
  text-align: center;
  @include breakpoint {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.35px;
    word-break: keep-all;
  }
}
.p-toast-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: transparent;
  transition:
    background var(--p-toast-transition-duration),
    color var(--p-toast-transition-duration),
    outline-color var(--p-toast-transition-duration),
    box-shadow var(--p-toast-transition-duration);
  outline-color: transparent;
  color: inherit;
  width: var(--p-toast-close-button-width);
  height: var(--p-toast-close-button-height);
  border-radius: var(--p-toast-close-button-border-radius);
  margin: -25% 0 0 0;
  right: -25%;
  padding: 0;
  border: none;
  user-select: none;
  display: none;
}
.p-toast-close-button:dir(rtl) {
  margin: -25% 0 0 auto;
  left: -25%;
  right: auto;
}
.p-toast-message-info,
.p-toast-message-success,
.p-toast-message-warn,
.p-toast-message-error,
.p-toast-message-secondary,
.p-toast-message-contrast {
  border-width: var(--p-toast-border-width);
  border-style: solid;
  backdrop-filter: blur(var(--p-toast-blur));
  border-radius: var(--p-toast-border-radius);
}
.p-toast-close-icon {
  font-size: var(--p-toast-close-icon-size);
  width: var(--p-toast-close-icon-size);
  height: var(--p-toast-close-icon-size);
  display: none !important;
}
.p-toast-close-button:focus-visible {
  outline-width: var(--p-focus-ring-width);
  outline-style: var(--p-focus-ring-style);
  outline-offset: var(--p-focus-ring-offset);
}
.p-toast-message-info {
  background: var(--p-toast-info-background);
  border-color: var(--p-toast-info-border-color);
  color: var(--p-toast-info-color);
  box-shadow: var(--p-toast-info-shadow);
}
.p-toast-message-info .p-toast-detail {
  color: var(--p-toast-info-detail-color);
}
.p-toast-message-info .p-toast-close-button:focus-visible {
  outline-color: var(--p-toast-info-close-button-focus-ring-color);
  box-shadow: var(--p-toast-info-close-button-focus-ring-shadow);
}
.p-toast-message-info .p-toast-close-button:hover {
  background: var(--p-toast-info-close-button-hover-background);
}
.p-toast-message-success {
  background: var(--p-toast-success-background);
  border-color: var(--p-toast-success-border-color);
  color: var(--p-toast-success-color);
  box-shadow: var(--p-toast-success-shadow);
}
.p-toast-message-success .p-toast-detail {
  color: var(--p-toast-success-detail-color);
}
.p-toast-message-success .p-toast-close-button:focus-visible {
  outline-color: var(--p-toast-success-close-button-focus-ring-color);
  box-shadow: var(--p-toast-success-close-button-focus-ring-shadow);
}
.p-toast-message-success .p-toast-close-button:hover {
  background: var(--p-toast-success-close-button-hover-background);
}
.p-toast-message-warn {
  background: var(--p-toast-warn-background);
  border-color: var(--p-toast-warn-border-color);
  color: var(--p-toast-warn-color);
  box-shadow: var(--p-toast-warn-shadow);
}
.p-toast-message-warn .p-toast-detail {
  color: var(--p-toast-warn-detail-color);
}
.p-toast-message-warn .p-toast-close-button:focus-visible {
  outline-color: var(--p-toast-warn-close-button-focus-ring-color);
  box-shadow: var(--p-toast-warn-close-button-focus-ring-shadow);
}
.p-toast-message-warn .p-toast-close-button:hover {
  background: var(--p-toast-warn-close-button-hover-background);
}
.p-toast-message-error {
  background: var(--p-toast-error-background);
  border-color: var(--p-toast-error-border-color);
  color: var(--p-toast-error-color);
  box-shadow: var(--p-toast-error-shadow);
}
.p-toast-message-error .p-toast-detail {
  color: var(--p-toast-error-detail-color);
}
.p-toast-message-error .p-toast-close-button:focus-visible {
  outline-color: var(--p-toast-error-close-button-focus-ring-color);
  box-shadow: var(--p-toast-error-close-button-focus-ring-shadow);
}
.p-toast-message-error .p-toast-close-button:hover {
  background: var(--p-toast-error-close-button-hover-background);
}
.p-toast-message-secondary {
  background: var(--p-toast-secondary-background);
  border-color: var(--p-toast-secondary-border-color);
  color: var(--p-toast-secondary-color);
  box-shadow: var(--p-toast-secondary-shadow);
}
.p-toast-message-secondary .p-toast-detail {
  color: var(--p-toast-secondary-detail-color);
}
.p-toast-message-secondary .p-toast-close-button:focus-visible {
  outline-color: var(--p-toast-secondary-close-button-focus-ring-color);
  box-shadow: var(--p-toast-secondary-close-button-focus-ring-shadow);
}
.p-toast-message-secondary .p-toast-close-button:hover {
  background: var(--p-toast-secondary-close-button-hover-background);
}
.p-toast-message-contrast {
  background: var(--p-toast-contrast-background);
  border-color: var(--p-toast-contrast-border-color);
  color: var(--p-toast-contrast-color);
  box-shadow: var(--p-toast-contrast-shadow);
}
.p-toast-message-contrast .p-toast-detail {
  color: var(--p-toast-contrast-detail-color);
}
.p-toast-message-contrast .p-toast-close-button:focus-visible {
  outline-color: var(--p-toast-contrast-close-button-focus-ring-color);
  box-shadow: var(--p-toast-contrast-close-button-focus-ring-shadow);
}
.p-toast-message-contrast .p-toast-close-button:hover {
  background: var(--p-toast-contrast-close-button-hover-background);
}
.p-toast-top-center {
  transform: translateX(-50%);
}
.p-toast-bottom-center {
  transform: translateX(-50%);
}
.p-toast-center {
  min-width: 20vw;
  transform: translate(-50%, -50%);
}
.p-toast-message-enter-active {
  animation: p-animate-toast-enter 300ms ease-out;
}
.p-toast-message-leave-active {
  animation: p-animate-toast-leave 250ms ease-in;
}
.p-toast-message-leave-to .p-toast-message-content {
  padding-top: 0;
  padding-bottom: 0;
}
@keyframes p-animate-toast-enter {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    grid-template-rows: 1fr;
  }
}
@keyframes p-animate-toast-leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    margin-bottom: 0;
    grid-template-rows: 0fr;
    transform: translateY(-100%) scale(0.6);
  }
}
