@use '../mixins' as *;
:root,
:host {
  --p-tooltip-max-width: auto;
  --p-tooltip-gutter: 5px;
  --p-tooltip-shadow: none;
  --p-tooltip-padding: 10px 20px;
  --p-tooltip-border-radius: 20px;
  --p-tooltip-background: var(--p-gray-900);
  --p-tooltip-color: var(--p-gray-00);
}

.p-dark {
  --p-tooltip-background: var(--p-surface-700);
  --p-tooltip-color: var(--p-surface-0);
}

.p-tooltip {
  position: absolute;
  display: none;
  max-width: var(--p-tooltip-max-width);
  margin-top: -8px;
}

.p-tooltip-right,
.p-tooltip-left {
  padding: 0 var(--p-tooltip-gutter);
}

.p-tooltip-top,
.p-tooltip-bottom {
  padding: var(--p-tooltip-gutter) 0;
}

.p-tooltip-text {
  white-space: pre-line;
  word-break: break-word;
  background: var(--p-tooltip-background);
  color: var(--p-tooltip-color);
  padding: var(--p-tooltip-padding);
  box-shadow: var(--p-tooltip-shadow);
  border-radius: var(--p-tooltip-border-radius);
  white-space: noWrap;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.4px;
}

.p-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.p-tooltip-right .p-tooltip-arrow {
  margin-top: calc(-1 * var(--p-tooltip-gutter));
  border-width: var(--p-tooltip-gutter) var(--p-tooltip-gutter)
    var(--p-tooltip-gutter) 0;
  border-right-color: var(--p-tooltip-background);
}

.p-tooltip-left .p-tooltip-arrow {
  margin-top: calc(-1 * var(--p-tooltip-gutter));
  border-width: var(--p-tooltip-gutter) 0 var(--p-tooltip-gutter)
    var(--p-tooltip-gutter);
  border-left-color: var(--p-tooltip-background);
}

.p-tooltip-top .p-tooltip-arrow {
  margin-left: calc(-1 * var(--p-tooltip-gutter));
  border-width: var(--p-tooltip-gutter) var(--p-tooltip-gutter) 0
    var(--p-tooltip-gutter);
  border-top-color: var(--p-tooltip-background);
  border-bottom-color: var(--p-tooltip-background);
}

.p-tooltip-bottom .p-tooltip-arrow {
  margin-left: calc(-1 * var(--p-tooltip-gutter));
  border-width: 0 var(--p-tooltip-gutter) var(--p-tooltip-gutter)
    var(--p-tooltip-gutter);
  border-top-color: var(--p-tooltip-background);
  border-bottom-color: var(--p-tooltip-background);
}
